:host {
  position: relative;
  width: 100%;
  max-width: 190px;
  margin-bottom: 8px;
}

mat-slider,
mat-form-field,
mat-checkbox {
  width: 100%;
}

mat-checkbox {
  display: inline-block;
  text-align: left;
}

mat-checkbox.nowrap {
  white-space: nowrap;
}

mat-icon {
  position: relative; 
  top: 3px;
  width: 17px;
  height: 17px;
  font-size: 17px;

  &.advanced {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
  }
}

button {
  width: 100%;
}

.label {
  font-size: 0.8rem;
  color: #ccc;
}

.setting {
  display: inline-block;
  flex: 1 1 0;
  position: relative;
  width: 100%;
  max-width: 170px;
  max-height: 70px;
  color: #eee;
}

mat-form-field.setting {
  margin: 0;
}

.setting.select, .setting.slider {
  top: 8px;
}

.boat {
  display: inline-block;
  width: 40px;
  margin: 0 8px;
}

.boat img {
  width: 25px;
  height: 25px;
}

.boatoption {
  position: relative;
  top: 6px;
  margin-right: 4px;
}
