:host {
  width: 100%;
  max-width: 190px;
}

mat-slider,
mat-form-field,
mat-checkbox {
  width: 100%;
}

mat-checkbox {
  display: inline-block;
  text-align: left;
}

button {
  width: 100%;
  background: rgb(199, 33, 33);
}

.label {
  font-size: 0.8rem;
  color: #ccc;
}

.setting {
  flex: 1 1 0;
  position: relative;
  margin-bottom: 8px;
  width: 100%;
  max-width: 170px;
  max-height: 70px;
  color: #eee;
}

mat-form-field.setting {
  margin: 0;
}

.boat {
  display: inline-block;
  width: 40px;
  margin: 0 8px;
}

.boat img {
  width: 25px;
  height: 25px;
}

.boatoption {
  position: relative;
  top: 6px;
  margin-right: 4px;
}
