@if (setting.type === 'boat') {
  <div
    class="setting boat">
    @if (settingValue) {
      <mat-select
        [panelWidth]="240"
        [value]="settingValue.stream | async"
        (selectionChange)="save($event.value)">
        <mat-select-trigger>
          @if (settingValue.value !== undefined) {
            <img
              [src]="getShipLink(settingValue.value)"
              [matTooltip]="setting.titles[settingValue.value] || ''">
          }
        </mat-select-trigger>
        @for (g of setting.groups; track $index) {
          <mat-optgroup
            [label]="g.name">
            @for (o of g.options; track $index) {
              <mat-option
                [value]="o">
                <img class="boatoption"
                  height="25px"
                  width="25px"
                  [src]="getShipLink(o)">{{setting.titles[o]}}
                </mat-option>
              }
            </mat-optgroup>
          }
        </mat-select>
      }
    </div>
  }

  @if (setting.type === 'option') {
    <div
      class="setting select">
    <mat-form-field [appearance]="'outline'">
      <mat-label>{{setting.label}}</mat-label>
      <mat-select [value]="settingValue.stream | async"
        [disabled]="disabled() || setting.admin && (ss.admin$ | async) === false"
        (selectionChange)="save($event.value)">
        @for (option of setting.options; track i; let i = $index) {
          @if (option) {
            <mat-option
            [value]="i">{{option}}</mat-option>
          }
        }
      </mat-select>
    </mat-form-field>
    @if (setting.advancedComponent) {
      <mat-icon
        matTooltip="Advanced"
        class="advanced"
      (click)="openAdvanced()">settings</mat-icon>
    }
  </div>
}


@if (setting.type === 'button') {
  <div
    class="setting">
    @if (!(setting.admin && (ss.admin$ | async) === false)) {
      <button
        mat-raised-button
        color="accent"
      (click)="send()">{{setting.label}}</button>
    }
  </div>
}

@if (setting.type === 'slider') {
  <div
    class="setting slider mat-mdc-form-field">
    <span class="label">{{setting.label}} ({{setting.stepLabels?.[slider.valueAsNumber] ||
    slider.value}})</span>
    <mat-slider [min]="setting.min"
      [max]="setting.max"
      [step]="setting.step"
      [color]="'accent'"
      [disabled]="disabled() || setting.admin && (ss.admin$ | async) === false">
      <input #slider
        matSliderThumb
        [disabled]="disabled() || setting.admin && (ss.admin$ | async) === false"
        [value]="settingValue.stream | async"
        (valueChange)="save($event)">
    </mat-slider>
    @if (setting.advancedComponent) {
      <mat-icon
        matTooltip="Advanced"
        class="advanced"
      (click)="openAdvanced()">settings</mat-icon>
    }
  </div>
}

@if (setting.type === 'checkbox') {
  <div
    class="setting"
    [matTooltip]="$any(settingValue.data?.['icon'])?.text"
    [matTooltipPosition]="'above'">
    <mat-checkbox [checked]="!!(settingValue.stream | async)"
      [class.nowrap]="settingValue.data?.['icon']"
      [disabled]="disabled() || setting.admin && (ss.admin$ | async) === false"
      (change)="save(+$event.checked)">
      <span class="checkbox-text">{{setting.label}}</span>&nbsp;
      @if (settingValue.data?.['icon']; as icon) {
        <mat-icon
        [color]="$any(icon).color">{{$any(icon).name}}</mat-icon>
      }
    </mat-checkbox>
  </div>
}
