#matches {
  text-align: center;
  height: 100%;
  padding-top: 18px;
  display: grid;
  grid-template-rows: min-content min-content auto;
  overflow-x: hidden;
}

#matchesTable {
  height: 100%;
  min-height: 300px;
}

:host ::ng-deep .cdk-virtual-scroll-content-wrapper {
  padding-bottom: 200px;
}

table {
  width: 800px;
  max-width: 95%;
  min-width: 0;
  margin: 0 auto;
}

td,
th {
  word-wrap: break-word;
  text-align: center;
  overflow: visible;
}

mat-form-field {
  margin: 0 16px;
}

.tag-list {
  width: 400px;
  max-width: 90%;
}

.result0 {
  color: grey;
}

.result1 {
  color: red;
}

.result2 {
  color: darkorange;
}

.result3 {
  color: green;
}
