<div id="matches">
  <mat-form-field>
    <mat-select [(value)]="stat.group"
                (valueChange)="stat.changeGroup()"
                placeholder="Category">
      <mat-option [value]="0">Quacken ({{matches[0]?.length}})</mat-option>
      <mat-option [value]="1">Cadesim ({{matches[1]?.length}})</mat-option>
      <mat-option [value]="2">Sea Battle ({{matches[2]?.length}})</mat-option>
      <mat-option [value]="3">Capture the Flag ({{matches[3]?.length}})</mat-option>
    </mat-select>
  </mat-form-field>
  <form *ngIf="ws.user?.admin">
    <!-- <mat-form-field floatLabel="never"> -->
    <q-name-search [value]="stat.target"
                   (valueChange)="fetchMatches($event)"></q-name-search>
    <!-- </mat-form-field> -->
  </form>

  <table>
    <thead>
      <tr>
        <th>Lobby</th>
        <th>Date</th>
        <th>Score</th>
        <th>Result</th>
        <th>Team</th>
        <th>Players</th>
        <th>View</th>
      </tr>
    </thead>
    <tr *ngFor="let row of matches[stat.group]">
      <td>{{row.lobby}}</td>
      <td>{{row.createdAtString}}</td>
      <td>{{row.score}}</td>
      <td class="result{{row.result}}">{{results[row.result]}}</td>
      <td><img [src]="teamImages[row.team].src"
             [title]="teamImages[row.team].title"></td>
      <td>
        <q-team-view [teams]="row.teams"
                     [playerLength]="row.players.length"></q-team-view>
      </td>
      <td><button mat-raised-button
                (click)="openMatch(row)">Open</button></td>
    </tr>
  </table>
</div>
