#matches {
  text-align: center;
  height: 100%;
  padding-top: 18px;
}

#matchesTable {
  height: calc(100% - 130px);
}

:host ::ng-deep .cdk-virtual-scroll-content-wrapper {
  contain: none;
}

form {
  margin-bottom: 8px;
}

table {
  max-width: 800px;
  min-width: 0;
  margin: 0 auto;
}

td,
th {
  word-wrap: break-word;
  text-align: center;
  overflow: visible;
}

mat-form-field {
  margin: 8px 16px;
}

.result0 {
  color: grey;
}

.result1 {
  color: red;
}

.result2 {
  color: darkorange;
}

.result3 {
  color: green;
}
