<div id="matches">
  <q-name-search [value]="stat.target"
                 (valueChange)="fetchMatches($event)"></q-name-search>
  <div>
    <mat-form-field>
      <mat-select [(value)]="stat.group"
                  (valueChange)="stat.changeGroup(); updateDataSource()"
                  placeholder="Category">
        <mat-option [value]="0">Quacken ({{matches[0]?.length}})</mat-option>
        <mat-option [value]="1">Cadesim ({{matches[1]?.length}})</mat-option>
        <mat-option [value]="2">Sea Battle ({{matches[2]?.length}})</mat-option>
        <mat-option [value]="3">Capture the Flag ({{matches[3]?.length}})</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="tag-list">
      <mat-label>Filter</mat-label>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let term of searchTerms; let i = index"
                  (removed)="removeSearchTerm(i)"
                  [removable]="true">
          {{term}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input matInput
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="true"
               (matChipInputTokenEnd)="addSearchTerm($event)"
               (keyup)="applyFilter($any($event.target).value)">
      </mat-chip-list>
    </mat-form-field>
  </div>

  <cdk-virtual-scroll-viewport *ngIf="matches[stat.group]?.length"
                               id="matchesTable"
                               [footerHeight]="200"
                               [footerEnabled]="true"
                               [tvsItemSize]="52">
    <table mat-table
           matSort
           matSortStart="desc"
           matSortDisableClear="true"
           [dataSource]="dataSource">
      <tr mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns;"></tr>

      <ng-container matColumnDef="lobby">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef>Lobby</th>
        <td mat-cell
            class="lobby-cell"
            *matCellDef="let element">{{element.lobby}}</td>
      </ng-container>

      <ng-container matColumnDef="createdAtString">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef>Date</th>
        <td mat-cell
            *matCellDef="let element">{{element.createdAtString}}</td>
      </ng-container>

      <ng-container matColumnDef="rank">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef>Rank</th>
        <td mat-cell
            class="tier {{element.rank > 0 && tierTitles[element.tier]}}"
            [matTooltip]="element.rank > 0 ? tierTitles[element.tier] || '' : 'Unranked'"
            *matCellDef="let element">{{element.rank}}</td>
      </ng-container>

      <ng-container matColumnDef="result">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef>Result</th>
        <td mat-cell
            *matCellDef="let element"
            class="result{{element.result}}">
          {{results[element.result]}}
        </td>
      </ng-container>

      <ng-container matColumnDef="team">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef>Team</th>
        <td mat-cell
            *matCellDef="let element">
          <img [src]="imgSrc(element.team)"
               [matTooltip]="imgTitle(element.team)">
        </td>
      </ng-container>

      <ng-container matColumnDef="players">
        <th mat-header-cell
            mat-sort-header
            *matHeaderCellDef>Players</th>
        <td mat-cell
            *matCellDef="let element">
          <q-team-view [teams]="element.teams"
                       [playerLength]="element.players.length"></q-team-view>
        </td>
      </ng-container>

      <ng-container matColumnDef="view">
        <th mat-header-cell
            *matHeaderCellDef>View</th>
        <td mat-cell
            *matCellDef="let element">
          <a mat-raised-button
             [href]="'/#/replay/' + element.matchId"
             target="_blank">Open</a>
        </td>
      </ng-container>
    </table>
  </cdk-virtual-scroll-viewport>
</div>
