#background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f618d;
    overflow: hidden;
}

q-boats {
    position: absolute;
    top: 0;
    left: 0;
}

#mapcenter {
    position: absolute;
    transform: translate(50vw, 50vh) translate(-50%, -50%);
}

#mapCanvas {
    width: 1250px;
    height: 2600px;
}

#maprows {
    position: relative;
    border: 1px solid grey;
    line-height: 0;
    white-space: nowrap;
}
