@if (ws.user?.id) {
  <ng-container
    class="buttons">
    @for (c of competitions; track c) {
      <mat-card
        mat-dialog-content>
        <h3>{{c.description}}</h3>
        <mat-form-field [appearance]="'outline'">
          <mat-select [(ngModel)]="selectedRound"
            (selectionChange)="selectedRound = $any($event).value">
            @for (r of c.rounds; track r) {
              <mat-option
                [value]="r">
                {{r.description}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <div class="buttons">
          @for (game of selectedRound?.games; track game; let i = $index) {
            <button
              mat-raised-button
              [disabled]="created"
              (click)="createLobby(game)">
              {{$any(game).name?.data || 'Game ' + i}}
            </button>
          }
        </div>
      </mat-card>
    }
  </ng-container>
}

@if (!ws.user?.id) {
  <p
    class="error">
    Guests cannot make lobbies. Join an existing lobby or create an account
    to make your own.
  </p>
}
