<ng-container *ngIf="ws.user?.id"
              class="buttons">
  <mat-card *ngFor="let c of competitions">
    <h3>{{c.description}}</h3>
    <!-- <ng-select [items]="c.rounds"
               [clearable]="false"
               bindLabel="description"
               [appendTo]="'body'"
               [(ngModel)]="selectedRound"></ng-select> -->
    <div class="buttons">
      <button *ngFor="let game of selectedRound?.games; let i = index"
              mat-raised-button
              [disabled]="created"
              (click)="createLobby(game)">
        {{$any(game).name?.data || 'Game ' + i}}
      </button>
    </div>
  </mat-card>
</ng-container>

<p *ngIf="!ws.user?.id"
   class="error">
  Guests cannot make lobbies. Join an existing lobby or create an account
  to make your own.
</p>
