@import "../../styles/colors.scss";

#backgroundframe {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    transition: 0.2s ease-out, opacity 0.4s linear;
    z-index: 10;

    &.closed {
        height: 40px;
        width: 40px;
        opacity: 0.3;
    }
}

#toggleesc {
    position: absolute;
    color: #eee;
    font-size: 24px;
    z-index: 10;
}

#background {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: calc(100vh - 150px) 150px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(7, 7, 48, 0.9);
    color: #eee;
}

#content {
    position: relative;
    height: 100%;
}

#side-menu {
    display: flex;
    grid-row: 1 / 3;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(90deg, rgba(0, 0, 90, 1) 0%, rgba(9, 9, 121, 1) 99%, rgba(0, 146, 255, 1) 100%);
    border-right: 2px solid black;

    div {
        width: 100%;
        border-bottom: 1px solid grey;
        padding: 16px;
        text-align: center;
        cursor: pointer;
        transition: 0.2s;
    }

    div:last-child {
        border-bottom: none;
    }

    div.selected {
        color: mat-color($primary);
        background-color: rgba(255, 255, 255, 0.08);
    }

    div:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .action {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .action:hover {
        background-color: rgba(0, 0, 0, 0.15);
    }
}

#chatframe {
    background: linear-gradient(0, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 85%, rgba(0, 146, 255, 1) 100%);
    text-align: center;

    q-chat {
        display: inline-block;
        width: 100%;
        max-width: 750px;
    }
}
