@import "../../styles/colors.scss";

#backgroundframe {
  position: absolute;
  overflow: auto;
  height: 100%;
  width: 100%;
  padding: 0.5% 0.5% 0.5% 0.5%;
  z-index: 10;
  opacity: 0;
  pointer-events: none;

  &.open {
    opacity: 1;
    pointer-events: initial;
  }
}

#toggleesc {
  position: absolute;
  color: #eee;
  font-size: 24px;
  z-index: 50;
}

#side-menu {
  display: grid;
  grid-template-columns: 55px minmax(100px, 1fr);
  grid-template-rows: calc(100vh - 145px - 10%) 145px;
  row-gap: 1%;
  column-gap: 2%;
  padding: 2% 2% 2% 2%;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(66, 66, 66, 0.9);
  color: #eee;
}

#menuButtons {
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  justify-content: center;

  .mat-button {
    width: 75px;
    height: 50px;
  }

  .mat-button:hover {
    background-color: none;
  }
}

.discord {
  background: url("../../assets/images/discord.png") center no-repeat;
  margin-bottom: 100px;
}

::ng-deep {
  .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background: rgba(235, 66, 66, 0.9);
    color: white;
  }
  .mat-option {
    color: white;
    background: rgba(67, 67, 67, 0.8);
  }
  .mat-option:hover:not(.mat-option-disabled) {
    background-color: rgba(190, 62, 62, 0.9);
  }
  .mat-tab-label:hover {
    background-color: rgba(235, 66, 66, 0.9);
  }
}

// @media screen and (max-width:350px){

//     ::ng-deep .mat-tab-header-pagination {
//         display: none !important;
//     }

//     ::ng-deep .mat-tab-header {
//       overflow-x: scroll !important;
//     }

//     ::ng-deep .mat-tab-label-container {
//       overflow: hidden !important;
//     }
// }

#chatframe {
  grid-column-start: 2;
  grid-column-end: 3;
}
