<button mat-icon-button
        id="toggleesc"
        (click)="es.open = !es.open"
        title="Menu (esc)">
    <mat-icon>menu</mat-icon>
</button>
<div id="backgroundframe"
     [class.open]="es.open">
    <div id="background">
        <div id="side-menu">
            <div id="menuButtons">
                <button mat-button
                    matTooltip="Back to game"
                    [disabled]="!es.open"
                    class="action"
                    (click)="es.open = false">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <button mat-button
                    id="lobbyButton"
                    matTooltip="Return to Lobby"
                    [disabled]="!es.open"
                    *ngIf="es.lobbyContext || es.lobbyComponent"
                    class="action"
                    (click)="leave()">
                    <mat-icon>cancel</mat-icon>
                </button>
                <button mat-button 
                    id="logoutButton"
                    matTooltip="Logout"
                    [disabled]="!es.open"
                    class="action"
                    (click)="logout()">
                    <mat-icon>power_settings_new</mat-icon>
                </button>
            </div>
            <mat-tab-group id="main-tab" (selectedTabChange)="onClick($event)">
                <mat-tab label="PROFILE"
                [disabled]="!es.open">
                <ng-container *ngTemplateOutlet="tabContent"></ng-container>
                </mat-tab>
                <mat-tab label="INVENTORY"
                    *ngIf="ws.user?.id"
                    [disabled]="!es.open">
                    <ng-container *ngTemplateOutlet="tabContent"></ng-container>
                </mat-tab>
                <mat-tab label="SETTINGS"
                    [disabled]="!es.open">
                    <ng-container *ngTemplateOutlet="tabContent"></ng-container>
                </mat-tab>
            </mat-tab-group>
            <div id="chatframe"
                *ngIf="es.open">
                <q-chat [disabled]="!es.open"></q-chat>
            </div>
        </div>
    </div>
</div>

<ng-template #tabContent >
    <div id="content">
        <div [hidden]="es.activeComponent !== es.lobbyComponent">
            <ng-container *ngComponentOutlet="es.lobbyComponent"></ng-container>
        </div>
        <ng-container *ngIf="es.open && es.activeComponent !== es.lobbyComponent">
            <ng-container *ngComponentOutlet="es.activeComponent"></ng-container>
        </ng-container>
    </div>
</ng-template>
