<div [hidden]="!ws.connected"
     id="backgroundframe"
     [class.closed]="!es.open">
    <button mat-icon-button
            id="toggleesc"
            (click)="es.open = !es.open"
            title="Menu (esc)">
        <mat-icon>menu</mat-icon>
    </button>
    <div id="background">
        <div id="side-menu">
            <div class="action"
                 (click)="es.open = false">
                Back to Game
            </div>
            <div *ngIf="es.lobbyComponent"
                 [class.selected]="es.activeComponent === es.lobbyComponent"
                 (click)="es.activeComponent = es.lobbyComponent">
                Lobby
            </div>
            <div [class.selected]="es.activeComponent === InventoryComponent"
                 (click)="es.activeComponent = InventoryComponent">
                Inventory
            </div>
            <div [class.selected]="es.activeComponent === ProfileComponent"
                 (click)="es.activeComponent = ProfileComponent">
                Profile
            </div>
            <div [class.selected]="es.activeComponent === AccountComponent"
                 (click)="es.activeComponent = AccountComponent">
                Account
            </div>
            <div *ngIf="es.lobbyComponent"
                 class="action"
                 (click)="leave()">
                Leave Lobby
            </div>
            <div class="action"
                 (click)="logout()">
                Logout
            </div>
        </div>

        <div id="content"
             *ngIf="es.open">
            <ng-container *ngComponentOutlet="es.activeComponent"></ng-container>
        </div>

        <div id="chatframe">
            <q-chat *ngIf="es.open"></q-chat>
        </div>
    </div>
</div>
