.command {
  line-height: 1.5;
  cursor: pointer;
}

h3 {
  color: rgba(235, 66, 66, 0.9);
  font-weight: bold;
  text-decoration: underline;
}

.base {
  color: yellow;
}

.params {
  color: violet;
}

.help {
  font-style: italic;
}

#helpContainer{
 height: 50vh;
}