:host {
  position: relative;
  display: inline-block;
  top: 4px;
  margin-bottom: 12px;
}

.star mat-icon {
  color: #DBC900;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  margin-right: -7px;
}

.description {
  position: relative;
  bottom: 2px;
  margin-left: 2px;
}

// percentage based css
.stars,
.stars .star-i {
  display: inline-block;
  background: url('/assets/images/stars.png') 0 -16px repeat-x;
  width: 80px;
  height: 16px;
}

.stars .star-i {
  background-position: 0 0;
}

.percent-rating {
  color: #ffc107;
}

.background {
  display: inline-block;
  background-color: grey;
  height: 20px;
  border-radius: 16px;
  padding-left: 5px;
  padding-right: 5px;
}


.map-rating {
  position: absolute;
  top: -2px;
  left: 0;
  text-align: center;
  height: 24px;
  opacity: 0;

  button {
    scale: 0.8;
    margin: -14px;
  }
}

.map-rating.visible {
  opacity: 1;
  position: relative;
}

:host:hover .map-rating {
  opacity: 1;
}