<div>
  @if (isPecentage) {
    <div class="background">
      <div class="stars">
        <span class="star-i"
        [style.width]="getStars(rating || 0)"></span>
      </div>
    </div>&nbsp;
    <span class="percent-rating">{{rating?.toFixed(1) || 0}} ({{count || 0}})</span>
  }

  @if (!forTags) {
    <div class="map-rating background"
      [class.visible]="!isPecentage">
      @for (ratingId of ratingArr; track i; let i = $index) {
        <button
          class="star"
          mat-icon-button
          matTooltipPosition="above"
          [matTooltip]="ratingId+1 + ' star'"
          (click)="onClick(i+1)">
          <mat-icon>
            {{showIcon(i)}}
          </mat-icon>
        </button>
      }
    </div>
  } @else {
    @for (ratingId of ratingArr; track i; let i = $index) {
      <span>
        <span class="star">
          <mat-icon>
            {{showIcon(i)}}
          </mat-icon>
        </span>
      </span>
    }
    <span class="description">&Up</span>
  }

</div>
