@if (map && map.selectedTile && map.tmaps && map.tmapSet) {
  <div
    id="structureset"
    class="container"
    [qDrag]="handle2"
    [bindToWindow]="true">
    <div #handle2
    id="handle2"></div>
    <span>{{map.tmapSet.name}}</span>
    <div id="structurebox">
      @if (map.tmaps) {
        <div
          class="structuretype">
          @for (structure of map.tmaps; track $index) {
            <div
              class="structure"
              [class.unsaved]="structure.unsaved"
              [class.selected]="structure === map.selectedTile"
              (click)="select(structure)">
              <div [matTooltip]="structure.description || ''"
                (dblclick)="editTile()">
              {{structure.name}}</div>
              <span class="delete"
                (click)="deleteTile(structure)">
                X
              </span>
            </div>
          }
        </div>
      }
      @if (!map.tmaps.length) {
        <p>This map set is empty. Create a map to get started!</p>
      }
    </div>
    <button mat-raised-button
    (click)="newTile()">New Map</button>
  </div>
}
