<div *ngIf="map && map.selectedTile && map.tmaps && map.tmapSet"
     [qDrag]="handle2"
     [bindToWindow]="true"
     id="structureset"
     class="container">
    <div #handle2
         id="handle2"></div>
    <span>{{map.tmapSet.name}}</span>
    <div id="structurebox">
        <div class="structuretype"
             *ngIf="map.tmaps">
            <div *ngFor="let structure of map.tmaps"
                 class="structure"
                 [class.unsaved]="structure.unsaved"
                 [class.selected]="structure === map.selectedTile"
                 (click)="select(structure)">
                <div (dblclick)="editTile()"
                     [matTooltip]="structure.description || ''">
                    {{structure.name}}</div>
                <span class="delete"
                      (click)="deleteTile(structure)">
                    X
                </span>
            </div>
        </div>
        <p *ngIf="!map.tmaps.length">This map set is empty. Create a map to get started!</p>
    </div>
    <button mat-raised-button
            (click)="newTile()">New Map</button>
</div>
