@if (showList) {
  <p>Total cost: {{cost}}@if (budget) {
    <span> / {{budget}}</span>
  } </p>
  <div class="boatList">
    @for (boatType of ships; track boatType; let i = $index) {
      <div
        class="boat">
        <span>{{shipLabel(boatType)}}</span>
        <img [src]="getShipLink(boatType)"
          [matTooltip]="ShipTypeMap.get(boatType)?.name || ''">
        <mat-icon (click)="removeShip(i)">cancel</mat-icon>
      </div>
    }
  </div>
  <p>Add ship</p>
}
<mat-chip-listbox>
  @for (boatType of ShipTypes; track boatType) {
    <mat-chip
      [matTooltip]="boatType.name!"
      [disabled]="budget > 0 && (cost + boatType.cost > budget)"
      (click)="addShip(boatType.id)">
      {{boatType.title}} ({{boatType.cost}})
    </mat-chip>
  }
</mat-chip-listbox>
