.boatList {
  display: inline-block;
  margin-top: 8px;
  margin-right: 4px;
  padding-top: 4px;
  min-width: 200px;
  height: 200px;
  border: 1px solid rgb(137, 214, 233);
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}

.boat {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  text-align: center;
  font-size: 14px;
  padding: 4px;
  margin: 4px 8px;
  border: 1px solid black;

  img {
    width: 25px;
    height: 25px;
  }
}

mat-icon {
  cursor: pointer;
}

mat-chip-listbox {
  max-width: 250px;

  mat-chip {
    --mat-chip-label-text-size: 13px;
  }
}