@import '../../../chat/name/tier-colors.scss';

#leaders {
  color: #eee;
  text-align: center;
  overflow-y: scroll;
  height: 100%;
}

.refresh {
  position: absolute;
  top: 4px;
  right: 8px;
  cursor: pointer;
  color: #fff;
}

h2 {
  font-size: 24px;
  margin: 0;
  padding: 8px 24px;
  border-bottom: 2px solid grey;
}

#selection {
  position: relative;
  padding-bottom: 24px;
  padding-top: 8px;
}

table {
  margin: auto;
  width: 400px;
  max-width: 95%;
  min-width: 0;
}

td, th {
  word-wrap: break-word;
  text-align: center;
  max-width: 148px;
}

mat-form-field {
  margin: 0 16px;
  margin-top: 18px;
}

.nameRow{
  background-color: red;
}
