<div id="leaders">
  <button mat-icon-button
          class="refresh"
          (click)="stat.refreshLeaders()">
    <mat-icon>refresh</mat-icon>
  </button>
  <mat-form-field>
    <mat-select [(value)]="stat.group"
                (valueChange)="stat.changeGroup()"
                placeholder="Category">
      <mat-option [value]="0">Quacken</mat-option>
      <mat-option [value]="1">Cadegoose</mat-option>
      <mat-option [value]="2">Sea Battle</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="stat.groupStats">
    <mat-select [(value)]="stat.id"
                (valueChange)="stat.openLeaders($event)"
                placeholder="Statistic">
      <mat-option [value]="stat.group*100 + 99">Rank Leaders</mat-option>
      <mat-option *ngFor="let s of stat.groupStats[stat.group]"
                  [value]="s.id">{{s.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div id="selection">
    <table *ngIf="!stat.rankLeaders">
      <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Value</th>
        <th *ngFor="let c of stat.columns">{{c.title}}</th>
      </tr>
      <tr *ngFor="let row of stat.leaders; let i = index"
        [ngStyle]="{'background-color': (row.from === name) ? 'rgb(44, 44, 44)' : 'transparent'}">
        <td>{{i+1}}</td>
        <td>
          <q-name [message]="row"></q-name>
        </td>
        <td>{{row.value}}</td>
        <td *ngFor="let c of stat.columns">{{row[c.property]}}</td>
      </tr>
    </table>

    <ng-container *ngIf="stat.rankLeaders">
      <h4>Top Tier</h4>
      <table>
        <tr>
          <th>Position</th>
          <th>Name</th>
          <th>Level</th>
          <th>Tier</th>
        </tr>
        <tr *ngFor="let row of stat.rankLeaders.tier; let i = index"
          [ngStyle]="{'background-color': (row.from === name) ? 'rgb(44, 44, 44)' : 'transparent'}">
          <td>{{i+1}}</td>
          <td>
            <q-name [message]="row"></q-name>
          </td>
          <td>{{row.level}}</td>
          <td>{{tierTitles[row.tier]}}</td>
        </tr>
      </table>

      <h4>Top Experience</h4>
      <table>
        <tr>
          <th>Position</th>
          <th>Name</th>
          <th>Level</th>
          <th>Tier</th>
        </tr>
        <tr *ngFor="let row of stat.rankLeaders.xp; let i = index"
          [ngStyle]="{'background-color': (row.from === name) ? 'rgb(44, 44, 44)' : 'transparent'}">
          <td>{{i+1}}</td>
          <td>
            <q-name [message]="row"></q-name>
          </td>
          <td>{{row.level}}</td>
          <td>{{tierTitles[row.tier]}}</td>
        </tr>
      </table>
    </ng-container>
  </div>
</div>
