#leaders {
  color: #eee;
  text-align: center;
  padding-top: 18px;
}

.refresh {
  position: absolute;
  top: 4px;
  right: 8px;
  cursor: pointer;
  color: #fff;
}

h2 {
  font-size: 24px;
  margin: 0;
  padding: 8px 24px;
  border-bottom: 2px solid grey;
}

#selection {
  position: relative;
  padding-bottom: 24px;
  padding-top: 8px;
}

button {
  margin-bottom: 8px;
}

table {
  border-collapse: collapse;
  margin: auto;
}

th {
  position: sticky;
  top: -1px;
  background-color: grey;
}

td, th {
  word-wrap: break-word;
  max-width: 148px;
  padding: 4px 8px;
  border: 1px solid grey;
}

mat-form-field {
  margin: 8px 16px;
}

.nameRow{
  background-color: red;

}
