<div id="leaders">
  <button mat-icon-button
          class="refresh"
          (click)="stat.refreshLeaders()">
    <mat-icon>refresh</mat-icon>
  </button>
  <mat-form-field>
    <mat-select [value]="'q'"
                disabled
                placeholder="Category">
      <mat-option value="q">Quacken</mat-option>
      <mat-option value="c">Cadegoose</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select [(value)]="stat.id"
                (valueChange)="stat.openLeaders($event)"
                placeholder="Statistic">
      <mat-option *ngFor="let s of stats"
                  [value]="s.statId">{{s.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div id="selection">
    <table>
      <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Value</th>
        <th *ngFor="let c of stat.columns">{{c.title}}</th>
      </tr>
      <tr *ngFor="let row of stat.leaders; let i = index">
        <td>{{i+1}}</td>
        <td>
          <q-name [message]="row"></q-name>
        </td>
        <td>{{row.value}}</td>
        <td *ngFor="let c of stat.columns">{{row[c.property]}}</td>
      </tr>
    </table>
  </div>
</div>
