<div [qdrag]="handle2" bindToWindow id="tileset" class="container">
  <div #handle2 id="handle2"></div>
  <mat-form-field>
    <mat-label>Type</mat-label>
    <mat-select [(ngModel)]="activeType">
      <mat-option *ngFor="let type of types; let i = index" [value]="i">
        {{type}} <span *ngIf="map.tiles[i]">({{map.tiles[i].length}})</span>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div id="tilebox">
    <div class="tiletype" *ngIf="map.tiles[activeType]; else empty">
      <div *ngFor="let tile of map.tiles[activeType]" class="tile"
        [class.unsaved]="tile.unsaved"
        [class.selected]="tile === map.selectedTile" (click)="select(tile)">
        <div (dblclick)="editTile()" [title]="tile.description">{{tile.name}}
        </div>
        <span *ngIf="tile.weight === 0" class="delete"
          (click)="deleteTile(tile)">
          X
        </span>

        <div class="weight"
          title="How common this tile should be relative to the rest of the same type.">
          <mat-form-field>
            <input matInput placeholder="Weight" type="number" max="100" min="0"
              [disabled]="pending" [(ngModel)]="tile.weight"
              (change)="saveWeight(tile)">
          </mat-form-field>
        </div>
      </div>
    </div>
    <ng-template #empty>
      <p>
        This tile set does not have any tiles of this type yet. Create a tile to
        get started!
      </p>
    </ng-template>
  </div>
  <button mat-raised-button (click)="newTile()">New Tile</button>
</div>
