#friends {
  position: absolute;
  top: calc(50% - 150px);
  right: 10px;
  width: 220px;
  max-height: 300px;
  padding: 0;
  overflow: hidden;
  background: rgba(66, 66, 66, 0.85);
}

.highlight {
  color: orange;
}

.empty {
  text-align: center;
  color: #bbb;
  padding: 8px 16px;
  margin-bottom: 8px;
}

.invite {
  padding: 16px;
  margin-bottom: 8px;
  text-align: center;
  color: #eee;
  border: 1px solid grey;
  border-radius: 4px;
}

.accept {
  background: darkgreen;
  margin-right: 8px;
}

.lobbyPlayer {
  text-align: center;
  font-size: 18px;
  padding: 4px;
  margin: 4px 8px;
  border: 1px solid black;
  color: #eee;
}

.online, .offline {
  text-align: center;
  font-size: 18px;
  border: 1px solid black;
  cursor: pointer;
}

.offline {
  color: #aaa;
}

.handle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 24px;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 4px;
  right: 8px;
  cursor: pointer;
  color: #fff;
}

#selection {
  height: 250px;
  overflow: auto;
  padding-bottom: 24px;
}

#nav {
  text-align: left;
  padding-top: 24px;
  border-bottom: 2px solid grey;
}

.link {
  display: inline-block;
  width: auto;
  padding: 4px 8px;
  color: #fff;
  cursor: pointer;
  transition: .3s;
  user-select: none;
}

.link:hover, .link.active {
  background-color: rgba(86, 86, 86, 0.7);
}

.link.active * {
  color: #F7DC6F;
  cursor: default;
}

::ng-deep .mat-expansion-panel-body {
  padding: 16px 8px !important;
}
