@use '~@angular/material' as mat;
@import "../../../styles/colors.scss";

#friends {
  position: absolute;
  top: calc(50% - 150px);
  right: 10px;
  width: 220px;
  height: 300px;
  max-height: 300px;
  padding: 0;
  overflow: hidden;
  background: rgba(66, 66, 66, 0.85);
  z-index: 10;
}

mat-tab-group {
  height: 270px;
}

.highlight {
  color: mat.get-color-from-palette($primary);
}

.empty {
  text-align: center;
  color: #bbb;
  padding: 8px 16px;
  margin-bottom: 8px;
}

.invite {
  padding: 16px;
  margin-bottom: 8px;
  text-align: center;
  color: #eee;
  border: 1px solid grey;
  border-radius: 4px;
}

.accept {
  margin-right: 8px;
}

.lobbyPlayer {
  text-align: center;
  font-size: 18px;
  padding: 4px;
  margin: 4px 8px;
  border: 1px solid black;
  color: #eee;
}

.online,
.offline {
  text-align: center;
  font-size: 18px;
  border: 1px solid black;
  cursor: pointer;
}

.offline {
  color: #aaa;
}

.handle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 24px;
  cursor: grab;
}

#nav {
  padding-top: 24px;
}

::ng-deep div.mat-tab-label {
  min-width: 20px;
  padding: 0 12px;
}

::ng-deep .mat-expansion-panel-body {
  padding: 16px 8px !important;
}
