<div class="container">
  @for (team of teams; track i; let i = $index) {
    <div
      class="team"
      [style.borderColor]="teamColors[i]"
      [class.sameteam]="myTeam === i"
      [class.nothovered]="hoveredTeam !== i || hoveredTeam === -1"
      [class.showteams]="statOpacity">
      <table>
        <tr>
          <th>{{teamNames[i]}}</th>
          @for (c of (showExtra ? extraColumns : columns); track c.title) {
            <th>{{c.title}}</th>
          }
        </tr>
        @for (r of team; track $index) {
          <tr>
            <td>{{r.user}}</td>
            @for (c of (showExtra ? extraColumns : columns); track c.title) {
              <td>{{r.stats[c.stat] || 0}}</td>
            }
          </tr>
        }
      </table>
    </div>
  }
</div>
