.container {
    border-radius: 4px;
    color: #eee;
    font-size: 12px;
    opacity: 0.9;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #eee;
    padding: 4px 8px;
}

.defenders {
    border: 1px solid lime;
}

.attackers {
    margin-top: 6px;
    border: 1px solid red;
}
