<mat-card id="menu">
  <div *ngIf="statsOpen; else teams">
    <q-stat-end [stats]="es.lobbyContext?.stats"
                (closeStats)="statsOpen = false"
                [columns]="columns"
                (rateMap)="submitRating($event)"
                [rating]=true></q-stat-end>
  </div>
  <ng-template #teams>
    <h2>Match Settings</h2>
    <div id="flexmenu"
         *ngrxLet="es.open$ as open">
      <div class="teamwrap"
           *ngFor="let team of teamPlayers$ | async; let i = index">
        <button mat-raised-button
                [disabled]="!open || !ws.connected"
                (click)="joinTeam(i)">{{myTeam === i ? 'Leave' : 'Join'}}</button>
        <br>
        <p class="teamcount">{{teamNames[i]}}: {{plural(team.length)}}</p>
        <div class="team"
             [style.borderColor]="teamColors[i]">
          <div *ngFor="let m of team"
               class="lobbyPlayer"
               [class.ready]="m.message.r">
            <q-name [message]="m"></q-name>
            <img *ngIf="m.sId === ws.sId && ws.connected; else boatImage"
                 [matMenuTriggerFor]="jobbers"
                 src="./assets/boats/{{links[m.message.b]}}.png"
                 [class.lowjobbers]="m.message.jq < 100"
                 [title]="boatTitles[m.message.b] + ' ' + m.message.jq + '%'">
            <mat-menu #jobbers="matMenu">
              <mat-card class="jobberSelect"
                        (click)="$event.stopPropagation()">
                <span>Your Jobber Quality ({{myJobbers}}%)</span><br>
                <mat-slider [value]="myJobbers"
                            (valueChange)="updateJobbers($event)"
                            (input)="myJobbers = $event.value || 0"
                            max="100"
                            step="5"></mat-slider>
              </mat-card>
            </mat-menu>
            <ng-template #boatImage>
              <img src="./assets/boats/{{links[m.message.b]}}.png"
                   [class.lowjobbers]="m.message.jq < 100"
                   [title]="boatTitles[m.message.b] + ' ' + m.message.jq + '%'">
            </ng-template>
          </div>
        </div>
      </div>

      <div id="buttons">
        <button *ngIf="(ss.admin$ | async) && !roundGoing && ws.connected"
                mat-raised-button
                (click)="shuffleTeams()">Shuffle Teams</button>
        <br>
        <button mat-raised-button
                [disabled]="!open"
                color="accent"
                id="ready"
                [class.cancel]="ready"
                (click)="toggleReady()">{{myBoat.isMe ? 'Close' : myTeam === 99 ? 'Spectate' : ready ? 'Not Ready' :
          'Ready'}}</button>
        <q-setting *ngIf="ss.admin$ | async"
                   name="startNew"
                   id="start"></q-setting>
        <q-setting name="flagNextBoat"></q-setting>
        <button mat-icon-button
                [matTooltip]="'About this game mode'"
                [matTooltipPosition]="'above'"
                (click)="openHelp()">
          <mat-icon>info</mat-icon>
        </button>
      </div>
    </div>
  </ng-template>
</mat-card>
