<mat-card id="menu">
  <div *ngIf="statsOpen; else teams">
    <q-stat-end [stats]="es.lobbyContext?.stats"
                (closeStats)="statsOpen = false"
                [columns]="columns"
                (rateMap)="submitRating($event)"
                [rating]=true></q-stat-end>
  </div>
  <ng-template #teams>
    <h2>Match Settings</h2>
    <div id="flexmenu"
         *ngrxLet="es.open$ as open">
      <div class="teamwrap"
           *ngFor="let team of teamPlayers$ | async; let i = index">
        <button mat-raised-button
                *ngIf="(status | async) === 0 || (settings.hotEntry.stream | async) === 1"
                [disabled]="!open || (ws.connected$ | async) === false"
                (click)="joinTeam(i)">{{myTeam === i ? 'Leave' : 'Join'}}</button>
        <br>
        <p class="teamcount">{{teamNames[i]}}: {{plural(team.length)}}</p>
        <div class="team"
             [style.borderColor]="teamColors[i]">
          <div *ngFor="let m of team"
               class="lobbyPlayer"
               [class.ready]="m.r">
            <q-name [message]="m"></q-name>
            <img *ngIf="m.sId === ws.sId && ws.connected; else boatImage"
                 [matMenuTriggerFor]="jobbers"
                 src="./assets/boats/{{links[m.b]}}.png"
                 [class.lowjobbers]="m.jq < 100"
                 [matTooltip]="boatTitles[m.b] + ' ' + m.jq + '%'">
            <mat-menu #jobbers="matMenu">
              <mat-card class="jobberSelect"
                        (click)="$event.stopPropagation()">
                <span>Your Jobber Quality ({{myJobbers}}%)</span><br>
                <mat-slider [value]="myJobbers"
                            (valueChange)="updateJobbers($event)"
                            (input)="myJobbers = $event.value || 0"
                            max="100"
                            step="5"></mat-slider>
              </mat-card>
            </mat-menu>
            <ng-template #boatImage>
              <img src="./assets/boats/{{links[m.b]}}.png"
                   [class.lowjobbers]="m.jq < 100"
                   [matTooltip]="boatTitles[m.b] + ' ' + m.jq + '%'">
            </ng-template>
          </div>
        </div>
      </div>

      <div class="settings">
        <div class="settingRow">
          <button mat-raised-button
                  [disabled]="!open || ((teamPlayers$ | async)?.length || 0) < 2"
                  color="accent"
                  class="readyButton"
                  [class.cancel]="ready"
                  (click)="toggleReady()">{{readyText()}}</button>
          <button *ngIf="(ss.admin$ | async) && (status | async) === 0"
                  mat-raised-button
                  (click)="shuffleTeams()">Shuffle Teams</button>
          <q-setting *ngIf="(ss.admin$ | async) && (settings.rated.stream | async) === 0"
                     name="startNew"></q-setting>
        </div>
        <div class="settingRow">
          <q-setting id="flagNextBoat"
                     name="flagNextBoat"></q-setting>
          <button mat-icon-button
                  [matTooltip]="'About this game mode'"
                  [matTooltipPosition]="'above'"
                  (click)="openHelp()">
            <mat-icon>info</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</mat-card>
