:host {
    text-align: center;
}

#accountWrapper {
    border-top: 2px solid grey;
    padding-top: 32px;
    max-height: calc(100% - 68px);
    overflow-y: auto;
}

#account {
    display: inline-block;
    max-width: 400px;
    margin: auto;

    form {
        padding: 0 32px;
    }
}
