<mat-dialog-content id="screenshot">
  <h3>{{data.rows.name}} Stats {{data.rows.map}}</h3>
  <table>
    <tr>
      <th>Action</th>
      <th>Penalty</th>
      <th>Quantity</th>
      <th id="turnColumn">Turns</th>
    </tr>
    <tr *ngFor="let penalty of Penalties; let i = index">
      <td>{{penalty.title}}</td>
      <td>{{penalty.value || ''}}</td>
      <td>{{data.rows.penalties[i] || ''}}</td>
      <td>
        <span *ngFor="let t of data.rows.turns[i]; let first = first"
              class="turnlink"
              (click)="data.setTurn(t.turn)"
              [matTooltip]="'' + t.quantity"><span *ngIf="!first">, </span>{{t.turn}}</span>
      </td>
    </tr>
    <tr>
      <th>Total Fine</th>
      <th>{{data.rows.total.toLocaleString()}}</th>
    </tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button
          matDialogClose>Done</button>
  <button mat-raised-button
          [disabled]="copied || copying"
          (click)="copyPicture()">{{ copied ? 'Copied' : 'Copy Picture' }}</button>
</mat-dialog-actions>
