<mat-card>
  <p *ngIf="fs.lobby.length > 1; else alone"
     class="empty">
    There are {{fs.lobby.length}} players in this lobby:
  </p>
  <ng-template #alone>
    <p class="empty">You are alone here.</p>
  </ng-template>
  <ng-container *ngFor="let m of fs.lobby">
    <div class="lobbyPlayer">
      <ng-container *ngIf="m.team !== undefined">
        <img class="team"
             [title]="teamImages[m.team].title"
             [src]="teamImages[m.team].src">
      </ng-container>
      <q-name [message]="m"></q-name>
      <mat-icon *ngIf="m.op"
                [inline]="true"
                title="Opped">star</mat-icon>
    </div>
  </ng-container>
</mat-card>
