mat-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 900px;
  margin: auto;
  margin-top: 16px;
  background-color: rgb(94, 92, 92);
}

.lobbyPlayer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 175px;
  text-align: center;
  font-size: 18px;
  padding: 4px;
  border: 1px solid black;
  color: #eee;
}

mat-icon {
  color: cyan;
  margin-left: 4px;
}

.empty {
  width: 100%;
  text-align: center;
  color: #bbb;
  padding: 8px 16px;
  margin-bottom: 8px;
}

img {
  padding-right: 4px;
}

img.team {
  margin-bottom: -0.1em;
}
