:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lobbyPlayer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 175px;
  text-align: center;
  padding: 4px;
  border: 1px solid black;
  color: #eee;
}

mat-icon {
  color: cyan;
  margin-left: 4px;
}

.empty {
  width: 100%;
  text-align: center;
  color: #bbb;
  margin: 0;
  margin-bottom: 8px;
}

img {
  padding-right: 4px;
}

img.team {
  margin-bottom: -0.1em;
}
