@if (showCount) {
  @if (players.length > 1) {
    <p
      class="empty">
      There are {{players.length}} players in this lobby:
    </p>
  } @else {
    <p class="empty">You are alone here.</p>
  }
}
@for (m of players; track m) {
  <div
    class="lobbyPlayer">
    @if (m.t !== undefined) {
      <img
        class="team"
        [matTooltip]="teamImages[m.t].title"
        [src]="teamImages[m.t].src">
    }
    <q-name [message]="m"></q-name>
    @if (m.a) {
      <mat-icon
        matTooltip="Opped"
      [inline]="true">star</mat-icon>
    }
  </div>
}
