::ng-deep div.mat-tab-label {
  min-width: 20px;
  padding: 0 12px;
}

mat-tab-group {
  height: 100%;
}

q-map-debug {
  display: block;
  margin-top: 8px;
}

.boat,
.turn {
  width: 100%;
  line-height: 16px;
  padding: 4px;
  padding-top: 25px;
}

.penalty {
  height: 5px;
}

#penaltyBox {
  height: 225px;
  overflow-y: auto;
  margin-top: 8px;
}

.scoreButton {
  margin-top: 8px;
}

.turn {
  .points {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 5px;
    line-height: 10px;
    * {
      display: inline-block;
    }

    & > :nth-child(odd) {
      position: absolute;
      right: 52px;
      height: 5px;
      direction: rtl;
    }
    & > :nth-child(even) {
      position: absolute;
      left: 52px;
      height: 5px;
      background-color: red;
    }
  }

  .sinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;

    mat-icon {
      font-size: 12px;
      height: 12px;
    }

    div {
      display: inline-block;
      width: 45%;
    }

    div.right {
      text-align: right;
    }
  }
}

.boat {
  border-left: 3px solid green;
}

.damage,
.bilge {
  position: relative;
  display: inline-block;
  margin: 4px;
  width: 50px;
  height: 5px;
  background-color: #aaaaaa;
  overflow: hidden;
}

.damagebar,
.bilgebar {
  position: relative;
  background: red;
  height: 100%;
  left: -100%;
  transition: 0.3s linear;
  pointer-events: none;
}

.bilgebar {
  background: blue;
}

#aiTab {
  p {
    margin: 8px 0;
  }

  mat-button-toggle-group {
    font-size: 14px;
    margin-bottom: 8px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

p {
  font-size: 12px;
  margin: 0;
}

button.margin {
  margin: 8px 0;
}

#boatSettings {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0;

  * {
    max-width: 50%;
  }
}
