<div *ngIf="(lobby | async) === undefined"
     id="background">
  <p>Loading...</p>
</div>

<div *ngIf="lobby | async as lobby"
     id="lobby"
     [ngSwitch]="lobby.type">
  <q-quacken *ngSwitchCase="'Quacken'"></q-quacken>
  <q-spades *ngSwitchCase="'Spades'"
            [lobby]="lobby"></q-spades>
  <q-cadegoose *ngSwitchCase="'CadeGoose'"></q-cadegoose>
  <q-seabattle *ngSwitchCase="'SeaBattle'"></q-seabattle>
  <q-flaggames *ngSwitchCase="'FlagGames'"></q-flaggames>
  <q-mapinfo *ngSwitchCase="'mapinfo'"
             [lobby]="lobby"></q-mapinfo>
  <q-boardadmiral *ngSwitchCase="'BA'"></q-boardadmiral>

</div>
