@if ((lobby | async) === undefined) {
  <div
    id="background">
    <p>Loading...</p>
  </div>
}

@if (lobby | async; as lobby) {
  <div
    id="lobby"
    >
    @switch (lobby.type) {
      @case ('Quacken') {
        <q-quacken></q-quacken>
      }
      @case ('CadeGoose') {
        <q-cadegoose></q-cadegoose>
      }
      @case ('SeaBattle') {
        <q-seabattle></q-seabattle>
      }
      @case ('FlagGames') {
        <q-flaggames></q-flaggames>
      }
      @case ('mapinfo') {
        <q-mapinfo
        [lobby]="$any(lobby)"></q-mapinfo>
      }
      @case ('BA') {
        <q-boardadmiral></q-boardadmiral>
      }
    }
  </div>
}
