<div class="container noselect"
  id="timer">
  <p id="turncount">{{time}}</p>
  <p class="team team0"
    [style.color]="colors[0]"
    [class.sameteam]="myTeam === 0"
    (mouseover)="hoveredTeam.emit(0)"
    (mouseleave)="hoveredTeam.emit(-1)">
    @if (myTeam !== 0) {
      <span>
        <img src="assets/images/icon_defend1.png">
      </span>
    } @else {
      <img src="assets/images/icon_defend0.png">
    }
    {{getScore(0)}}
  </p>
  -
  @for (team of points; track team; let i = $index) {
    @if (i !== 0) {
      <p
        class="team"
        [style.color]="colors[i]"
        [class.sameteam]="myTeam === i"
        (mouseover)="hoveredTeam.emit(i)"
        (mouseleave)="hoveredTeam.emit(-1)">
        {{getScore(i)}}
        @if (myTeam !== i) {
          <span>
            <img src="assets/images/icon_attack{{i}}.png">
          </span>
        } @else {
          <img src="assets/images/icon_attack0.png">
        }
      </p>
    }
  }
</div>


