#timer {
	position: absolute;
	top: 0;
	left: 50%;
	background-color: rgba(67, 67, 67, 0.8);
	color: #fff;
	text-align: center;
	transform: translateX(-50%);
	border: 1px solid black;
	border-radius: 0 0 20px 20px;
	padding: 0 24px 6px 24px;
}

p {
	text-align: center;
	margin: 4px 0;
	line-height: 45px;
}

#turncount {
	line-height: 1.5;
	color: khaki;
	font-size: 16px;
}

.team {
	display: inline-block;
	color: red;
	line-height: 25px;
	margin: 0 12px;
}

// .team0 {
// 	color: rgb(137, 214, 233);
//rgb(125, 236, 80)
// }
.team0 {
	color: rgb(137, 214, 233);
}

.team1 {
	color: red;
}

.sameteam {
	color: rgb(137, 214, 233);
}

.isme {
	color: rgb(137, 214, 233);
}

button {
	margin: 8px;
}
