@use '~@angular/material' as mat;
@import "../../../../styles/colors.scss";

.container{
  height: 50vh;
  min-height: 120px;
  max-height: 160px;
}

#boatcontrol {
  display: inline-block;
  width: 277px;
}

#source {
  grid-column: left;
}

#hudReady {
  line-height: 1.8;
}

#chat {
  grid-column: right;
  min-width: 285px;
}

#disengage {
  grid-column: middle;
  padding: 5px;
  margin-bottom: 12px;
  color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

q-chat {
  width: calc(99% - 285px);
  height: 50vh;
  min-width: 150px;
  margin-left: 0px;
}

#hud {
  display: grid;
  grid-template-columns: [left]277px [middle]0.05fr [right]1fr;
  grid-template-rows: 1fr;
  background-color: rgba(67, 67, 67, 0.8);
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 95%;
  max-width: 900px;
  min-width: 320px;
  padding: 5px;
  text-align: center;
  overflow-x: auto;
  white-space: nowrap;
  border: 1px solid black;

  * {
    white-space: normal;
  }
}


#movesource {
  grid-column: 1;
  position: relative;
  float: left;
  width: 150px;
  min-height: 2vh;
  margin: 8px;

  button {
    margin-top: 4px;
  }
}

mat-radio-button {
  transform: scale(0.5);
}

mat-checkbox {
  position: absolute;
  top: 0;
  left: 0;
}

#movesource div {
  display: inline-block;
  text-align: center;
  font-size: 11px;
  color: #eee;
}

#damage,
#bilge {
  float: left;
  margin: 2px 35px;
  width: 100px;
  height: 15px;
  background-color: #aaaaaa;
  overflow: hidden;
}

#bilge {
  margin-top: 0;
}

#damagebar,
#bilgebar {
  position: relative;
  background: rgb(136, 4, 4);
  height: 15px;
  left: -100%;
  transition: 0.3s linear;
  pointer-events: none;
}

#bilgebar {
  background: rgb(37, 150, 190);
}

#time {
  position: relative;
  margin: min(7vh, 30px) 10px;
  float: right;
  height: 76px;
  width: 15px;
  background-color: #aaaaaa;
  overflow: hidden;
}

#timebar {
  position: relative;
  height: 76px;
  top: 100%;
  background-color: orange;
  transition: 0.9s linear;
}

#moves {
  float: right;
  margin-right: 27px;
  margin-top: auto;
}

.moverow {
  position: relative;
}

.move {
  position:relative;
  background-color: rgba(95, 94, 94, 0.8);
  width: 35px;
  min-height: 25px;
  max-height: 35px;
  height: 11vh;
  border: 1px solid black;
  border-radius: 1px;
}

.move img {
  height: 100%;
  width: 100%;
}

.leftbombs,
.rightbombs {
  position: absolute;
  height: 100%;
  width: 32px;
  display: flex;
  align-items: center;
}

.leftbombs {
  left: -31px;
  flex-direction: row-reverse;
}

.rightbombs {
  left: 34px;
}

.bombmove {
  background-color: rgba(95, 94, 94, 0.8);
  margin: -1px;
}

.bombempty {
  background: url("/assets/images/cannonempty.png") 100% no-repeat;
  padding-left: 25px;
  width: 24px;
  height: 24px;
  border: 1px solid black;
  border-radius: 16px;
}

.bombslot {
  background-color: rgba(95, 94, 94, 0.8);
  width: 16px;
  height: 16px;
  margin: -1px;
  border: 1px solid black;
  border-radius: 8px;
}

#cannons {
  position: relative;
  right: 12px;
  width: 20px;
  .bombslot {
    position: relative;
    top: -6px;
    left: 0;
  }
}

.unconfirmedShots::after{
  content:"";
  position: absolute;
  width: 16px;
  height: 16px;
  margin: -1px;
  margin-left:-7px !important;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.7);
}

#cannontext {
  margin-left: 4px;
}

#treasurebox,
.token {
  float: left;
  margin-left: 8px;
  height: 35px;
  width: 35px;
  border: 2px solid grey;
  border-radius: 5px;
  background-color: rgba(100, 100, 100, 0.3);
}

#tokens {
  margin-left: 37px;
}

.token img {
  margin-top: 4px;
  height: 23px;
  width: 23px;
}

#settings {
  margin-left: 6px;
  color: #bbb;
}

.blocked {
  background-color: #999;
}

.move1 {
  background: url("/assets/images/arrow1empty.png") center/cover;
}

.move2 {
  background: url("/assets/images/arrow2empty.png") center/cover;
}

.move3 {
  background: url("/assets/images/arrow3empty.png") center/cover;
}

.bombmove {
  background: url("/assets/images/cannon.png") center/cover;
}

.bomb {
  background: url("/assets/images/cannon1.png") center/cover;
  background-position-x: 1px;
}

.selected {
  border: 2px solid mat.get-color-from-palette($primary);
}

::ng-deep {
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: rgb(146, 244, 66);
  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    color: rgb(146, 244, 66);
    background-color: rgb(146, 244, 66);
  }

  .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: rgba(235, 66, 66, 0.9);
  }

  .mat-checkbox-checked.mat-accent .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: rgba(235, 66, 66, 0.9);
  }
}

#moveCheck {
  margin-left: 1px;
}

.unconfirmed::after{
  content:"";
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

@media only screen and (max-height: 350px) {
  .container{
    height: 40vh;
  }
  .move{
    height: 9vh;
  }
}
