<div class="container noselect"
     id="hud">
     <div id="boatcontrol"
          oncontextmenu="event.preventDefault()">
          <div id="time">
               <div id="timebar"
                    [style.transform]="'translateY(-' + (seconds$ | async) + 'px)'"></div>
          </div>

          <div id="moves">
               <div *ngFor="let move of moves; let i=index"
                    class="moverow">
                    <div class="bombslot"
                         [class.blocked]="locked"
                         (click)="addShot(i*2)"
                         [class.bomb]="shots[i*2] > 0"></div>
                    <div class="bombslot right"
                         [class.blocked]="locked"
                         (click)="addShot(i*2+1)"
                         [class.bomb]="shots[i*2+1] > 0"></div>
                    <ng-container *ngIf="myBoat.doubleShot">
                         <div class="bombslot left2"
                              [class.blocked]="locked"
                              (click)="addShot(i*2)"
                              [class.bomb]="shots[i*2] > 1"></div>
                         <div class="bombslot right2"
                              [class.blocked]="locked"
                              (click)="addShot(i*2+1)"
                              [class.bomb]="shots[i*2+1] > 1"></div>
                    </ng-container>

                    <div class="move"
                         [class.blocked]="maxMoves || locked"
                         (drop)="drop($event, i)"
                         (mouseup)="clickTile($event, i)"
                         (mousedown)="$event.which === 2 ? $event.preventDefault() : null"
                         (dragover)="$event.preventDefault()">
                         <img *ngIf="move"
                              src="./assets/images/arrow{{move}}.png"
                              (dragstart)="drag(move, i)"
                              (dragend)="dragEnd()">
                    </div>
               </div>
          </div>

          <div id="damage">
               <div id="damagebar"
                    [style.transform]="'translateX(' + myBoat.getDamage() + 'px)'"></div>
          </div>
          <div id="bilge">
               <div id="bilgebar"
                    [style.transform]="'translateX(' + (lastTick.b - 4) + 'px)'"></div>
          </div>

          <div id="movesource"
               name="movesource">
               <mat-checkbox [(ngModel)]="auto"
                             title="Auto"
                             (change)="changeWantMove()"></mat-checkbox>
               <div id="cannons">
                    <div class="bombslot"
                         [class.bomb]="lastTick.tp - usingCannons > 0"></div><br>
                    {{lastTick.tp - usingCannons}}X
               </div>
               <mat-radio-group [(ngModel)]="wantMove"
                                (change)="changeWantMove()">
                    <div>
                         <mat-radio-button [value]="1"
                                           [disabled]="auto"></mat-radio-button>
                         <br>
                         <div class="move blocked"
                              [title]="tokenStrings[0]">
                              <img *ngIf="haveMoves[0] > usingMoves[0]"
                                   name="left"
                                   id="tile1"
                                   src="./assets/images/arrow1.png"
                                   (dragstart)="drag(1)">
                         </div>
                         <br>
                         {{haveMoves[0] - usingMoves[0]}}X
                    </div>
                    <div>
                         <mat-radio-button [value]="2"
                                           [disabled]="auto"></mat-radio-button>
                         <br>
                         <div class="move blocked"
                              [title]="tokenStrings[1]">
                              <img *ngIf="haveMoves[1] > usingMoves[1]"
                                   name="forward"
                                   id="tile2"
                                   src="./assets/images/arrow2.png"
                                   (dragstart)="drag(2)">
                         </div>
                         <br>
                         {{haveMoves[1] - usingMoves[1]}}X
                    </div>
                    <div>
                         <mat-radio-button [value]="3"
                                           [disabled]="auto"></mat-radio-button>
                         <br>
                         <div class="move blocked"
                              [title]="tokenStrings[2]">
                              <img *ngIf="haveMoves[2] > usingMoves[2]"
                                   name="right"
                                   id="tile3"
                                   src="./assets/images/arrow3.png"
                                   (dragstart)="drag(3)">
                         </div>
                         <br>
                         {{haveMoves[2] - usingMoves[2]}}X
                    </div>
               </mat-radio-group>
          </div>

          <p *ngIf="myBoat.moveLock">
               Respawning in {{myBoat.moveLock}} turn<span *ngIf="myBoat.moveLock > 1">s</span>
          </p>
          <div id="buttons">
               <button *ngIf="!fs.allowInvite || !(myBoat.ready && turn === 0); else fstart"
                       mat-raised-button
                       id="ready"
                       (click)="sendReady()"
                       [disabled]="myBoat.ready || turn > 0">Ready</button>
               <ng-template #fstart>
                    <button mat-raised-button
                            id="start"
                            (click)="start()">Start</button>
               </ng-template>
               <q-setting name="nextCadeBoat"></q-setting>
          </div>
     </div>

     <q-chat></q-chat>
</div>
