<div class="container noselect"
     id="hud">
  <div id="boatcontrol"
       oncontextmenu="event.preventDefault()">
    <div id="time">
      <div id="timebar"
           [style.transform]="'translateY(-' + (seconds$ | async) + 'px)'"></div>
    </div>
    <q-move-input id="moves"
                  (inputChange)="sendMoves()"
                  (unusedTokensChange)="unusedTokens = $event"
                  [reset]="resetMoves$"
                  [input]="localBoat"
                  [maneuvers]="myBoat.maneuvers"
                  [kbControls]="kbControls"
                  [shiftSpecials]="shiftSpecials"
                  [serverInput]="serverBoat"
                  [totalTokens]="totalTokens"
                  [dragContext]="dragContext"
                  [actions]="actions"
                  [moveKeys]="moveKeys"
                  [maxMoves]="maxMoves"
                  [maxShots]="myBoat.maxShots"
                  [locked]="!myBoat.isMe || myBoat.moveLock >= turn"></q-move-input>
    <div id="boatStats">
      <div id="damage"
           matTooltip="Damage: {{myBoat.getDamage()}}%">
        <div id="damagebar"
             [style.transform]="'translateX(' + myBoat.getDamage() + 'px)'"></div>
      </div>
      <div id="bilge"
           matTooltip="Bilge: {{lastTick.b || 0}}%">
        <div id="bilgebar"
             [style.transform]="'translateX(' + lastTick.b + 'px)'"></div>
      </div>
    </div>

    <q-move-source id="movesource"
                   [totalTokens]="totalTokens"
                   [unusedTokens]="unusedTokens"
                   [dragContext]="dragContext"
                   [tokenStrings]="tokenStrings"
                   [updateWantToken]="updateWantMove$"
                   [wantMove]="lastTick.wt"
                   (wantMoveChange)="setWantMove($event)"></q-move-source>
    <button *ngIf="secondsPerTurn === maxSeconds"
            mat-icon-button
            [disabled]="!myBoat.isMe || myBoat.ready"
            id="hudReady"
            (click)="imReady()">
      <mat-icon>play_arrow</mat-icon>
    </button>

    <q-maneuver-source id="maneuvers"
                       (wantManeuverChange)="setWantToken($event)"
                       [maneuvers]="myBoat.maneuvers"
                       [wantManeuver]="lastTick.wm"
                       [unusedTokens]="unusedTokens"
                       [dragContext]="dragContext"></q-maneuver-source>
  </div>

  <div *ngIf="myBoat.inSZ"
       id="disengage">
    <button mat-icon-button
            [style.color]="'rgb(125, 236, 80)'"
            matTooltip="Respawn Island"
            (click)="disengage(0)">
      <mat-icon>rowing</mat-icon>
    </button>
    <button mat-icon-button
            [style.color]="'red'"
            matTooltip="Respawn Ocean"
            (click)="disengage(1)">
      <mat-icon>rowing</mat-icon>
    </button>
  </div>
  <div id="chat">
    <q-chat [disabled]="es.open"></q-chat>
  </div>
</div>
