@import "../../../../styles/colors.scss";

#boatcontrol {
  display: inline-block;
  width: 277px;
  height: 148px;
}

q-chat {
  display: inline-block;
  width: calc(99% - 285px);
  min-width: 150px;
}

#hud {
  background-color: rgba(67, 67, 67, 0.8);
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 95%;
  max-width: 900px;
  min-width: 320px;
  padding: 5px;
  text-align: center;
  overflow-x: auto;
  white-space: nowrap;
  border: 1px solid black;

  * {
    white-space: normal;
  }
}

#movesource {
  position: relative;
  float: left;
  width: 150px;
  min-height: 10px;
  margin: 8px;

  button {
    margin-top: 4px;
  }
}

mat-radio-button {
  transform: scale(0.5);
}

mat-checkbox {
  position: absolute;
  top: 0;
  left: 0;
}

#movesource div {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  color: #eee;
}

#damage,
#bilge {
  float: left;
  margin: 2px 35px;
  width: 100px;
  height: 15px;
  background-color: #aaaaaa;
  overflow: hidden;
}

#bilge {
  margin-top: 0;
}

#damagebar,
#bilgebar {
  position: relative;
  background: rgb(136,4,4);
  height: 15px;
  left: -100%;
  transition: 0.3s linear;
  pointer-events: none;
}

#bilgebar {
  background: rgb(37, 150, 190);
}

#time {
  position: relative;
  margin: 30px 10px;
  float: right;
  height: 76px;
  width: 15px;
  background-color: #aaaaaa;
  overflow: hidden;
}

#timebar {
  position: relative;
  height: 76px;
  top: 100%;
  background-color: #cec48a;
  transition: 0.9s linear;
}

#moves {
  float: right;
  margin-right: 27px;
}

.moverow {
  position: relative;
}

.move {
  background-color: lightgrey;
  width: 35px;
  height: 35px;
  border: 1px solid black;
  border-radius: 1px;
}

.move img {
  height: 100%;
  width: 100%;
}

.leftbombs,
.rightbombs {
  position: absolute;
  height: 100%;
  width: 32px;
  display: flex;
  align-items: center;
}

.leftbombs {
  left: -31px;
  flex-direction: row-reverse;
}

.rightbombs {
  left: 34px;
}

.bombmove {
  background-color: lightgrey;
  width: 24px;
  height: 24px;
  margin: -1px;
  border: 1px solid black;
  border-radius: 16px;
}

.bombempty {
  background-image: url("../../../../assets/images/cannonempty.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border: 1px solid black;
  border-radius: 16px;
}

.bombslot {
  background-color: lightgrey;
  width: 16px;
  height: 16px;
  margin: -1px;
  border: 1px solid black;
  border-radius: 8px;
}


#cannons {
  position: relative;
  right: 12px;
  width: 20px;

  .bombslot {
    position: relative;
    top: -6px;
    left: 0;
  }
}

#treasurebox,
.token {
  float: left;
  margin-left: 8px;
  height: 35px;
  width: 35px;
  border: 2px solid grey;
  border-radius: 5px;
  background-color: rgba(100, 100, 100, 0.3);
}

#tokens {
  margin-left: 37px;
}

.token img {
  margin-top: 4px;
  height: 23px;
  width: 23px;
}

#settings {
  margin-left: 6px;
  color: #bbb;
}

.blocked {
  background-color: #999;
}

.bombmove {
  background-image: url("../../../../assets/images/cannon.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.bomb {
  background-image: url("../../../../assets/images/cannon1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position-x: 1px;
}

.selected {
  border: 2px solid mat-color($primary);
}
