<div class="container">
    <div class="defenders"
    [class.sameteam]="myTeam === 0"
    [class.hoveredteam]="hoveredTeam === 1 || hoveredTeam === -1"
    [class.showteams]="statOpacity && hoveredTeam">
        <table>
            <tr>
                <th>Defenders</th>
                <th *ngFor="let c of columns">{{c.title}}</th>
            </tr>
            <tr *ngFor="let r of defenders">
                <td>{{r.user}}</td>
                <td *ngFor="let c of columns">{{r.stats[c.stat]}}</td>
            </tr>
        </table>
    </div>

    <div class="attackers"
        [class.sameteam]="myTeam === 1"
        [class.hoveredteam]="hoveredTeam! <= 0"
        [class.showteams]="statOpacity && hoveredTeam">
        <table>
            <tr>
                <th>Attackers</th>
                <th *ngFor="let c of columns">{{c.title}}</th>
            </tr>
            <tr *ngFor="let r of attackers">
                <td>{{r.user}}</td>
                <td *ngFor="let c of columns">{{r.stats[c.stat]}}</td>
            </tr>
        </table>
    </div>
</div>
