<h1 mat-dialog-title>Terms of Use</h1>
<mat-dialog-content>
  <h2>Overview</h2>
  <p>
    Please keep in mind, this is only a game. As such, the following rules are
    meant mainly as guidelines to keep the environment friendly and welcoming.
    As long as you are not actively trying to ruin someone's day, you will most
    likely be alright. The punishments for the (hopefully) rare offenses severe
    enough to demand Further action include temporary bans and global mute. You
    will never be permanently banned.
  </p>

  <h2>Policies</h2>

  <h4>Annoying People</h4>
  <p>
    You are provided with several tools to deal with the people you wish
    would just go away. To hide all messages from a user, click
    their name in chat and select 'block'. A blocked player will not be able to
    join a lobby you own. /kick &lt;name&gt; can be used to eject the targeted
    player from the current lobby if you own it. Used together, the offending
    player will effectively be "gone".
  </p>
  <p>
    Considering the options, it should be easy to see why being annoying is not
    a crime in itself. If, however, you witness or are targeted by something
    that
    ignoring is not an option, you are advised to contact a moderator who will
    be able to review the situation and determine if further action is
    appropriate.
  </p>

  <h4>Botting</h4>
  <p>
    If you think it is fun to tell a computer to play the game for you, go for
    it!
    The only thing we ask is that you turn "bot mode" on in your user settings
    when you bot to skip statistic counting. This keeps the competitive scene
    "clean",
    though if there is demand, we may include separate statistics for bots so
    you
    can compete there instead. <strong>Failure to enable bot mode may lead to
      your
      statistics being erased.</strong>
  </p>

  <h4>Real Money Trades</h4>
  <p>
    We do not provide ANY insurance or tools to assist in trades that
    extend beyond the boundaries of the game. Trade <strong>at your own
      risk</strong>.
    That being said, we will not punish you for doing so. It is entirely at your
    own discretion.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button
          mat-dialog-close>Close</button>
</mat-dialog-actions>
