@use '@angular/material' as mat;
@import "../../../styles/colors.scss";

#shade {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

#settings {
  background-color: rgba(67, 67, 67, 0.8);
  border: 1px solid black;
  position: absolute;
  top: calc(50vh - 100px);
  left: 50vw;
  width: 50%;
  min-width: 380px;
  max-width: 640px;
  min-height: 300px;
  max-height: 80vh;
  overflow-y: auto;
  margin-top: 10px;
  padding: 12px;
  color: #ddd;
  transform: translate(-50%, -50%);
}

#error,
#success {
  float: left;
  width: 100%;
  color: mat.m2-get-color-from-palette($primary);
  text-align: center;
}

#success {
  color: limegreen;
}

.setting {
  float: left;
  width: calc(50% - 16px);
  padding: 4px 0;
  margin-right: 16px;
  text-align: left;
}

.setting input {
  width: 100%;
}

.full {
  width: calc(100% - 16px);
}

.center {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  width: 100%;
}

.setting p {
  margin: 4px 0;
}
