<div #frame class="noselect" id="background" (wheel)="scroll($event)"
	oncontextmenu="event.preventDefault();">
	<!-- mapframe receives the offset transform, map receives the rotate transform.
 	This allows them to be altered independent of each other -->
	<div id="mapcenter">
		<div id="mapscale" [style.transform]="'scale('+settings.mapScale/50+')'">
			<div id="mapframe" [qdrag]="frame"
				transform="rotateX(45deg) rotateZ(-45deg)">
				<div [style.transform]="'translateX('+(12-myBoat.pos.x)*50+'px)'"
					[style.transition]="moveTransition(myBoat.moveTransition[0])">
					<div id="maprows"
						[style.transform]="'translateY('+(25.5-myBoat.pos.y)*50+'px)'"
						[style.transition]="moveTransition(myBoat.moveTransition[1])">
						<div *ngFor="let row of map; let i = index">
							<div *ngFor="let tile of row" class="tile"
								[class.sztile]="i > 48">
								<img *ngIf="tile" src="./assets/images/obstacle{{tile}}.png"
									[class]="'img' + tile" [title]="titles[tile] || ''">
							</div>
						</div>

						<app-boats [map]="frame" [speed]="settings.speed / 10">
						</app-boats>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<app-hud [kbControls]="settings.kbControls"></app-hud>
<app-entry-status></app-entry-status>
