<div *ngIf="map && map.selectedTile"
     id="map">
  <div *ngFor="let y of rows">
    <div *ngFor="let x of columns"
         class="tile"
         [class.sztile]="y > 48"></div>
  </div>

  <div *ngFor="let feature of map.selectedTile.data"
       class="feature group{{feature.group}}
  {{feature === map.selectedTile.activeFeature ? ' active' : ''}}"
       [class.active]="feature === map.selectedTile.activeFeature"
       [style.top]="feature.y1 * 25 + 'px'"
       [style.left]="feature.x1 * 25 + 'px'"
       [style.height]="(feature.y2 - feature.y1 + 1) * 25 + 'px'"
       [style.width]="(feature.x2 - feature.x1 + 1) * 25 + 'px'"
       (click)="map.selectedTile.activeFeature = feature">
    <p>
      {{feature.group === 0 ? types[feature.type] : groups[feature.group] + feature.density}}
    </p>
  </div>
</div>
