#map {
	position: absolute;
	width: 627px;
	border: 1px solid grey;
	transform: translate(calc(50vw - 50%), calc(50vh - 50%)) rotateX(45deg) rotateZ(-45deg);
	background: url('/assets/images/water.png');
	background-size: 25px;
}

.tile {
	display: block;
	float: left;
	height: 25px;
	width: 25px;
	border: 1px solid #4080bf;
}
.sztile	{
	background-color: #064886;
}

.feature {
	position: fixed;
	border-radius: 4px;
	transition: .2s linear, top .4s, left .4s, width .4s, height .4s;
}

.feature p {
	position: relative;
	top: 50%;
	margin: 0;
	transform: translateY(-50%);
	font-size: 24px;
	color: aqua;
}

.group0 {
	border: 2px dashed lime;
}

.group1 {
	border: 2px dashed orange;
}

.group2 {
	border: 2px dashed magenta;
}

.feature.active {
	border-style: solid;
	border-width: 3px;
	background-color: rgba(0, 0, 0, .1);
}

.feature.active:hover {
	background-color: rgba(0, 0, 0, .15);
}

.feature:hover {
	border-style: solid;
	background-color: rgba(0, 0, 0, .1);
}
