@use '@angular/material' as mat;
@import "../../../../styles/colors.scss";

button.full {
    width: 100%;
}

button:not(.changed) {
    color: #eee !important;
}

.changed {
    color: mat.get-color-from-palette($primary) !important;
}

.notdefault {
    border: 1px solid grey;
}

.key-display {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;

    mat-icon {
        font-size: 16px;
    }
}

.warning {
    color: mat.get-color-from-palette($primary);
}
