<mat-form-field *ngIf="matInput; else nonMat"
                [appearance]="'fill'">
  <mat-label>Player name</mat-label>
  <input #name
         matInput
         [value]="value"
         (focus)="clearOnFocus && myControl.setValue('')"
         (blur)="myControl.setValue(value)"
         [formControl]="myControl"
         [matAutocomplete]="auto">
  <mat-icon matSuffix>search</mat-icon>
  <mat-autocomplete #auto="matAutocomplete"
                    [autoSelectActiveOption]="true"
                    (optionSelected)="valueChange.emit($event.option.value); name.blur()"
                    [autoActiveFirstOption]="true">
    <mat-option *ngFor="let option of searchedNames | async"
                [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<ng-template #nonMat>
  <input #name
         [value]="value"
         (focus)="clearOnFocus && myControl.setValue('')"
         (blur)="myControl.setValue(value)"
         [formControl]="myControl"
         [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete"
                    [autoSelectActiveOption]="true"
                    (optionSelected)="valueChange.emit($event.option.value); name.blur()"
                    [autoActiveFirstOption]="true">
    <mat-option *ngFor="let option of searchedNames | async"
                [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</ng-template>
