#chatbox {
  font-size: 14px;
}

#icons {
  position: absolute;
  right: 2px;
  display: flex;
  flex-direction: column;
  color: #444;
}

#icons button {
  height: 28px;
}

#icons mat-icon {
  font-size: 16px;
  line-height: 16px;
}

.highlight {
  color: orange;
}

#output {
  position: relative;
  margin-bottom: 2px;
  height: 120px;
  background-color: #888;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  color: #eee;
}

#textbox {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 117px;
  padding-top: 3px;
  overflow: auto;
}

#textinput {
  width: 100%;
  padding: 3px 5px;
  background-color: #aaa;
  border: 1px solid black;
  transition: .3s;
}

#textinput:focus {
  background-color: #eee;
}

#textbox p {
  user-select: text;
  word-wrap: break-word;
  float: left;
  clear: both;
  text-align: left;
  max-width: 95%;
  padding: 3px 7px;
  border-radius: 5px;
  margin: 0 3px 3px 3px;
}

.command {
  cursor: pointer;
}