<div class="chatbox">
  <div class="output">
    <cdk-virtual-scroll-viewport #output
                                 itemSize="25"
                                 class="textbox">
      <ng-container *cdkVirtualFor="let m of messages$">
        <p *ngIf="!m.blocked"
           [style.backgroundColor]="colors[m.type]">
          <ng-container [ngSwitch]="m.type">
            <span *ngSwitchCase="0">{{m.message}}</span>
            <span *ngSwitchCase="1"
                  [innerHTML]="m.message"></span>

            <span *ngSwitchCase="2">
              <q-name [message]="m"></q-name>
              says "{{m.message}}"
            </span>

            <span *ngSwitchCase="3">
              <q-name [message]="m"></q-name>
              {{m.message}}
            </span>

            <span *ngSwitchCase="4">
              You told
              <q-name [message]="m"></q-name>
              "{{m.message}}"
            </span>

            <span *ngSwitchCase="5">
              <q-name [message]="m"></q-name>
              tells you
              "{{m.message}}"
            </span>

            <span *ngSwitchCase="6">
              The following commands are available everywhere:<br>
              <span *ngFor="let c of m.message.global"
                    class="command"
                    (click)="clickCommand(c)"
                    title="Send Command">
                {{c.base}}
                <ng-container *ngIf="c.params"> {{c.params}}</ng-container> -
                {{c.help}}<br>
              </span>
              <span *ngIf="m.message.lobby || m.message.lobbyAdmin">
                <br>The following commands are available only in this lobby:<br>
              </span>
              <ng-container *ngIf="m.message.lobby?.length">
                <span *ngFor="let c of m.message.lobby"
                      class="command"
                      (click)="clickCommand(c)"
                      title="Send Command">
                  {{c.base}}
                  <ng-container *ngIf="c.params"> {{c.params}}</ng-container> -
                  {{c.help}}<br>
                </span>
              </ng-container>
              <ng-container *ngIf="m.message.lobbyAdmin?.length">
                <span *ngFor="let c of m.message.lobbyAdmin"
                      class="command"
                      (click)="clickCommand(c)"
                      title="Send Command">
                  {{c.base}}
                  <ng-container *ngIf="c.params"> {{c.params}}</ng-container> -
                  {{c.help}}<br>
                </span>
              </ng-container>
            </span>

            <span *ngSwitchCase="7">
              <q-name [message]="m"
                      [offline]="true"></q-name> was last seen
              {{m.ago}} ({{m.time}}).
            </span>

            <span *ngSwitchCase="8"
                  class="invite">
              <span *ngIf="m.message.ty === 0; else lobby">
                <q-name [message]="m"></q-name> has requested to add you as a friend.
              </span>
              <ng-template #lobby>
                <span>
                  <q-name [message]="m"></q-name> has invited you to join their lobby.
                </span>
              </ng-template>
              <ng-container *ngIf="!m.message.resolved">
                <button mat-raised-button
                        color="accent"
                        class="accept"
                        (click)="accept(m.message)">Accept</button>
                <button mat-raised-button
                        (click)="decline(m.message)">Decline</button>
              </ng-container>
            </span>

            <span *ngSwitchCase="9">
              <q-name [message]="m"></q-name>
              broadcasts "{{m.message}}"
            </span>
          </ng-container>
        </p>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </div>

  <form (submit)="sendInput($event)">
    <input #inputEl
           [disabled]="disabled"
           class="textinput"
           autocomplete="off"
           maxlength="200"
           name="value"
           (keyup)="handleKey($event)"
           [(ngModel)]="chat.value">
  </form>
</div>
