<div id="chatbox">
  <div id="output">
    <div #output
         id="textbox">
      <p *ngFor="let m of chat.messages"
         [style.backgroundColor]="colors[m.type]">
        <ng-container *ngIf="!m.blocked"
                      [ngSwitch]="m.type">
          <span *ngSwitchCase="0">{{m.message}}</span>
          <span *ngSwitchCase="1"
                [innerHTML]="m.message"></span>

          <span *ngSwitchCase="2">
            <q-name [message]="m"></q-name>
            says "{{m.message}}"
          </span>

          <span *ngSwitchCase="3">
            <q-name [message]="m"></q-name>
            {{m.message}}
          </span>

          <span *ngSwitchCase="4">
            You told
            <q-name [message]="m"></q-name>
            "{{m.message}}"
          </span>

          <span *ngSwitchCase="5">
            <q-name [message]="m"></q-name>
            tells you
            "{{m.message}}"
          </span>

          <span *ngSwitchCase="6">
            The following commands are available everywhere:<br>
            <span *ngFor="let c of m.message.global"
                  class="command"
                  (click)="clickCommand(c)"
                  title="Send Command">
              {{c.base}}
              <ng-container *ngIf="c.params"> {{c.params}}</ng-container> -
              {{c.help}}<br>
            </span>
            <span *ngIf="m.message.lobby || m.message.lobbyAdmin">
              <br>The following commands are available only in this lobby:<br>
            </span>
            <ng-container *ngIf="m.message.lobby?.length">
              <span *ngFor="let c of m.message.lobby"
                    class="command"
                    (click)="clickCommand(c)"
                    title="Send Command">
                {{c.base}}
                <ng-container *ngIf="c.params"> {{c.params}}</ng-container> -
                {{c.help}}<br>
              </span>
            </ng-container>
            <ng-container *ngIf="m.message.lobbyAdmin?.length">
              <span *ngFor="let c of m.message.lobbyAdmin"
                    class="command"
                    (click)="clickCommand(c)"
                    title="Send Command">
                {{c.base}}
                <ng-container *ngIf="c.params"> {{c.params}}</ng-container> -
                {{c.help}}<br>
              </span>
            </ng-container>
          </span>

          <span *ngSwitchCase="7">
            <q-name [message]="m"
                    [offline]="true"></q-name> was last seen
            {{m.ago}} ({{m.time}}).
          </span>
        </ng-container>
      </p>
    </div>

    <div id="icons">
      <button mat-icon-button
              (click)="fs.open = true; fs.selected = 'lobby'; wd.active = 'friends'">
        <mat-icon title="Player List">group</mat-icon>
      </button>
      <button mat-icon-button
              (click)="fs.open = true; fs.selected = 'invite'; wd.active = 'friends'"
              [class.highlight]="fs.invites.length">
        <mat-icon title="Alerts">notifications</mat-icon>
      </button>
      <button mat-icon-button
              (click)="ss.open = true; wd.active = 'settings'">
        <mat-icon title="Settings">settings</mat-icon>
      </button>
      <button mat-icon-button
              (click)="is.open = true; wd.active = 'inventory'">
        <mat-icon title="Inventory">apps</mat-icon>
      </button>
    </div>
  </div>

  <form (submit)="sendInput($event)">
    <input #inputEl
           id="textinput"
           autocomplete="off"
           maxlength="200"
           name="value"
           (keyup)="handleKey($event)"
           [(ngModel)]="chat.value">
  </form>
</div>
