:host {
  text-align: center;
}

// needed for the emoji picker to not scroll
::ng-deep .mat-mdc-menu-panel {
  max-width: fit-content;
}

#accountWrapper {
  padding-top: 32px;
}

#account {
  display: inline-block;
  max-width: 400px;
  margin: auto;

  form {
    padding: 0 32px;
  }
}

ngx-emoji {
  cursor: pointer;
}
