:host {
    text-align: center;
}

#accountWrapper {
    padding-top: 32px;
}

#account {
    display: inline-block;
    max-width: 400px;
    margin: auto;

    form {
        padding: 0 32px;
    }
}
.mat-expansion-panel{
    background-color: rgb(94, 92, 92);
}
mat-expansion-panel-header:hover {
    background-color:rgb(236, 57, 57) !important;
}

