<mat-dialog-content>
  @if (ws.user.id) {
    <h2 id="create"><q-setting name="createType"
      [disabled]="created"
    (valueChange)="changeType()"></q-setting>
  </h2>
  @if (lobbyType; as lobby) {
    <p>{{lobby.desc}}</p>
    <div id="lsettings">
      @for (setting of typeSettings[lobby.id]; track setting) {
        <q-setting
          [disabled]="created"
        [name]="setting"></q-setting>
      }
    </div>
    <p>
      <button mat-raised-button
        color="accent"
        [disabled]="created"
      (click)="createLobby()">Create</button>
    </p>
  }
}

@if (!ws.user.id) {
  <p
    class="error">
    Guests cannot make lobbies. Join an existing lobby or create an account
    to make your own.
  </p>
}
</mat-dialog-content>
