@use '~@angular/material' as mat;
@import "../../../styles/colors.scss";

#inventory {
  color: #eee;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin: 0;
  padding: 8px 24px;
}

.content {
  text-align: left;
  height: 250px;
  padding-bottom: 12px;
  overflow-y: auto;
  overflow-x: hidden;
  border-top: 2px solid grey;
}

.coin {
  display: inline-block;
  cursor: grab;
  min-width: 100px;
  padding: 4px 16px;
}

.coin img {
  height: 15px;
  width: 15px;
}

mat-form-field {
  margin-right: 12px;
}

.empty {
  text-align: center;
  color: #bbb;
  padding: 8px 16px;
  margin-bottom: 8px;
}

.item {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 4px;
  border: 1px solid grey;
  transition: border 0.2s ease-in 0.5s;
  background: rgb(66, 66, 66);
  cursor: grab;
}

.item img {
  height: 40px;
  width: 40px;
}

.quantity {
  position: absolute;
  bottom: 0;
  right: 2px;
}

.new {
  border-color: mat.get-color-from-palette($primary);
}

.dropable {
  border-color: white;
  transition: none;
}
