mat-card {
  max-width: 800px;
  min-width: 350px;
  width: 80vw;
  background-color: rgb(110, 108, 108);
}

button {
  width: 100%;
  background: rgb(199, 33, 33);
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-item1 {
  width: 315px;
}

.flex-item2 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
}

.flex-subitem2 {
  width: 100%;
  min-width: 200px;
}

.title {
  font-weight: bold;
  font-size: 18px;
  color: rgb(199, 33, 33);
  margin-top: 5px;
}

.subtitle {
  font-style: italic;
}

.description {
  font-style: italic;
  padding-top: 10px;
}

mat-form-field {
  width: 100%;
}

mat-card-actions {
  margin-bottom: 0;
  align-self: center;
}

.seed {
  text-overflow: ellipsis;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-item2 {
    padding-left: 0;
  }
}
