<mat-card class="flex-container">
    <div class="grid-1">
        <q-canvas [map]="map.data"></q-canvas>
    </div>
    <div class="grid-2">
        <mat-card-title id="title">{{map.name}}</mat-card-title>
        <div *ngIf="map.name === generated">
            Seed: <input>
            <button mat-raised-button
             (click)="generate.emit(0)">Randomize</button>
        </div>
        <mat-card-subtitle  *ngIf="map.name !== generated" 
            id="subtitle">Designed by: {{map.username}}</mat-card-subtitle>
        <mat-card-content  *ngIf="map.name !== generated"
            id="description">Description:<p>{{map.description || "N/A"}}</p></mat-card-content>
    </div>
    <div class="grid-3">
        <ng-container *ngIf="map.name !== generated">
            <q-star-rating 
                [average] = "map.ratingAverage"
                [count] = "map.ratingCount"></q-star-rating>
            <div id="subitem">
                <mat-chip-list>
                    <mat-chip #chipList 
                                *ngFor="let option of map.tags" 
                                [disabled]="true"
                                [removable]="false">{{option}}</mat-chip>
                </mat-chip-list>
            </div>
        </ng-container>
    </div>
    <mat-card-actions class="grid-4 action">
        <button mat-raised-button
                color="accent"
                (click)="selectMap(map.id, map.name)">Select</button>
    </mat-card-actions>
</mat-card>
