@use "@angular/material" as mat;
@import "../../../../styles/colors.scss";

mat-card {
  margin: auto;
  max-width: 800px;
  min-width: 350px;
  width: 80vw;
  background-color: rgb(110, 108, 108);
}

mat-card-actions {
  display: flex;
}

button {
  flex-grow: 1;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-item1 {
  width: 315px;
}

.flex-item2 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
}

.flex-subitem2 {
  width: 100%;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  column-gap: 8px;
}

.title {
  font-weight: bold;
  font-size: 18px;
  color: mat.get-color-from-palette($accent);
  margin-top: 5px;
}

.subtitle {
  font-style: italic;
}

.description {
  font-style: italic;
}

mat-form-field {
  width: 100%;
}

mat-card-actions {
  margin-bottom: 0;
  align-self: center;
}

mat-card-subtitle {
  margin-bottom: 0;
}

.seed {
  text-overflow: ellipsis;
  width: 100%;
}

.youRated {
  position: absolute;
  top: 5px;
  right: 10px;
  color: yellow;
}

@media screen and (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-item2 {
    padding-left: 0;
  }
}
