q-canvas {
  pointer-events: none;
}

mat-card {
  width: 80vw;
  max-width: 800px;
  margin: auto;
  margin-top: 10px !important;
  background-color: rgb(110, 108, 108);
}

button {
  width: 100%;
  background: rgb(199, 33, 33);
}

.flex-container {
  display: grid;
  grid-template-columns: 315px 1fr;
  grid-template-rows: 1fr 0.5fr 50px;
}

.grid-1 {
  grid-column: 1;
  grid-row: 1 / span 3;
}

.grid-2 {
  grid-column-start: 2;
  padding-top: 8px;
  padding-left: 10px;
}

.grid-3 {
  grid-row-start: 2;
  grid-column: 2;
  margin-left: 5px;
  margin-bottom: 10px;
}

.grid-4 {
  grid-row-start: 3;
  grid-column: 2;
}

#title {
  font-weight: bold;
  font-size: 18px;
  color: rgb(199, 33, 33);
}

#subtitle {
  font-style: italic;
}

#description {
  font-style: italic;
}

#subitem {
  margin-top: 8px;
}

.action {
  position: absolute;
  width: 98%;
  bottom: 31px;
}

mat-card-actions {
  margin-left: 0px !important;
}
