mat-card {
  max-width: 900px;
  margin: auto;
  margin-top: 16px;
  background-color: rgb(94, 92, 92);
}

mat-card-header {
  justify-content: center;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

.queue-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
}

mat-expansion-panel {
  max-width: 460px;
}

.advanced {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

button {
  // fixed width to prevent button from changing size when text changes
  width: 131px;
}
