/* match-queue.component.scss */
:host {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the start to allow for the margin-top */
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  padding-top: 100px; /* Add padding to move the container down */
  padding-left: 80px;
}
.queue-container {
  width: 100%;
  max-width: 600px;
  margin: 50px 0 0 -400px; /* Offset 50 pixels from the left edge */
  padding: 20px;
  background-color: #474747c7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.queue-header {
  text-align: center;
  margin-bottom: 20px;

  h2 {
    margin: 0;
    font-size: 24px;
    color: #ffffff;
  }
}

.queue-list {
  margin-bottom: 20px;

  .queue-item {
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s;
    background-color:rgba(66, 66, 66, 0.85); /* Remove white background */

  }
}

.no-players {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
  color: #ffffff;
}

.queue-footer {
  text-align: center;

  .join-btn, .leave-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: 5px; /* Add margin to separate the buttons */
  }

  .join-btn {
    background-color: #b22222; /* Dark color for the button */

    &:hover {
      background-color: #23272b;
    }
  }

  .leave-btn {
    background-color: #b22222; /* Dark color for the button */

    &:hover {
      background-color: #23272b;
    }
  }

  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
}
.sliders-container {
  margin-top: 20px;

  h3 {
    text-align: center;
    margin-bottom: 10px;
  }

  mat-slider {
    width: 100%;
    margin-bottom: 10px;
  }
}