mat-card {
  max-width: 900px;
  margin: auto;
  margin-top: 16px;
  background-color: rgb(94, 92, 92);
}

mat-card-header {
  justify-content: center;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

mat-card-actions {
  justify-content: center;

  button {
    // fixed width to prevent button from changing size when text changes
    width: 131px;
  }
  
  q-setting {
    margin-bottom: 0;
  }
}