.settingsView {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  div {
    padding: 4px;
  }
}

.cardTitle {
  color: rgb(219, 216, 13) !important;
}

.inProgress {
  opacity: 0.5;
}

.playerName {
  text-align: center;
  color: #ddd;
}

mat-menu {
  pointer-events: none;
}
