.settingsView {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  div {
    padding: 4px;
  }
}

.cardTitle {
  color: rgb(219, 216, 13) !important;
}

.box {
  display:none;
  position: absolute;
  background: rgba(67,67,67,1);
  max-width: 300px;
  padding: 5px;
  border: 1px solid black;
}

.playerlist:hover + .box {
  display:inline-block;
}