<ng-template #quackenView
             let-settings="settings">
  <mat-icon matTooltip="Duck Level ({{settings.duckLvl?.value}})"
            [style.color]="'rgb('+settings.duckLvl?.value*20+','+(11-settings.duckLvl?.value)*20+',0)'">
    show_chart
  </mat-icon>
  <mat-icon matTooltip="Hot Entry ({{settings.hotEntry?.value ? 'allowed' : 'blocked'}})"
            [style.color]="settings.hotEntry?.value ? 'green' : 'maroon'">
    whatshot
  </mat-icon>
  <mat-icon matTooltip="{{publicModes[settings.publicMode?.value]}}"
            [style.color]="settings.publicMode?.value ? 'orange' : 'green'">
    public
  </mat-icon>
  <div matTooltip="Tile Set: {{settings.tileSet?.data || 'Default'}}">{{settings.tileSet?.value}}</div>
  <div matTooltip="Structure Set: {{settings.structureSet?.data || 'Default'}}">{{settings.structureSet?.value}}</div>
</ng-template>

<ng-template #spadesView
             let-settings="settings">
  <mat-icon matTooltip="Watchers ({{settings.watchers?.value ? 'allowed' : 'blocked'}})"
            [style.color]="settings.watchers?.value ? 'green' : 'maroon'">
    {{settings.watchers ? 'visibility' : 'visibility_off'}}
  </mat-icon>
  <div matTooltip="Timer (seconds)">{{settings.turnTime?.value}}</div>
  <div matTooltip="Play to">{{settings.playTo?.value}}</div>
</ng-template>

<ng-template #cadeView
             let-settings="settings">
  <mat-icon matTooltip="Jobber Quality ({{settings.jobberQuality?.data?.label || settings.jobberQuality?.value}})"
            [style.color]="'rgb('+(255-settings.jobberQuality?.value*2)+','+(settings.jobberQuality?.value)*2+',0)'">
    show_chart
  </mat-icon>
  <mat-icon matTooltip="Hot Entry ({{settings.hotEntry?.value ? 'allowed' : 'blocked'}})"
            [style.color]="settings.hotEntry?.value ? 'green' : 'maroon'">
    whatshot
  </mat-icon>
  <mat-icon matTooltip="{{publicModes[settings.publicMode?.value]}}"
            [style.color]="settings.publicMode?.value ? 'orange' : 'green'">
    public
  </mat-icon>
  <div matTooltip="Map: {{settings.map?.data || 'Generated'}}">{{settings.map?.value}}</div>
  <div matTooltip="Timer (seconds)">{{settings.turnTime?.value}}</div>
</ng-template>

<h3 class="cardTitle"
    [class.inProgress]="lobby.inProgress"
    [matTooltip]="description(lobby)">{{titles[lobby.type] || lobby.type}}</h3>
<h4>{{lobby.name}}</h4>
<div class="playerCount"
     (mouseover)="lobby.players.length && showPlayers = true"
     (mouseleave)="showPlayers = false">
  {{lobby.players.length}} / {{lobby.group.maxPlayers?.value || '∞'}}
  <div class="playerList"
       (click)="$event.stopPropagation(); $event.preventDefault()"
       [class.visible]="showPlayers">
    <q-player-list [players]="lobby.players"
                   [showCount]="false"></q-player-list>
  </div>
</div>


<p class="settingsView">
  <ng-container *ngTemplateOutlet="{
                  Quacken: quackenView,
                  Spades: spadesView,
                  CadeGoose: cadeView,
                  SeaBattle: cadeView,
                  FlagGames: cadeView,
                  mapinfo: cadeView,
                  BA: cadeView,
                }[lobby.type]; context: {settings: lobby.group}">
  </ng-container>
</p>

<!-- <p>
  <ng-container *ngFor="let p of lobby.players">
    <q-name [message]="p"></q-name>
  </ng-container>
</p> -->
