.settingsView {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  div {
    padding: 4px;
  }
}

.cardTitle {
  color: rgb(219, 216, 13) !important;
}

.inProgress {
  opacity: 0.5;
}

.playerName {
  text-align: center;
  margin-top: 4px;
  color: #ddd;
}

.playerCount {
  position: relative;
}

.playerList {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 50%;
  background-color: rgb(40, 40, 40);
  border: 1px solid black;
  padding: 8px 16px;
  transform: translateX(-50%);
  transition: opacity 0.3s;
  max-height: 150px;
  overflow-y: auto;

  &.visible {
    opacity: 1;
    pointer-events: initial;
  }
}

mat-menu {
  pointer-events: none;
}
