<mat-form-field class="setting">
  <mat-label>{{ShipSetting.label}}</mat-label>
  <mat-select [disabled]="ShipSetting.admin && (ss.admin$ | async) === false"
              [(value)]="setting.value">
    <mat-option *ngFor="let option of ShipSetting.options; let i = index"
                [value]="i">{{option}}</mat-option>
  </mat-select>
</mat-form-field>

<q-ship-list *ngIf="setting.value === 1"
             [(ships)]="setting.data.custom"></q-ship-list>

<br>
<div *ngIf="setting.value === 2"
     class="setting slider mat-mdc-form-field">
  <span class="label">Limit ({{slider.valueAsNumber < 1010
      ?
      slider.value
      : 'Unlimited'
      }})</span>
      <mat-slider [min]="10"
                  [max]="1010"
                  [step]="10"
                  [color]="'accent'"
                  [disabled]="ShipSetting.admin && (ss.admin$ | async) === false">
        <input #slider
               matSliderThumb
               [disabled]="ShipSetting.admin && (ss.admin$ | async) === false"
               [(value)]="setting.data.budget">
      </mat-slider>
</div>
