<p>Each team will get the following ships:</p>
<p>Total cost: {{cost}}<span *ngIf="budget"> / {{budget}}</span> </p>
<div class="boatList">
  <div *ngFor="let boatType of setting.data.custom; let i = index"
       class="boat">
    <span>{{shipLabel(boatType)}}</span>
    <img [src]="getShipLink(boatType)"
         [matTooltip]="ShipTypeMap.get(boatType)?.name || ''">
    <mat-icon (click)="removeCustom(i)">cancel</mat-icon>
  </div>
</div>
<p>Add ship</p>
<mat-chip-listbox>
  <mat-chip *ngFor="let boatType of ShipTypes"
            [matTooltip]="boatType.name!"
            [disabled]="cost + boatType.cost > budget"
            (click)="addCustom(boatType.id)">
    {{boatType.title}} ({{boatType.cost}})
  </mat-chip>
</mat-chip-listbox>
