<div #background
     class="noselect"
     id="background"
     oncontextmenu="event.preventDefault()">
    <div [qDrag]="background"
         id="mapframe">
        <q-bnav-map (positionChange)="positionChange($event)"></q-bnav-map>
    </div>
</div>

<div [qDrag]
     [bindToWindow]="true"
     class="container noselect"
     id="submitNew">
    <p>Submit New Moves</p>
    <mat-form-field>
        <mat-label>Their Moves</mat-label>
        <input #moveInput="ngModel"
               matInput
               pattern="[LRFX]{4}"
               title="LFRX style"
               [(ngModel)]="newMove.moves">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Shots</mat-label>
        <input #shots="ngModel"
               matInput
               pattern="[rRlLBX]{4}"
               title="LBRX style lowercase for grapples, B for both"
               [(ngModel)]="newMove.shots">
    </mat-form-field>
    <mat-form-field>
        <mat-label>AI Pathing</mat-label>
        <mat-select [(value)]="newMove.shipType">
            <mat-option value=""></mat-option>
            <mat-option value="at">At us</mat-option>
            <mat-option value="at">Us at them</mat-option>
            <mat-option value="at">Ahead of us</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Notes</mat-label>
        <input #notes="ngModel"
               matInput
               [(ngModel)]="newMove.notes">
    </mat-form-field>

    <button mat-raised-button
            color="accent"
            (click)="submitMoves()"
            [disabled]="!moveInput.value || !moveInput.valid || !shots.valid">Submit</button>
</div>


<div class="container noselect"
     id="hud">
    <div id="chat">
        <q-chat [disabled]="(es.open$ | async) || false"></q-chat>
    </div>

    <div id="tableWrapper">
        <table>
            <tr>
                <th>Moves</th>
                <th>Count</th>
                <th>Percent</th>
            </tr>

            <tr *ngFor="let m of moves">
                <td>{{m.moves}}</td>
                <td>{{m.count}}</td>
                <td>{{m.percent}}</td>
            </tr>
        </table>
    </div>

</div>
