<div *ngIf="ws.connected"
     id="stats">
     <div #handle
          class="handle"></div>
     <mat-icon class="refresh"
               (click)="stat.refresh()">refresh</mat-icon>
     <h2>{{stat.target}}</h2>
     <div id="selection">
          <div *ngFor="let s of stat.stats"
               class="stat"
               (click)="stat.openLeaders(s.statId)">
               <h4 class="statName">{{s.name}}</h4>
               <p class="statValue">{{s.value}}<span *ngIf="s.suffix">
                         {{s.suffix}}</span></p>
          </div>
     </div>
</div>
