<div id="shade">
  <div id="import" class="container noselect">
    <button mat-button 
        class="close"
        (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-card>
      <form (ngSubmit)="process()">
        <mat-card-content>
          <br>
          <input type="file" ng2FileSelect accept=".txt" [uploader]="uploader" multiple /><br />
          <br>
          <div ng2FileDrop [uploader]="uploader" class="drop-area">
            Drag and drop map files to upload
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th width="90%"><span>File Name</span></th>
                <th width="10%"><span>Remove</span></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td style="text-align: center;" width="90%">{{ item.file.name}}</td>
                <td width="10%">
                  <mat-icon style="color:rgba(235, 66, 66, 0.9);" (click)="item.remove()">delete</mat-icon>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
          <button mat-raised-button color="accent" type="submit">Upload Maps</button>
          <button mat-raised-button color="accent" style="margin-left: 20px"type="submit" (click)="clear()">Clear</button>

        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>