<div id="background">
    <div id="frame">
        <div id="cards">
            <button mat-button
                    class="card"
                    (click)="openNews()">
                <h3 class="cardTitle">{{note.title}}</h3>
                <p>{{note.points[0]}}</p>
                <p>...</p>
            </button>

            <button mat-button
                    class="card"
                    (click)="openEditor()">
                <h3 class="cardTitle">Enter Map Editor</h3>
                <p>Make maps for you and other players to use!</p>
            </button>

            <button mat-button
                    class="card"
                    (click)="openUserMatches()">
                <h3 class="cardTitle">Replays</h3>
                <p>Watch replays of previous matches!</p>
            </button>

            <button mat-button
                    class="card"
                    (click)="createLobby()">
                <h3 class="cardTitle">Create Lobby</h3>
                <mat-icon id="addLobby">add</mat-icon>
            </button>

            <button mat-button
                    *ngFor="let l of lobbies"
                    (click)="join(l, $event)"
                    class="card">
                <q-lobby-card [lobby]="l"></q-lobby-card>
            </button>
        </div>

        <q-chat [disabled]="es.open"></q-chat>
    </div>
</div>
