<mat-tab-group mat-align-tabs="center"
  [selectedIndex]="stat.profileTab$ | async"
  [mat-stretch-tabs]="false"
  (selectedIndexChange)="stat.setTab($event)">
  <mat-tab label="Profile">
    <div id="stats">
      <button mat-icon-button
        class="refresh"
        (click)="reset()">
        <mat-icon>refresh</mat-icon>
      </button>

      <q-name-search [value]="stat.target"
      (valueChange)="showUser($event)"></q-name-search>

      <div id="selection">
        <div class="badges">
          @for (rank of stat.userRanks; track rank) {
            <div
              (click)="showRankLeaders(rank)">
              <div class="badge {{tierTitles[rank.tier]}}"
                matTooltip="Lvl {{rank.level}} {{tierTitles[rank.tier]}} tier">
                {{rank.level}}
              </div>
              <div [matTooltip]="rank.title || ''">
                <div class="badgetitle">{{titles[rank.name] || rank.name}}</div>
                <mat-progress-bar mode="determinate"
                  color="accent"
                  [value]="rank.progress">
                </mat-progress-bar>
              </div>
            </div>
          }
        </div>

        <mat-form-field>
          <mat-select placeholder="Category"
            [(value)]="stat.group"
            (valueChange)="stat.updateWinLoss()">
            @for (t of lobbyTypes; track t) {
              <mat-option
                [value]="t.id">
                {{t.name}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

        @if (stat.group >= 1) {
          <h4>Win/Loss last 30 days:</h4>
          <p>{{stat.winLoss.wins}} - {{stat.winLoss.losses}}</p>
          @if (stat.winLoss.winsVsMe || stat.winLoss.lossesVsMe) {
            <h4>Win/Loss vs you:</h4>
            <p>{{stat.winLoss.winsVsMe}} - {{stat.winLoss.lossesVsMe}}</p>
          }
        }

        @if (stat.groupStats$ | async; as groupStats) {
          <table
            mat-table
            [dataSource]="groupStats[stat.group] || []">
            <tr *matHeaderRowDef="['name', 'value', 'replay']; sticky: true"
            mat-header-row></tr>
            <tr *matRowDef="let row; columns: ['name', 'value', 'replay'];"
              mat-row
            (click)="showLeaders(row)"></tr>
            <ng-container matColumnDef="name">
              <th *matHeaderCellDef
              mat-header-cell>Name</th>
              <td *matCellDef="let s"
              mat-cell>{{s.name}}</td>
            </ng-container>
            <ng-container matColumnDef="value">
              <th *matHeaderCellDef
              mat-header-cell>Value</th>
              <td *matCellDef="let s"
                mat-cell>{{s.value || '-'}}@if (s.suffix && s.value) {
                <span> {{s.suffix}}</span>
              }</td>
            </ng-container>
            <ng-container matColumnDef="replay">
              <th *matHeaderCellDef
              mat-header-cell>Replay</th>
              <td *matCellDef="let s"
                mat-cell>
                @if (s.matchId) {
                  <a
                    mat-icon-button
                    target="_blank"
                    [href]="'/#/replay/' + s.matchId">
                    <mat-icon>play_arrow</mat-icon>
                  </a>
                }
              </td>
            </ng-container>
          </table>
        }
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Friends">
    <div id="friends">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Online
          </mat-panel-title>
          <mat-panel-description>
            ({{fs.friends.length}})
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          @for (friend of fs.friends; track friend) {
            <div
              class="online"
              [matMenuTriggerFor]="onlineMenu"
              [matMenuTriggerData]="{friend: friend}">
              {{friend}}
            </div>
          }
        </ng-template>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Offline
          </mat-panel-title>
          <mat-panel-description>
            ({{fs.offline.length}})
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          @for (friend of fs.offline; track friend) {
            <div
              class="offline"
              [matMenuTriggerFor]="offlineMenu"
              [matMenuTriggerData]="{friend: friend}">
              {{friend}}
            </div>
          }
        </ng-template>
      </mat-expansion-panel>
    </div>
  </mat-tab>

  <mat-tab label="Blocked">
    <div id="blocked">
      @if (!fs.blocked.length) {
        <p
          class="empty">
          No blocked players. Hooray!
        </p>
      } @else {
        <p class="empty">
          {{fs.blocked.length}} blocked player@if (fs.blocked.length > 1) {
          <span>s</span>
          }.
        </p>
      }
      @for (blocked of fs.blocked; track blocked) {
        <div
          class="lobbyPlayer offline"
          [matMenuTriggerFor]="blockedMenu"
          [matMenuTriggerData]="{blocked: blocked}">
          {{blocked}}
        </div>
      }
    </div>
  </mat-tab>

  <mat-tab label="Leaderboards">
    <ng-template matTabContent>
      <q-leaders [name]='ws.user.name'></q-leaders>
    </ng-template>
  </mat-tab>

  <mat-tab label="Matches">
    <ng-template matTabContent>
      <q-matches></q-matches>
    </ng-template>
  </mat-tab>
</mat-tab-group>


<mat-menu #onlineMenu="matMenu">
  <ng-template let-friend="friend"
    matMenuContent>
    <button mat-menu-item
      (click)="stat.openUser(friend)">
      Profile
    </button>
    <button mat-menu-item
      (click)="sendTell(friend)">
      Send Tell
    </button>
    @if (fs.allowInvite) {
      <button
        mat-menu-item
        (click)="invite(friend)">
        Invite to Lobby
      </button>
    }
    <button mat-menu-item
      (click)="remove(friend)">
      Remove
    </button>
  </ng-template>
</mat-menu>

<mat-menu #offlineMenu="matMenu">
  <ng-template let-friend="friend"
    matMenuContent>
    <button mat-menu-item
      (click)="stat.openUser(friend)">
      Profile
    </button>
    <button mat-menu-item
      (click)="remove(friend)">
      Remove
    </button>
  </ng-template>
</mat-menu>

<mat-menu #blockedMenu="matMenu">
  <ng-template let-blocked="blocked"
    matMenuContent>
    <button mat-menu-item
      (click)="stat.openUser(blocked)">
      Profile
    </button>
    <button mat-menu-item
      (click)="unblock(blocked)">
      Unblock
    </button>
  </ng-template>
</mat-menu>
