<mat-tab-group [(selectedIndex)]="stat.profileTab"
               mat-align-tabs="center">
    <mat-tab label="Profile">
        <div id="stats">
            <button mat-icon-button
                    class="refresh"
                    (click)="reset()">
                <mat-icon>refresh</mat-icon>
            </button>
            <mat-form-field>
                <input matInput
                       [value]="stat.target"
                       (blur)="searchUser($event)"
                       (focus)="stat.groupStats = undefined">
            </mat-form-field>
            <div id="selection">
                <div class="badges">
                    <div *ngFor="let rank of stat.userRanks"
                         (click)="showRankLeaders(rank)">
                        <div class="badge {{tierTitles[rank.tier]}}"
                             title="Lvl {{rank.level}} {{tierTitles[rank.tier]}} tier">
                            {{rank.level}}
                        </div>
                        <div class="badgetitle">{{rank.name}}</div>
                        <mat-progress-bar mode="determinate"
                                          color="accent"
                                          [title]="rank.title"
                                          [value]="rank.progress">
                        </mat-progress-bar>
                    </div>
                </div>

                <mat-form-field>
                    <mat-select [(value)]="stat.group"
                                placeholder="Category">
                        <mat-option [value]="0">Quacken</mat-option>
                        <mat-option [value]="1">Cadegoose</mat-option>
                        <mat-option [value]="2">Sea Battle</mat-option>
                    </mat-select>
                </mat-form-field>

                <table *ngIf="stat.groupStats">
                    <tr *ngFor="let s of stat.groupStats[stat.group]"
                        class="stat"
                        (click)="showLeaders(s)">
                        <td>{{s.name}}</td>
                        <td>{{s.value || '-'}}<span *ngIf="s.suffix && s.value"> {{s.suffix}}</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Leaderboards">
        <q-leaders></q-leaders>
    </mat-tab>
</mat-tab-group>
