#menu {
  margin: 10px auto 10px auto;
  max-width: 900px;
  text-align: center;
  background-color: rgb(94, 92, 92);
}

#flexmenu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 2px;
  justify-content: center;
  overflow-y: hidden;
  height: auto;
}

.teamwrap {
  display: inline-block;
}

.team {
  display: inline-block;
  margin-top: 8px;
  padding-top: 4px;
  min-width: 200px;
  height: 200px;
  border: 1px solid rgb(137, 214, 233);
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  margin-bottom: 8px;
}

.lobbyPlayer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4px;
  margin: 4px 8px;
  border: 1px solid black;

  img {
    height: 30px;
  }

  mat-icon {
    font-size: 22px;
    margin-right: 4px;
  }
}

.lobbyPlayer.ready {
  border-color: lime;
}

.settings {
  width: 100%;
}

$waitColor: darkslateblue;
$continueColor: darkgreen;
$tieColor: darkgoldenrod;
$forfeitColor: darkred;

.vote1 {
  border-color: $waitColor;
}

.vote2 {
  border-color: $continueColor;
}

.vote3 {
  border-color: $forfeitColor;
}

.vote4 {
  border-color: $tieColor;
}

.vote1,
.vote2,
.vote3,
.vote4 {
  border-width: 2px;
}

.settingRow {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  min-height: 50px;

  #voteWait {
    background-color: $waitColor;
  }

  #voteContinue {
    background-color: $continueColor;
  }

  #voteTie {
    background-color: $tieColor;
    margin-left: 48px;
  }

  #voteForfeit {
    background-color: $forfeitColor;
  }

  button {
    min-width: auto;
    position: relative;
    top: -4px;

    ::ng-deep {
      .mat-button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 4px;
      }
    }
  }

  q-setting {
    min-width: 92px;
    width: min-content;
  }
}

.readyButton {
  width: 100px;
}

.cancel {
  background: maroon;
}

q-name {
  padding-right: 8px;
}

.spawn {
  padding-left: 8px;
}

.teamcount {
  margin-bottom: 1px;
  color: rgb(161, 159, 159);
  font-size: 12px;
}

.jobberSelect {
  text-align: center;
  color: white;
}

.lowjobbers {
  border: 1px solid orange;
  border-radius: 5px;
}
