#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/assets/images/sea1.png");
  overflow: hidden;
}

#mapcenter {
  position: absolute;
  transform-origin: center center;
  transform: translate(50vw, 50vh) translate(-50%, -50%);
}

.obstacle {
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%) translate(32px, 24px);
}

q-gu-boats {
  position: absolute;
  top: 0;
  left: 0;
}

#fps {
  position: absolute;
  bottom: 0;
  z-index: 1000;
}

::ng-deep #overlay canvas {
  position: absolute;
  top: 0;
  scale: 0.905;
  transform: rotateX(41.4deg) rotateZ(-45deg) translate(55%, 4%);
  pointer-events: none;
}