<div #frame
     class="noselect"
     id="background"
     (wheel)="scroll($event)"
     oncontextmenu="event.preventDefault();"
     [style.backgroundSize]="mapScale*64 + 'px'"
     [style.backgroundPosition]="'calc(50vw + ' + (drag.offset.x - getXOff(myBoat))*mapScale + 'px) calc(50vh + ' + (drag.offset.y - getYOff(myBoat))*mapScale + 'px)'">
  <!-- mapframe receives the offset transform, map receives the rotate transform.
 	This allows them to be altered independent of each other -->
  <div id="mapcenter">
    <div [style.transform]="'scale(' + mapScale + ')'">
      <div #drag="qDrag"
           [qDrag]="frame"
           [scale]="mapScale">
        <div
             [style.transform]="'translate(50%, 50%) translate(' + -getXOff(myBoat) + 'px, ' + -getYOff(myBoat) + 'px)'">
          <canvas id="mapCanvas"
                  (mousedown)="mousedown($event)"
                  (mouseup)="mouseup($event)"
                  (mousemove)="mousemove($event)"
                  #canvas></canvas>

          <ng-container *ngFor="let obstacle of obstacles;">
            <q-sprite-img class="obstacle"
                          [render]="obstacle.sprite"
                          [style.zIndex]="obstacle.zIndex"
                          [style.top]="obstacle.sprite.pOffsetY + 'px'"
                          [style.left]="obstacle.sprite.pOffsetX + 'px'"></q-sprite-img>
          </ng-container>

          <q-gu-boats [showIsland]="showIsland"
                      [checkSZ]="checkSZ"
                      [hoveredTeam]="hoveredTeam"
                      [speed]="speed"
                      [fishBoats]="fishBoats"
                      [map]="frame"
                      [setTile]="mapUtil.setTile"
                      [getX]="getX"
                      [getY]="getY">
          </q-gu-boats>

        </div>
      </div>
    </div>
  </div>
</div>

<div #fps
     id="fps"
     [qDrag]="fps"
     [bindToWindow]="true"
     [offset]="graphicSettings.showFps.data"
     (offsetChange)="fpsOffsetChange($event)"
     [hidden]="!graphicSettings.showFps.value">
</div>
