<div #frame
     class="noselect"
     id="background"
     (wheel)="scroll($event)"
     oncontextmenu="event.preventDefault();"
     [style.backgroundSize]="mapScale*64 + 'px'"
     [style.backgroundPosition]="'calc(50vw + ' + (drag.offsetX - getXOff(myBoat))*mapScale + 'px) calc(50vh + ' + (drag.offsetY - getYOff(myBoat))*mapScale + 'px)'">
  <!-- mapframe receives the offset transform, map receives the rotate transform.
 	This allows them to be altered independent of each other -->
  <div id="mapcenter">
    <div [style.transform]="'scale(' + mapScale + ')'">
      <div #drag="qDrag"
           [qDrag]="frame"
           [scale]="mapScale">
        <div
             [style.transform]="'translate(50%, 50%) translate(' + -getXOff(myBoat) + 'px, ' + -getYOff(myBoat) + 'px)'">
          <canvas id="mapCanvas"
                  [width]="getWidth()"
                  [height]="getHeight()"
                  (mousedown)="mousedown($event)"
                  (mouseup)="mouseup($event)"
                  (mousemove)="mousemove($event)"
                  #canvas></canvas>

          <ng-container *ngFor="let obstacle of obstacles;">
            <q-sprite-img class="obstacle"
                [render]="obstacle.sprite"
                [style.zIndex]="obstacle.zIndex"
                [style.top]="obstacle.sprite.pOffsetY + 'px'"
                [style.left]="obstacle.sprite.pOffsetX + 'px'"></q-sprite-img>
          </ng-container>        
          
          <q-gu-boats [showIsland]="safeZone"
                      [hoveredTeam]="hoveredTeam"
                      [speed]="speed"
                      [map]="frame"
                      [getX]="getX"
                      [getY]="getY">
          </q-gu-boats>

        </div>
      </div>
    </div>
  </div>
</div>

<div #fps
     [hidden]="!graphicSettings.showFps.value"
     id="fps"></div>
