<div id="logincontainer">
  <h1>Disturb the Quacken</h1>
  <form id="loginform"
        ngNativeValidate
        (ngSubmit)="create()"
        #loginForm="ngForm">
    <mat-form-field>
      <input [(ngModel)]="user.email"
             name="email"
             type="email"
             matInput
             qAutoSelect
             placeholder="Email"
             autocomplete="username"
             required>
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="user.password"
             name="password"
             matInput
             qAutoSelect
             type="password"
             minlength="6"
             placeholder="Password"
             autocomplete="new-password"
             required>
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="user.name"
             name="name"
             matInput
             qAutoSelect
             minlength="2"
             maxlength="16"
             placeholder="Display Name"
             autocomplete="nickname"
             required>
    </mat-form-field>
    <p id="terms">By creating an account, you agree to our
      <span class="link"
            (click)="showTerms()">terms of use</span>
      and
      <span class="link"
            (click)="showPrivacy()">privacy policy</span>.
    </p>
    <br>
    <button [disabled]="pending"
            type="submit"
            mat-raised-button
            color="accent">Create Account</button>
    <br>
    <p>
      <span class="link"
            (click)="back()">Back to login</span>.
    </p>
  </form>
</div>

<ng-template #error>
  <mat-dialog-content>
    <p>{{err}}</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button
            color="accent"
            mat-dialog-close
            cdkFocusInitial>Close</button>
  </mat-dialog-actions>
</ng-template>
