<div id="logincontainer">
  <div id="logo"><img src="/assets/gclogo.png"></div>
  <p>Powered by superquacken.com</p>
  <div id="loginWrapper">
    <form #loginForm="ngForm"
      id="loginform"
      ngNativeValidate
      (ngSubmit)="create()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input name="email"
          type="email"
          matInput
          qAutoSelect
          autocomplete="username"
          required
          [(ngModel)]="user.email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input name="password"
          matInput
          qAutoSelect
          type="password"
          minlength="6"
          autocomplete="new-password"
          required
          [(ngModel)]="user.password">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input name="name"
          matInput
          qAutoSelect
          minlength="2"
          maxlength="16"
          autocomplete="nickname"
          required
          [(ngModel)]="user.name">
      </mat-form-field>
      <p id="terms">By creating an account, you agree to our
        <span class="link"
        (click)="showTerms()">terms of use</span>
        and
        <span class="link"
        (click)="showPrivacy()">privacy policy</span>.
      </p>
      <button type="submit"
        mat-stroked-button
        color="accent"
      [disabled]="pending">Create Account</button>
      <p>
        <span class="link"
        (click)="back()">Back to login</span>.
      </p>
    </form>
    @if (pending) {
      <div
        class="spinner">
        <mat-spinner></mat-spinner>
      </div>
    }
  </div>
</div>

<ng-template #error>
  <mat-dialog-content>
    <p>{{err}}</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button
      color="accent"
      mat-dialog-close
    cdkFocusInitial>Close</button>
  </mat-dialog-actions>
</ng-template>
