<div>
  <div *ngIf="ws.connected" id="banner">
    <span *ngIf="router.url !== '/list'" title="Back to lobby list"
      [routerLink]="['list']">
      &lt;
    </span>
    <span id="logout" title="Logout" (click)="logout()">x</span>
  </div>
  <router-outlet></router-outlet>

  <app-friends [class.top]="wd.active==='friends'"
    (mousedown)=" wd.active='friends'"></app-friends>
  <app-settings [class.top]="wd.active === 'settings'"
    (mousedown)="wd.active = 'settings'"></app-settings>
  <app-stat [class.top]="wd.active === 'stat'" (mousedown)="wd.active = 'stat'">
  </app-stat>
  <app-leaders [class.top]="wd.active === 'leaders'"
    (mousedown)="wd.active = 'leaders'"></app-leaders>
  <app-inventory [class.top]="wd.active === 'inventory'"
    (mousedown)="wd.active = 'inventory'" [id]=" ws.user?.inventory">
  </app-inventory>
</div>
