@import "../../cadegoose/main-menu//main-menu.component.scss";

#defenders,
#attackers {
  height: 108px;
}

.teamwrap {
  margin-bottom: 100px;
}

.lobbyPlayer q-setting {
  width: auto;
}

.lobbyPlayer img {
  height: 25px;
  width: 25px;
}
