<mat-card id="menu">
  @if (ms.statsOpen) {
    <div>
      <q-stat-end [stats]="ms.lobby?.stats"
        [columns]="SB_STATS"
        [rating]=false
      (closeStats)="ms.statsOpen = false"></q-stat-end>
    </div>
  } @else {
    <h2>Team Selection</h2>
    <div *ngrxLet="es.open$ as open"
      id="flexmenu">
      @for (team of ms.teamPlayers$ | async; track team; let i = $index) {
        <div
          class="teamwrap">
          <div class="team"
            [style.borderColor]="teamColors[i]">
            @for (m of team; track m) {
              <div
                class="lobbyPlayer"
                [class.ready]="m.r">
                <q-name [message]="m"></q-name>
                <img src="./assets/boats/{{links[m.b]}}.png"
                  [matTooltip]="boatTitles[m.b] || ''">
              </div>
            }
          </div>
          <br>
            @if ((ms.status | async) === 0) {
              <button
                mat-raised-button
                [disabled]="!open || (ws.connected$ | async) === false"
              (click)="ms.joinTeam(i)">{{ms.myTeam === i ? 'Leave' : 'Join'}}</button>
            }
          </div>
        }
        <div class="settings">
          <div class="settingRow">
            <button mat-raised-button
              color="accent"
              class="readyButton"
              [disabled]="!open || ((ms.teamPlayers$ | async)?.length || 0) < 2"
              [class.cancel]="ms.ready"
            (click)="ms.toggleReady()">{{readyText()}}</button>
            @if (ss.admin$ | async) {
              <q-setting
                name="startNew"
              id="start"></q-setting>
            }
            <q-setting name="nextCadeBoat"></q-setting>
          </div>
        </div>
      </div>
    }
  </mat-card>
