@import "../../cadegoose/main-menu//main-menu.component.scss";

#defenders,
#attackers {
    height: 58px;
}

.lobbyPlayer q-setting {
    width: auto;
}

.lobbyPlayer img {
    height: 25px;
    width: 25px;
}
