<div #background>
  <q-twod-render #renderer
                 *ngIf="graphicSettings.renderMode?.value === 0"
                 [hoveredTeam]="hoveredTeam"
                 [speed]="graphicSettings.speed.value"
                 [mapScale]="graphicSettings.mapScale.value"
                 [fishBoats]="lobbySettings.fishBoats.value"
                 [ctrlZoom]="advancedMapOpen"
                 [setTile]="advancedMapOpen ? setTile.bind(this) : 0"
                 [undo]="undo"
                 [editor]="editor"
                 [lobby]="lobby"
                 [graphicSettings]="graphicSettings"
                 [myBoat]="myBoat"></q-twod-render>
  <q-threed-render #renderer
                   *ngIf="graphicSettings.renderMode?.value === 1"
                   [hoveredTeam]="hoveredTeam"
                   [graphicSettings]="graphicSettings"></q-threed-render>

</div>
<q-obstacles *ngIf="advancedMapOpen"
             [map]="editor"
             [background]="background">
</q-obstacles>

<q-cade-entry-status (keydown.Tab)="statOpacity = 1"
                     (hoveredTeam)="hoveredTeam = $event"
                     [myTeam]="myBoat.team"></q-cade-entry-status>

<q-stats [style.Opacity]="hoveredTeam !== -1 || statOpacity ? 1 : 0"
         [hoveredTeam]="hoveredTeam"
         [statOpacity]="statOpacity"
         [showExtra]="showExtraStats"
         [stats]="lobby?.stats"
         [myTeam]="myBoat.team"></q-stats>
<q-cade-hud [kbControls]="controlSettings.kbControls.value"
            [shiftSpecials]="controlSettings.shiftSpecials.value"></q-cade-hud>

<div [hidden]="!advancedMapOpen"
     id="advancedMap"
     class="container"
     [qDrag]="handle"
     [bindToWindow]="true">
  <div #handle
       class="handle"></div>
  <q-advanced-map [seed]="mapSeed"
                  (seedChange)="updateSeed($event)"></q-advanced-map>

  <button mat-raised-button
          color="accent"
          (click)="advancedMapOpen = false">Done</button>
</div>
