<div #frame
     class="noselect"
     id="background"
     oncontextmenu="event.preventDefault();">
     <!-- three.js canvas goes here -->
</div>
<div #fps
     [hidden]="!settings.showFps"
     id="fps"></div>

<q-cade-entry-status (mouseover)="statOpacity = 1"
                     (mouseleave)="statOpacity = 0"
                     (hoveredTeam)="hoveredTeam = $event"></q-cade-entry-status>
<q-stats [style.opacity]="statOpacity"
         [stats]="lobby?.stats"></q-stats>
<q-cade-hud></q-cade-hud>
