<q-twod-render [hoveredTeam]="hoveredTeam"
               [speed]="graphicSettings.speed.value"
               [mapScale]="graphicSettings.mapScale.value"
               [graphicSettings]="graphicSettings"
               [myBoat]="myBoat"></q-twod-render>

<q-cade-entry-status (mouseover)="statOpacity = 1"
                     (mouseleave)="statOpacity = 0"
                     (hoveredTeam)="hoveredTeam = $event"></q-cade-entry-status>
<q-stats [style.opacity]="statOpacity"
         [stats]="lobby?.stats"></q-stats>
<q-cade-hud [kbControls]="controlSettings.kbControls?.value || 0"></q-cade-hud>
