:host {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 40px 2% 0 2%;
  background: center/cover url("/assets/background.jpg");
  overflow: auto;
}

#cards {
  position: relative;
  min-height: 100px;
  height: calc(100vh - 328px);
  padding: 12px 0;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border-top: 1px solid darkgrey;
  column-gap: 12px;
  row-gap: 12px;
}

.card {
  height: 200px;
  width: 150px;
  overflow: hidden;
  padding: 8px 16px;
  background-color: rgba(112, 123, 124, 0.8);
  border: 1px solid darkgrey;
  border-radius: 16px;
  white-space: normal;
  line-height: inherit;
  transition: 0.3s;
}

#frame {
  position: relative;
  max-width: 900px;
  max-height: calc(100vh - 60px);
  min-height: 360px;
  margin: auto;
  padding: 16px;
  background-color: rgba(112, 123, 124, 0.8);
  color: #eee;
  border: 2px solid grey;
  border-radius: 8px;
  user-select: none;
  text-align: center;
}

#addLobby {
  height: 60px;
  width: 60px;
  font-size: 60px;
}
