:host {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 40px 2% 0 2%;
  background: center/cover url('/assets/background.jpg');
  overflow: auto;
}

q-chat-box {
  display: block;
  width: 100%;
  max-width: 750px;
  margin: auto;
}

#cards {
  position: relative;
  min-height: 150px;
  height: calc(100vh - 300px);
  padding-top: 16px;
  overflow: auto;
}

#frame {
  position: relative;
  max-width: 900px;
  max-height: calc(100vh - 60px);
  min-height: 360px;
  margin: auto;
  padding: 16px;
  padding-top: 50px;
  background-color: rgba(112, 123, 124, .8);
  color: #eee;
  border: 2px solid grey;
  border-radius: 8px;
  user-select: none;
}
