<div id="frame">
  <div id="nav">
    <div *ngFor="let link of links" class="link" (click)="selected = link.path"
      [class.active]="selected === link.path">
      {{link.title}}
    </div>
  </div>

  <div id="selection">
    <ng-container *ngIf="selected === 'list'">
      <h2>Welcome {{ws.user.name}}!</h2>
      <p>
        Select a lobby from the list or create your own to play.
      </p>

      <div id="lobbylist">
        <table>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Players</th>
            <th>Settings</th>
            <th>Tile</th>
            <th>Structure</th>
          </tr>

          <tr *ngFor="let lobby of lobbies" (click)="join(lobby)">
            <td>{{lobby.type}}</td>
            <td>{{lobby.name}}</td>
            <td>{{lobby.players}} / {{lobby.group.maxPlayers}}</td>
            <td>
              <mat-icon title="Duck Level ({{lobby.group.duckLvl}})"
                [style.color]="'rgb('+lobby.group.duckLvl*20+','+(11-lobby.group.duckLvl)*20+',0)'">
                show_chart
              </mat-icon>
              <mat-icon
                title="Hot Entry ({{lobby.group.hotEntry ? 'allowed' : 'blocked'}})"
                [style.color]="lobby.group.hotEntry ? 'green' : 'maroon'">
                whatshot
              </mat-icon>
              <mat-icon title="{{publicModes[lobby.group.publicMode]}}"
                [style.color]="lobby.group.publicMode ? 'orange' : 'green'">
                public
              </mat-icon>
            </td>
            <td>{{lobby.group.tileSet}}</td>
            <td>{{lobby.group.structureSet}}</td>
          </tr>
        </table>
      </div>
    </ng-container>

    <ng-container *ngIf="selected === 'create'">
      <h2>Create Lobby</h2>
      <div id="lsettings">
        <app-setting name="maxPlayers"></app-setting>
        <app-setting name="duckLvl"></app-setting>
        <app-setting name="publicMode"></app-setting>
        <app-setting name="customMap"></app-setting>
        <app-setting name="tileSet"></app-setting>
        <app-setting name="structureSet"></app-setting>
        <app-setting name="hotEntry"></app-setting>
        <app-setting name="autoGen"></app-setting>
        <app-setting name="hideMoves"></app-setting>
      </div>

      <p *ngIf="settings.customMap" class="error">
        Note: Selecting a custom map will override map generation settings.
        Clear the custom map selection to re enable map generation.
      </p>
      <button mat-raised-button (click)="createLobby()"
        [disabled]="!ws.user.id || created">Create</button>
      <p *ngIf="!ws.user.id" class="error">
        Guests cannot make lobbies. Join an existing lobby or create an account
        to make your own.
      </p>
    </ng-container>

    <ng-container *ngIf="selected === 'map'">
      <h2>Map Editor</h2>
      <p>
        This tool allows you to create and edit maps and tile sets that can be
        used in player created lobbies. More details can be found inside the
        editor.
      </p>
      <button mat-raised-button (click)="router.navigate(['editor'])"
        [disabled]="!ws.user.id">Get Started</button>
      <p *ngIf="!ws.user.id" class="error">
        Guests cannot create maps. Create an account to unlock this feature.
      </p>
    </ng-container>

    <ng-container *ngIf="selected === 'notes'">
      <div *ngFor="let note of notes" class="note">
        <h2>{{note.title}}</h2>
        <p [innerHTML]="note.content"></p>
      </div>
    </ng-container>
  </div>

  <app-chat></app-chat>
</div>
