<ng-template #quackenView
             let-settings="settings">
  <mat-icon title="Duck Level ({{settings.duckLvl}})"
            [style.color]="'rgb('+settings.duckLvl*20+','+(11-settings.duckLvl)*20+',0)'">
    show_chart
  </mat-icon>
  <mat-icon title="Hot Entry ({{settings.hotEntry ? 'allowed' : 'blocked'}})"
            [style.color]="settings.hotEntry ? 'green' : 'maroon'">
    whatshot
  </mat-icon>
  <mat-icon title="{{publicModes[settings.publicMode]}}"
            [style.color]="settings.publicMode ? 'orange' : 'green'">
    public
  </mat-icon>
  <span title="Tile Set">{{settings.tileSet}}</span>
  <span title="Structure Set">{{settings.structureSet}}</span>
</ng-template>

<ng-template #spadesView
             let-settings="settings">
  <mat-icon title="Watchers ({{settings.watchers ? 'allowed' : 'blocked'}})"
            [style.color]="settings.watchers ? 'green' : 'maroon'">
    {{settings.watchers ? 'visibility' : 'visibility_off'}}
  </mat-icon>
  <span title="Timer (seconds)">{{settings.turnTime}}</span>
  <span title="Play to">{{settings.playTo}}</span>
</ng-template>

<ng-template #quackenEdit>
  <q-setting name="maxPlayers"></q-setting>
  <q-setting name="duckLvl"></q-setting>
  <q-setting name="publicMode"></q-setting>
  <q-setting name="customMap"></q-setting>
  <q-setting name="tileSet"></q-setting>
  <q-setting name="structureSet"></q-setting>
  <q-setting name="hotEntry"></q-setting>
  <q-setting name="autoGen"></q-setting>
  <q-setting name="hideMoves"></q-setting>
</ng-template>

<ng-template #spadesEdit>
  <q-setting name="turnTime"></q-setting>
  <q-setting name="playTo"></q-setting>
  <q-setting name="watchers"></q-setting>
</ng-template>

<div id="frame">
  <div id="nav">
    <div *ngFor="let link of links"
         class="link"
         (click)="selected = link.path"
         [class.active]="selected === link.path">
      {{link.title}}
    </div>
  </div>

  <div id="selection">
    <ng-container *ngIf="selected === 'list'">
      <h2>Welcome {{ws.user.name}}!</h2>
      <p>
        Select a lobby from the list or create your own to play.
      </p>

      <div id="lobbylist">
        <table>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Players</th>
            <th>Settings</th>
          </tr>

          <tr *ngFor="let lobby of lobbies"
              (click)="join(lobby)">
            <td>{{lobby.type}}</td>
            <td>{{lobby.name}}</td>
            <td>{{lobby.players}} / {{lobby.group.maxPlayers}}</td>
            <td class="settingsView">
              <ng-container
                            *ngTemplateOutlet="{HexaQuack: quackenView, Quacken: quackenView, Spades: spadesView}[lobby.type]; context: {settings: lobby.group}">
              </ng-container>
            </td>
          </tr>
        </table>
      </div>
    </ng-container>

    <ng-container *ngIf="selected === 'create'">
      <h2 id="create">Lobby Type: <q-setting name="createType"
                   (change)="changeType()"></q-setting>
      </h2>
      <div id="lsettings">
        <ng-container *ngTemplateOutlet="[quackenEdit, quackenEdit, spadesEdit][settings.createType]">
        </ng-container>
      </div>

      <p *ngIf="createGroup.customMap"
         class="error">
        Note: Selecting a custom map will override map generation settings.
        Clear the custom map selection to re enable map generation.
      </p>
      <button mat-raised-button
              (click)="createLobby()"
              [disabled]="!ws.user.id || created">Create</button>
      <p *ngIf="!ws.user.id"
         class="error">
        Guests cannot make lobbies. Join an existing lobby or create an account
        to make your own.
      </p>
    </ng-container>

    <ng-container *ngIf="selected === 'map'">
      <h2>Map Editor</h2>
      <p>
        This tool allows you to create and edit maps and tile sets that can be
        used in player created lobbies. More details can be found inside the
        editor.
      </p>
      <button mat-raised-button
              (click)="router.navigate(['editor'])"
              [disabled]="!ws.user.id">Get Started</button>
      <p *ngIf="!ws.user.id"
         class="error">
        Guests cannot create maps. Create an account to unlock this feature.
      </p>
    </ng-container>

    <ng-container *ngIf="selected === 'notes'">
      <div *ngFor="let note of notes"
           class="note">
        <h2>{{note.title}}</h2>
        <p [innerHTML]="note.content"></p>
      </div>
    </ng-container>
  </div>

  <q-chat></q-chat>
</div>
