<div id="frame">
  <div id="nav">
    <div *ngFor="let link of links" class="link"
    (click)="selected = link.path" [class.active]="selected === link.path">
      {{link.title}}
    </div>
  </div>

  <div id="selection">
    <ng-container *ngIf="selected === 'list'">
      <h2>Welcome {{ws.user.name}}!</h2>
      <p>
        Select a lobby from the list or create your own to play.
      </p>

      <div id="lobbylist"><table>
        <tr><th *ngFor="let column of columns">{{column.title}}</th></tr>

        <tr *ngFor="let lobby of lobbies" (click)="router.navigate(['lobby', lobby.id])">
          <td *ngFor ="let column of columns">{{lobby[column.property]}}</td>
        </tr>
      </table></div>
    </ng-container>

    <ng-container *ngIf="selected === 'create'">
      <h2>Create Lobby</h2>
      <p>Lobby settings n stuff.</p>
      <button mat-raised-button (click)="createLobby()" [disabled]="!ws.user.id || created">Create</button>
      <p *ngIf="!ws.user.id" class="error">
        Guests cannot make lobbies. Join an existing lobby or create an account to make your own.
      </p>
    </ng-container>

    <ng-container *ngIf="selected === 'map'">
      <h2>Map Editor</h2>
      <p>
        This tool allows you to create and edit maps and tile sets. Work in progress.
        <br><br>
        You must create a tile set before you can create any tiles. Tile placement on maps coming soon.
      </p>
      <button mat-raised-button (click)="socket.path$.next('editor')" [disabled]="!ws.user.id">Get Started</button>
      <p *ngIf="!ws.user.id" class="error">
        Guests cannot create maps. Create an account to unlock this feature.
      </p>
    </ng-container>
  </div>

  <app-chat></app-chat>
</div>
