:host {
    text-align: center;
    position: relative;
}

mat-card-actions {
    text-align: left;
}

q-setting {
    display: inline-block;
    margin-right: 16px;
}

#defaults {
    float: right;
}

table {
    width: 100%;
}

th,
td {
    padding: 8px 16px;
    border: 1px solid grey;
}

.mat-icon-button {
    width: 18px;
    height: 18px;
    line-height: 18px;

    mat-icon {
        font-size: 18px;
    }
}

::ng-deep .mat-menu-panel {
    max-width: none;
}

.popup {
    color: #eee;
}
