:host {
  text-align: center;
  position: relative;
}

mat-card-actions {
  text-align: left;
}

q-setting {
  display: inline-block;
  margin-right: 16px;
}

#defaults {
  float: right;
}

table {
  width: 100%;
}

th,
td {
  padding: 8px 16px;
  border: 1px solid grey;
}

.key-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

::ng-deep .mat-menu-panel {
  max-width: none;
}

.popup {
  color: #eee;
}
