<div #background>
  <q-twod-render #renderer
                 *ngIf="graphicSettings.renderMode?.value === 0"
                 [hoveredTeam]="hoveredTeam"
                 [speed]="graphicSettings.speed?.value ?? 10"
                 [mapScale]="graphicSettings.mapScale?.value ?? 50"
                 [fishBoats]="lobbySettings.fishBoats?.value ?? 0"
                 [mapHeight]="mapHeight"
                 [mapWidth]="mapWidth"
                 [ctrlZoom]="advancedMapOpen"
                 [setTile]="setTile.bind(this)"
                 [checkSZ]="checkSZ"
                 [undo]="undo"
                 [editor]="editor"
                 [lobby]="lobby"
                 [showIsland]="false"
                 [graphicSettings]="graphicSettings"
                 [myBoat]="myBoat"></q-twod-render>
  <q-threed-render #renderer
                   *ngIf="graphicSettings.renderMode?.value === 1"
                   [hoveredTeam]="hoveredTeam"
                   [mapHeight]="mapHeight"
                   [mapWidth]="mapWidth"
                   [graphicSettings]="graphicSettings"></q-threed-render>
</div>
<q-obstacles *ngIf="advancedMapOpen"
             [map]="editor"
             [background]="background">
</q-obstacles>

<q-cade-entry-status (keydown.Tab)="statOpacity = 1"
                     (hoveredTeam)="hoveredTeam = $event"
                     [myTeam]="myBoat.team"></q-cade-entry-status>
<q-stats [style.Opacity]="hoveredTeam !== -1 || statOpacity ? 1 : 0"
         [hoveredTeam]="hoveredTeam"
         [statOpacity]="statOpacity"
         [stats]="lobby?.stats"
         [columns]="columns"
         [myTeam]="myBoat.team"></q-stats>

<q-cade-hud [moveKeys]="moveKeys"
            [actions]="actions"
            [group]="'l/flaggames'"
            [kbControls]="controlSettings.kbControls?.value || 0"></q-cade-hud>
