#map {
    position: absolute;
    border: 1px solid grey;
    transform: translate(50vw, 50vh) translate(-50%, -50%) rotateX(45deg) rotateZ(-45deg);
    background: url('/assets/images/water.png');
    background-size: 50px;
  }
  
  .tile {
    display: block;
    float: left;
    height: 50px;
    width: 50px;
    border: 1px solid #4080bf;
  }