@if (map && map.selectedTile) {
  <div
    id="map"
    (mouseup)="painting = false">
    @for (row of map.selectedTile.data; track y; let y = $index) {
      <div>
        @for (tile of row; track x; let x = $index) {
          <div
            class="tile"
            [class.sztile]="map.selectedTile.group === 'cgmaps' ? y < 3 || y > 32 : y > 48"
            (mousedown)="clickTile($event, x, y)"
            (mouseup)="mouseUp($event, x, y)"
            (mouseover)="painting ? clickTile($event, x, y) : null">
            @if (tile) {
              <img
                src="./assets/images/obstacle{{tile}}.png"
                draggable="false"
                [class]="'img' + tile"
                [matTooltip]="tile < 5 ? titles[tile + 1] || '': ''">
              }
            </div>
          }
        </div>
      }
    </div>
  }
