#background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-color: #0b5394;
  text-align: center;
}

#hud {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 95%;
  max-width: 750px;
  min-width: 320px;
  padding: 12px;
  z-index: 10;
}

#chat {
  float: left;
  width: calc(100% - 150px);
}

#buttons {
  position: relative;
  flex-grow: none;
  padding: 0 8px;
  height: 145px;
  float: left;
  width: 150px;
  color: #eee;
}

#editorSettings {
  margin-top: 12px;
}
