<q-twod-render [mapHeight]="mapHeight"
               [mapWidth]="mapWidth"
               [safeZone]="false"
               [speed]="graphicSettings.speed?.value || 30"
               [mapScale]="graphicSettings.mapScale?.value || 50"
               [graphicSettings]="graphicSettings"
               [myBoat]="myBoat"
               [hoveredTeam]="hoveredTeam"></q-twod-render>

<q-sb-entry-status (keydown.Tab)="statOpacity = 1" 
            (hoveredTeam)="hoveredTeam = $event"
            [myTeam]="myBoat.team"></q-sb-entry-status>

<q-sb-stats [style.Opacity]="hoveredTeam !== -1 || statOpacity ? 1 : 0"
            [hoveredTeam]="hoveredTeam"
            [statOpacity]="statOpacity"
            [myTeam]="myBoat.team"
            [stats]="lobby?.stats"></q-sb-stats>
            
<q-cade-hud [moveKeys]="moveKeys"
            [actions]="actions"
            [kbControls]="controlSettings.kbControls?.value || 0"></q-cade-hud>
