<q-twod-render [mapHeight]="mapHeight"
               [mapWidth]="mapWidth"
               [safeZone]="false"
               [speed]="graphicSettings.speed.value"
               [mapScale]="graphicSettings.mapScale.value"
               [graphicSettings]="graphicSettings"
               [myBoat]="myBoat"></q-twod-render>

<q-sb-entry-status (mouseover)="statOpacity = 1"
                   (mouseleave)="statOpacity = 0"></q-sb-entry-status>
<q-sb-stats [style.opacity]="statOpacity"
            [stats]="lobby?.stats"></q-sb-stats>
<q-cade-hud [moveKeys]="moveKeys"
            [actions]="actions"
            [kbControls]="controlSettings.kbControls?.value || 0"></q-cade-hud>
