<q-twod-render #renderer
               *ngIf="graphicSettings.renderMode?.value === 0"
               [hoveredTeam]="hoveredTeam"
               [speed]="graphicSettings.speed?.value ?? 10"
               [mapScale]="graphicSettings.mapScale?.value ?? 50"
               [mapHeight]="mapHeight"
               [mapWidth]="mapWidth"
               [safeZone]="false"
               [showIsland]="false"
               [graphicSettings]="graphicSettings"
               [myBoat]="myBoat"></q-twod-render>
<q-threed-render #renderer
                 *ngIf="graphicSettings.renderMode?.value === 1"
                 [hoveredTeam]="hoveredTeam"
                 [mapHeight]="mapHeight"
                 [mapWidth]="mapWidth"
                 [safeZone]="false"
                 [graphicSettings]="graphicSettings"></q-threed-render>

<q-sb-entry-status (keydown.Tab)="statOpacity = 1"
                   (hoveredTeam)="hoveredTeam = $event"
                   [myTeam]="myBoat.team"></q-sb-entry-status>

<q-sb-stats [style.Opacity]="hoveredTeam !== -1 || statOpacity ? 1 : 0"
            [hoveredTeam]="hoveredTeam"
            [statOpacity]="statOpacity"
            [myTeam]="myBoat.team"
            [stats]="lobby?.stats"></q-sb-stats>

<q-cade-hud [moveKeys]="moveKeys"
            [actions]="actions"
            [kbControls]="controlSettings.kbControls?.value || 0"
            [shiftSpecials]="controlSettings.shiftSpecials?.value || 0"></q-cade-hud>
