@import '../../quacken/boats/boat-base.scss';

.influence {
  position: relative;
  top: -25px;
  left: 25px;
  border: 2px solid lime;
  min-width: 50px;
  padding-bottom: 100%;
  border-radius: 50%;
  z-index: -10;
  transform: translate(-50%, -50%);
}

.team1 .influence {
  border-color: red;
}

.boattitle {
  color: rgb(1, 153, 1);
}

.me .boattitle {
  color: lime;
}

.team1 .boattitle {
  color: rgb(255, 102, 0);
}

.team1.me .boattitle {
  color: red;
}

@keyframes explode {
  1% { border: 1px dotted yellow; background: red; }
  to { opacity: 0; transform: translate(var(--tranX,0), var(--tranY,0)) scale(3); }
}

@keyframes splash {
  1% { border-color: deepskyblue; background: transparent; }
  to { opacity: 0; transform: translate(var(--tranX,0), var(--tranY,0)) scale(3); }
}

@keyframes move { 
  to { transform: translate(var(--tranX,0), var(--tranY,0)); }
}

.shot.dis1 { --movetime: .5s; --distance: 50px; }
.shot.dis2 { --movetime: .8s; --distance: 100px; }
.shot.dis3, .shot.dis4 { --movetime: 1s; --distance: 150px; }

// speed set from html
.shot.double { top: 10px; --delay: calc(var(--speed) * .2s) }
.shot {
  position: relative;
  top: 20px;
  left: 20px;
  width: 10px;
  padding-bottom: 100%;
  border: 1px solid black;
  background: grey;
  border-radius: 50%;
  opacity: 1;
  animation-name: move, explode;
  animation-duration: calc(var(--speed) * var(--movetime)), calc(var(--speed) * .5s);
  animation-delay: var(--delay, 0s), calc((var(--movetime) - .3s) * var(--speed) + var(--delay, 0s));
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}
.shot.dis4 { animation-name: move, splash; }

.shot.dir0 { --tranY: calc(0px - var(--distance)) }
.shot.dir1 { --tranX: var(--distance) }
.shot.dir2 { --tranY: var(--distance) }
.shot.dir3 { --tranX: calc(0px - var(--distance)) }
