<div *ngFor="let obj of clutter"
     class="clutter"
     [class.front]="obj.t === 0"
     [style.transform]="getObj(obj)">

     <div *ngIf="obj.t === 0"
          style="--speed: {{10/speed}};">
          <div class="shot"
               class="dir{{obj.dir}} dis{{obj.dis}}"> </div>
          <div *ngIf="obj.dbl"
               class="dir{{obj.dir}} dis{{obj.dis}}"
               class="shot double">
          </div>
     </div>
</div>

<div *ngFor="let boat of boats; trackBy: trackBoatBy"
     [style.opacity]="boat.opacity"
     [style.transform]="'translateX(' + (getX(boat.pos)+boat.offsetX) + 'px)'"
     [style.transition]="moveTransition(boat.moveTransition[0]) + (boat.enteringSZ ? szFade : '')">

     <!-- split boat div to allow different transitions on each axis -->
     <div class="boat team{{boat.team}}"
          [class.me]="boat.isMe"
          [style.transform]="'translateY(' + (getY(boat.pos)+boat.offsetY) + 'px)'"
          [style.transition]="moveTransition(boat.moveTransition[1])">
          <div class="boatheader"
               *ngIf="boat.name || boat.isMe">
               <span class="boattitle"
                     [title]="boat.title">
                    {{boat.name}}
               </span>

               <div class="movebar"
                    [class.ready]="boat.ready">
                    <div *ngFor="let move of boat.moves; let i=index"
                         class="movebarslice {{moveNames[move]}}">
                    </div>
               </div>
          </div>

          <img class="boatimage"
               (mouseover)="boatInfluence = boat.id || -1"
               (mouseleave)="boatInfluence = -1"
               src="./assets/boats/boat{{boat.type}}.png"
               [style.opacity]="boat.imageOpacity"
               [style.transform]="'rotate(' + boat.face + 'deg)'"
               [style.transition]="rotateTransition(boat)">

          <div class="influence"
               [hidden]="boat.id !== boatInfluence && boat.team != teamInfluence"
               [style.width]="boat.influence"></div>
     </div>
</div>
