.front {
  z-index: 100;
}

.influence {
  position: relative;
  top: -25px;
  left: 25px;
  border: 2px solid lime;
  padding-bottom: 100%;
  border-radius: 50%;
  z-index: -10;
  transform: translate(-50%, -50%);
}

.team1 .influence {
  border-color: red;
}

.boat {
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
  z-index: 1;
}

.boatheader {
  position: absolute;
  text-align: center;
  line-height: 1;
  top: -20px;
  left: -23px;
  width: 150px;
  height: auto;
  transform: rotate(45deg) scaleY(1.2);
}

.boattitle {
  position: relative;
  padding-bottom: 5px;
  z-index: 10000;
  color: rgb(1, 153, 1);
  font-size: 16px;
  font-weight: bold;
}

.me .boattitle {
  color: lime;
}

.team1 .boattitle {
  color: red;
}

.team1.me .boattitle {
  color: rgb(255, 102, 0);
}

.movebar {
  box-sizing: content-box;
  width: 48px;
  height: 8px;
  margin: auto;
  margin-top: 5px;
  border: 1px solid black;
  transition: .5s;
}

.movebarslice {
  float: left;
  width: 25%;
  height: 8px;
  background-color: grey;
}

.left {
  background-color: #b9cef1;
}

.forward {
  background-color: #97c469;
}

.right {
  background-color: #ff9d55;
}

.obscured {
  background-color: #eee;
}

.overmove {
  background-color: red;
}

.ready {
  border: 1px solid lime;
}

.boatimage {
  height: 50px;
}

.clutter {
  position: absolute;
  top: 0;
  left: 0;
}

.clutterimage {
  position: absolute;
  padding: 12px;
  width: 50px;
  height: 50px;
  opacity: 1;
  transition: 1s linear;
  z-index: -1;
}

.sunk {
  opacity: 0;
  transform: scale(0.5);
}

@keyframes explode {
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(4);
  }
}
