<div id="boatlist"
     class="container"
     [qDrag]="handle"
     [bindToWindow]="true">
  <div #handle
       class="handle"></div>
  <mat-tab-group [selectedIndex]="settings.baships.value === 2 ? 1 : 0">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon matTooltip="Your Boats">sailing</mat-icon>
      </ng-template>
      <q-boat-button *ngFor="let boat of filteredBoats"
                     [class.highlight]="boat.showInfluence || highlightedBoats.has(boat.id)"
                     [class.noCoverage]="!hasCoverage(boat)"
                     [matTooltip]="hasCoverage(boat) ? '' : 'This boat has no coverage assigned!'"
                     [boat]="boat"
                     [fishNames]="fishNames"
                     [active]="activeBoat === boat"
                     (mouseover)="boat.showInfluence = true"
                     (mouseout)="boat.showInfluence = false"
                     (click)="selectBoat(boat)"></q-boat-button>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon matTooltip="Ship Spawning">add</mat-icon>
      </ng-template>
      <ng-template #fixedShips>
        <p class="empty">You can only spawn ships in influence cap mode.</p>
      </ng-template>

      <ng-container *ngIf="settings.baships.value === 2; else fixedShips">
        <div class="half">
          <p>Cost: {{cost}} / {{$any(settings.baships.data)?.budget < 1010
              ?
              $any(settings.baships.data).budget
              : '∞'
              }}</p>
              <p *ngIf="spawnBoats.length === 0"
                 class="empty">Click boat types below to spawn ships.</p>
              <div *ngFor="let boat of spawnBoats"
                   class="boat">
                <span>{{ShipTypeMap.get(boat.type)?.title}}</span>
                <span class="name"
                      (click)="selectBoat(boat)">{{fishNames ? boat.name : boat.title}}</span>
                <mat-icon (click)="removeBoat(boat.id)">cancel</mat-icon>
              </div>
        </div>

        <div class="half">
          <q-ship-list [showList]="false"
                       [ships]="boatTypes"
                       [budget]="$any(settings.baships.data)?.budget"
                       (shipAdd)="addBoat($event)"></q-ship-list>
        </div>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</div>
