<div #background>
  <q-twod-render #renderer
                 (hoverTile)="hoverTile($event)"
                 (mouseDownTile)="mouseDownTile($event)"
                 (clickTile)="clickTile($event)"
                 [hoveredTeam]="hoveredTeam"
                 [speed]="graphicSettings.speed.value"
                 [fishBoats]="lobbySettings.fishBoats.value"
                 [ctrlZoom]="advancedMapOpen"
                 [setTile]="advancedMapOpen ? setTile.bind(this) : 0"
                 [undo]="undo"
                 [editor]="editor"
                 [graphicSettings]="graphicSettings"></q-twod-render>

</div>

<q-cade-entry-status (hoveredTeam)="hoveredTeam = $event"
                     (click)="showExtraStats = !showExtraStats"
                     [myTeam]="myBoat.team"></q-cade-entry-status>

<q-stats [style.Opacity]="hoveredTeam !== -1 || statOpacity ? 1 : 0"
         [hoveredTeam]="hoveredTeam"
         [statOpacity]="statOpacity"
         [showExtra]="showExtraStats"
         [stats]="lobby.stats"
         [myTeam]="myBoat.team"></q-stats>

<q-ba-hud [activeBoat]="activeBoatSettings"
          [boatSettings]="boatSettings"></q-ba-hud>

<q-boat-list (boatsChange)="gotBoats($event)"
             [activeBoat]="activeBoat"
             (activeBoatChange)="activeBoatChange($event)"></q-boat-list>
