@import "../stats/stats.component.scss";

#statFrame {
  height: 300px;
  overflow-y: auto;
}

table {
  margin-bottom: 20px;
  user-select: all;
}

.defender {
  color: rgb(125, 236, 80);
}

.attacker {
  color: red;
}

table {
  width: auto;
  margin: auto;
  margin-bottom: 20px;
}
