@if (rating) {
  <h4 class="mapRating">Map Rating: <q-rating (ratingUpdated)="rateMap.emit($event)"></q-rating></h4>
}

<h2 class="title">Round Summary</h2>

@if (extraColumns.length) {
  <mat-button-toggle-group
    name="statGroup"
    aria-label="Stat group"
    [(ngModel)]="showExtra">
    <mat-button-toggle [value]="0">Normal Stats</mat-button-toggle>
    <mat-button-toggle [value]="1">Extra</mat-button-toggle>
  </mat-button-toggle-group>
}
<br><br>

<div id="statFrame">
  <table>
    <tr>
      <th>Name</th>
      <th>Score</th>
      @for (c of (showExtra ? extraColumns : columns); track c) {
        <th>{{c.title}}</th>
      }
    </tr>
    @for (r of scores; track r) {
      <tr>
        <td [style.color]="teamColors[r.team]">{{r.user}}</td>
        <td>{{r.score}}</td>
        @for (c of (showExtra ? extraColumns : columns); track c) {
          <td>{{r.stats[c.stat]}}</td>
        }
      </tr>
    }
  </table>

  @if (myScore) {
    <h4 class="title">Your Score Breakdown</h4>
    <table>
      <tr>
        <th>Category</th>
        <th>Points</th>
      </tr>
      @for (c of columns; track c) {
        @if (pointValues[c.stat] && myScore.stats[c.stat]) {
          <tr>
            <td>{{c.title}}</td>
            <td>{{(pointValues[c.stat] || 0) * Number(myScore.stats[c.stat])}}</td>
          </tr>
        }
      }
    </table>
  }
</div>

<div class="buttons">
  <button mat-raised-button
    id="ready"
  (click)="close()">Continue</button>
</div>
