@use "../stats/stats.component.scss";

#statFrame {
  height: 300px;
  overflow-y: auto;
}

.mapRating {
  margin-bottom: -20px;
}

table {
  margin-bottom: 20px;
  user-select: all;
}

.defender {
  color: rgb(125, 236, 80);
}

.attacker {
  color: red;
}

table {
  width: auto;
  margin: auto;
  margin-bottom: 20px;
}

.title {
  color: rgb(228, 66, 66);
}

.buttons {
  margin-bottom: 8px;
}

th {
  color: rgb(208, 219, 56);
}