<div id="logincontainer">
    <h1>Disturb the Quacken</h1>
    <form id="loginform"
          ngNativeValidate
          (ngSubmit)="login()"
          #loginForm="ngForm">
        <mat-form-field>
            <input [(ngModel)]="user.email"
                   name="email"
                   matInput
                   qAutoSelect
                   placeholder="Email"
                   autocomplete="username"
                   required>
        </mat-form-field>
        <mat-form-field>
            <input [(ngModel)]="user.password"
                   name="password"
                   matInput
                   qAutoSelect
                   type="password"
                   minlength="6"
                   placeholder="Password"
                   autocomplete="current-password"
                   required>
        </mat-form-field>
        <p id="terms">By logging in, you agree to our
            <span class="link"
                  (click)="showTerms()">terms of use</span>
            and
            <span class="link"
                  (click)="showPrivacy()">privacy policy</span>.
        </p>
        <br>
        <button [disabled]="pending"
                class="login"
                type="submit"
                mat-stroked-button
                color="accent">Log in</button>
        <br>
        <p>
            No account?
            <span class="link"
                  (click)="createAccount()">Create one</span>
            or
            <span class="link"
                  (click)="guestLogin()">play as a guest</span>.
        </p>
    </form>
</div>

<ng-template #error>
    <mat-dialog-content>
        <p *ngIf="!errMessage; else message">Wrong email or password.</p>
        <ng-template #message>
            <p>{{errMessage}}</p>
        </ng-template>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button
                [disabled]="pending"
                (click)="sendReset()">
            Forgot Password
        </button>
        <button mat-raised-button
                mat-dialog-close
                [disabled]="pending"
                cdkFocusInitial>Close</button>
    </mat-dialog-actions>
</ng-template>
