@use "@angular/material" as mat;
@import "../../../styles/colors.scss";

.moverow {
  position: relative;
}

.move {
  position: relative;
  background-color: rgba(95, 94, 94, 0.8);
  width: 35px;
  min-height: 25px;
  max-height: 35px;
  height: 11vh;
  border: 1px solid black;
  border-radius: 1px;
}

.move img {
  height: 100%;
  width: 100%;
}

.leftbombs,
.rightbombs {
  position: absolute;
  height: 100%;
  width: 32px;
  display: flex;
  align-items: center;
}

.leftbombs {
  left: -31px;
  flex-direction: row-reverse;
}

.rightbombs {
  left: 34px;
}

.bombempty {
  background: url("/assets/images/cannonempty.png") 100% no-repeat;
  padding-left: 25px;
  width: 24px;
  height: 24px;
  border: 1px solid black;
  border-radius: 16px;
}

.bombslot {
  background-color: rgba(95, 94, 94, 0.8);
  width: 16px;
  height: 16px;
  margin: -1px;
  border: 1px solid black;
  border-radius: 8px;
  pointer-events: none;
}

.unconfirmedShots::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  margin: -1px;
  margin-left: -7px !important;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.7);
  pointer-events: none;
}

.blocked {
  background-color: #999;
}

.bombmove {
  background: url("/assets/images/cannon.png") center/cover;
}

.selected {
  border: 2px solid mat.get-color-from-palette($primary);
}

.unconfirmed::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  pointer-events: none;
}

.token1, .token2 {
  background: url("/assets/images/cannon1.png") center/cover;
  background-position-x: 1px;
}

.token4, .token6, .token24, .token28, .token32, .token36 {
  background: url("/assets/images/arrow4.png") center/cover;
}

.token5, .token7, .token25, .token29, .token33, .token37 {
  background: url("/assets/images/arrow5.png") center/cover;
}

