#selected {
  position: absolute;
  top: 16px;
  left: 8px;
}

#selected div {
  transform: rotateX(45deg) rotateZ(-45deg);
}

#selected.hex div {
  transform: rotateX(60deg) rotateZ(-45deg);
}

#selected img {
  height: 25px;
  width: 25px;
}

.img1, .img2, .img3, .img50 {
  transform: rotate(45deg);
}

.hex .img1, .hex .img2, .hex .img3, .hex .img50, .img21, .img22, .img23 {
  transform: rotate(60deg) scale(0.7);
}

#handle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 24px;
  cursor: grab;
}

#tiles {
  position: absolute;
  top: calc(50% - 234px);
  right: 10px;
  width: 94px;
  padding: 8px;
  padding-top: 24px;
  z-index: 1;
}

#tiles img {
  margin: 4px;
  height: 30px;
  width: 30px;
}
