@if (map) {
  <div
    #selectedTile
    id="selected"
    [hidden]="map.settingsOpen">
    <div>
      <img src="./assets/images/obstacle{{map.selected}}.png"
        [class]="'img' + map.selected">
    </div>
  </div>
}

@if (map) {
  <div
    class="container noselect"
    id="tiles"
    [qDrag]="handle"
    [bindToWindow]="true">
    <div #handle
    id="handle"></div>
    @if (map.selectedTile.group === 'cgmaps' || map.selectedTile.group === 'fgmaps') {
      <div>
        @for (obstacle of cadeObstacles; track i; let i = $index) {
          <img
            src="./assets/images/obstacle{{obstacle}}.png"
            draggable="false"
            [matTooltip]="cadeTitles[i] || ''"
            (click)="map.selected = obstacle">
        }
        @for (flag of [21, 22, 23]; track $index) {
          <img
            src="./assets/images/obstacle{{flag}}.png"
            matTooltip="Flag"
            draggable="false"
            (click)="map.selected = flag">
        }
      </div>
    } @else {
      @for (obstacle of obstacles; track i; let i = $index) {
        <img
          src="./assets/images/obstacle{{obstacle}}.png"
          draggable="false"
          [matTooltip]="titles[i] || ''"
          (click)="map.selected = obstacle">
      }
    }
  </div>
}
