<div *ngIf="!disabled && (chat.selectedCommand$ | async) as command"
     class="col{{((chat.selectedCommand$ | async)?.params?.length || 0) + 1}}">
  <mat-select [panelWidth]="120"
              [value]="command"
              [matTooltip]="command.help"
              [matTooltipShowDelay]="500"
              (selectionChange)="focusChat(); chat.selectedCommand$.next($event.value)">
    <mat-option *ngFor="let item of chat.commands$ | async"
                [matTooltip]="item.help"
                [matTooltipShowDelay]="500"
                [value]="item">
      {{ item.title | titlecase }}
    </mat-option>
  </mat-select>

  <ng-container *ngFor="let param of command.params">
    <ng-container [ngSwitch]="param.name">
      <q-name-search *ngSwitchCase="'name'"
                     [onlineOnly]="true"
                     [matInput]="false"
                     [clearOnFocus]="false"
                     (keyup)="handleKey($event)"
                     [(value)]="param.value"></q-name-search>
      <q-name-search *ngSwitchCase="'nameany'"
                     [matInput]="false"
                     [clearOnFocus]="false"
                     (keyup)="handleKey($event)"
                     [(value)]="param.value"></q-name-search>

      <span *ngSwitchCase="'new'">new</span>

      <input *ngSwitchDefault
             [id]="param.name || 'message'"
             class="textinput"
             autocomplete="off"
             maxlength="200"
             name="value"
             [placeholder]="param.name"
             (keyup)="handleKey($event)"
             [(ngModel)]="param.value">
    </ng-container>
  </ng-container>
  <button mat-button
          id="send"
          (click)="sendInput($event)">Send</button>
</div>
