div {
  display: grid;
  grid-template-columns: 84px auto 64px;
  column-gap: 4px;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

div.col3 {
  grid-template-columns: 84px 100px auto 64px;
}

div.col4 {
  grid-template-columns: 84px 100px 100px auto 64px;
}

.textinput {
  width: 100%;
  padding: 3px 5px;
  background-color: #aaa;
  border: 1px solid black;
  transition: 0.3s;
}

::ng-deep .ng-dropdown-panel {
  width: auto !important;
}

::ng-deep input {
  background-color: #eee;
}

ng-select {
  position: relative;
  top: -27px;
  height: 23px;
}

::ng-deep .ng-select .ng-value-container {
  margin: auto;
  text-transform: capitalize !important;
}

q-name-search {
  width: 100px;
}

span {
  position: relative;
  top: -2px;
}

button{
  padding: 0;
  line-height: 23px;
  color: #eee;
}

.textinput:focus {
  background-color: #eee;
}

#help{
  min-width:25px !important;
  .mat-icon {
    font-size: 21px;
    color:yellow;
  }
}

#options{
  line-height:15px;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  text-transform: capitalize !important;
}