<button mat-button
        [color]="active ? 'primary' : undefined"
        class="boat"
        [style.borderColor]="teamColors[boat.team || 0]">
  {{boat.title}}
  <br>
  <div class="damage"
       matTooltip="{{boat.getDamage()}}%">
    <div class="damagebar"
         [style.transform]="'translateX(' + boat.getDamage() / 2 + 'px)'"></div>
  </div>
  <div class="bilge"
       matTooltip="{{boat.bilge || 0}}%">
    <div class="bilgebar"
         [style.transform]="'translateX(' + boat.bilge / 2 + 'px)'"></div>
  </div>
</button>
