<button mat-button
        [color]="active ? 'primary' : undefined"
        class="boat"
        [style.borderColor]="teamColors[boat.team || 0]">
  <span>
    {{fishNames ? boat.name : boat.title}} <mat-icon *ngIf="boat.attr?.[50]"
              matTooltip="This boat will be targetted by teammates">warning</mat-icon>
  </span>
  <br>
  <div class="damage"
       matTooltip="{{boat.getDamage()}}%">
    <div class="damagebar"
         [style.transform]="'translateX(' + boat.getDamage() / 2 + 'px)'"></div>
  </div>
  <div class="bilge"
       matTooltip="{{boat.bilge || 0}}%">
    <div class="bilgebar"
         [style.transform]="'translateX(' + boat.bilge / 2 + 'px)'"></div>
  </div>
</button>
