span {
  cursor: pointer;
}

.friend {
  color: hotpink;
}

.blocked {
  color: #aaa;
}

.you {
  color: aquamarine;
}

.admin {
  text-shadow: -1px -1px 0 goldenrod, 1px -1px 0 goldenrod, -1px 1px 0 goldenrod, 1px 1px 0 goldenrod;
}

p {
  color: #ddd;
  padding: 0 8px;
  margin: 0;
}
