span {
  cursor: pointer;
}

.friend {
  color: hotpink;
}

.blocked {
  color: #aaa;
}

.you {
  color: aquamarine;
}

.admin {
  text-shadow: -0.5px -0.5px 0 goldenrod, 0.5px -0.5px 0 goldenrod, -0.5px 0.5px 0 goldenrod, 0.5px 0.5px 0 goldenrod;
}

.bot {
  color: rgb(248, 122, 38);
}

p {
  color: #ddd;
  padding: 0 8px;
  margin: 0;
}
