<span [matMenuTriggerFor]="nameMenu"
  (menuOpened)="updateMenu()">
  <span [class.friend]="friend"
    [class.bot]="bot"
    [class.you]="message.from === ws.user.name"
    [class.admin]="message.admin && message.admin >= 3"
  [class.blocked]="blocked">{{message.from}}</span>
  @if (message.copy && message.copy > 1) {
    <span>({{message.copy}})</span>
  }
  @if (emoji) {
    <ngx-emoji
      [size]="16"
      [tooltip]="true"
    [emoji]="emoji"></ngx-emoji>
  }
  @if (message.ti) {
    <q-rank-circle
      [tier]="message.ti"
    [score]="message.sc || [0]"></q-rank-circle>
  }
</span>

<mat-menu #nameMenu="matMenu">
  <ng-template matMenuContent>
    @for (option of menuItems; track option) {
      <button
        mat-menu-item
      (click)="option.action()">{{ option.label | titlecase }}</button>
    }
  </ng-template>
</mat-menu>
