<span [matMenuTriggerFor]="nameMenu">
  <span [class.friend]="friend"
        [class.bot]="message.copy === 0"
        [class.you]="message.from === ws.user.name"
        [class.admin]="message.admin && message.admin >= 3"
        [class.blocked]="blocked">{{message.from}}</span>
  <span *ngIf="message.copy && message.copy > 1">({{message.copy}})</span>
  <ngx-emoji *ngIf="emoji"
             [size]="16"
             [tooltip]="true"
             [emoji]="emoji"></ngx-emoji>
  <q-rank-circle *ngIf="message.ti"
                 [tier]="message.ti"
                 [score]="message.sc || 0"></q-rank-circle>
</span>

<mat-menu #nameMenu="matMenu">
  <ng-template matMenuContent>
    <button *ngFor="let option of menuItems"
            mat-menu-item
            (click)="option.action()">{{ option.label | titlecase }}</button>
  </ng-template>
</mat-menu>
