<span *ngIf="message.from !== ws.user?.name || (message.from === 'Guest' && message.copy !== ws.copy); else you"
      [matMenuTriggerFor]="nameMenu"
      [class.hasTier]="message.ti !== undefined">
  <span [class.friend]="fs.isFriend(message.from)"
        [class.bot]="message.copy === 0"
        [class.admin]="message.admin && message.admin >= 3"
        [class.blocked]="fs.isBlocked(message.from)">{{message.from}}</span>
  <span *ngIf="message.copy && message.copy > 1">({{message.copy}})</span>
  <div *ngIf="message.ti !== undefined"
       [matTooltip]="tierTitles[message.ti] + ' (' + message.sc + ')'"
       class="tier {{tierTitles[message.ti]}}"></div>
</span>

<ng-template #you>
  <span [class.hasTier]="message.ti !== undefined">
    <span class="you"
          [class.admin]="message.admin && message.admin >= 3"
          [matMenuTriggerFor]="youMenu">{{message.from}}</span>
    <span *ngIf="message.copy && message.copy > 1">({{message.copy}})</span>
    <div *ngIf="message.ti !== undefined"
         [matTooltip]="tierTitles[message.ti] + ' (' + message.sc + ')'"
         class="tier {{tierTitles[message.ti]}}"></div>
  </span>
</ng-template>

<ng-template #guest>
  <p>Create an account to get a profile page.</p>
</ng-template>

<mat-menu #youMenu="matMenu">
  <ng-template matMenuContent>
    <button *ngIf="message.from !== 'Guest'; else guest"
            mat-menu-item
            (click)="openProfile()">
      Profile
    </button>
  </ng-template>
</mat-menu>

<mat-menu #nameMenu="matMenu">
  <ng-template matMenuContent>
    <button *ngIf="message.copy === 0; else notabot"
            mat-menu-item
            (click)="openProfile()">It's a bot</button>
    <ng-template #notabot>
      <button *ngIf="message.from !== 'Guest'"
              mat-menu-item
              (click)="openProfile()">
        Profile
      </button>
      <ng-container *ngIf="!offline">
        <button *ngFor="let cmd of chat.nameCommands"
                mat-menu-item
                (click)="sendCmd(cmd)">
          {{cmd.title | titlecase}}
        </button>
        <ng-container *ngIf="ws.user?.name !== 'Guest'">
          <button *ngIf="!fs.isFriend(message.from)"
                  mat-menu-item
                  (click)="add()">
            Add friend
          </button>
          <button *ngIf="!fs.isBlocked(message.from); else unblockButton"
                  mat-menu-item
                  (click)="block()">
            Block
          </button>
        </ng-container>
        <ng-template #unblockButton>
          <button mat-menu-item
                  (click)="unblock()">
            Unblock
          </button>
        </ng-template>
      </ng-container>
    </ng-template>
  </ng-template>
</mat-menu>
