:host {
  position: relative;
}

span {
  cursor: pointer;
}

.friend {
  color: hotpink;
}

.blocked {
  color: #aaa;
}

.you {
  color: aquamarine;
}

.admin {
  text-shadow:
    -0.5px -0.5px 0 goldenrod,
    0.5px -0.5px 0 goldenrod,
    -0.5px 0.5px 0 goldenrod,
    0.5px 0.5px 0 goldenrod;
}

.bot {
  color: rgb(248, 122, 38);
}

p {
  color: #ddd;
  padding: 0 8px;
  margin: 0;
}

ngx-emoji {
  position: relative;
  top: 3px;
  display: inline-block;
  margin-left: 4px;
}
