.Jolly {
  border-color: Orange;
}

.Ace {
  border-color: Purple;
}

.Diamond {
  border-color: aqua;
}

.Platinum {
  border-color: white;
}

.Gold {
  border-color: gold;
}

.Silver {
  border-color: silver;
}

.Bronze {
  border-color: brown;
}
