.Jolly {
  border-color: Orange;
}

.Ace {
  border-color: magenta;
}

.Diamond {
  border-color: aqua;
}

.Platinum {
  border-color: paleturquoise;
}

.Gold {
  border-color: gold;
}

.Silver {
  border-color: silver;
}

.Bronze {
  border-color: brown;
}

div[class~="2"] {
  border-width: 3px;
}

div[class~="1"] {
  border-width: 2px;
}
