<div class="container noselect"
     id="hud">
  <div id="boatcontrol"
       (contextmenu)="$event.preventDefault()">
    <div id="time">
      <div id="timebar"
           [style.transform]="'translateY(-' + (seconds$ | async) + 'px)'"></div>
    </div>

    <ng-template #noboat>
      <div id="noboat">
        <p>Right click a boat on the map to select it.</p>
        <p>Click flags to assign them to the selected boat.</p>
        <p>Click a tile to highlight boats assigned to it.</p>
      </div>
    </ng-template>

    <div id="boatsettings"
         *ngIf="activeBoat; else noboat">
      <p>Settings for "{{activeBoat.boat.title}}"</p>
      <table>
        <tr>
          <td class="label">Aggro: ({{activeBoat.Aggro}})</td>
          <td>
            <mat-slider [min]="0"
                        [max]="100"
                        [step]="10">
              <input matSliderThumb
                     [(value)]="activeBoat.Aggro"
                     (valueChange)="update()">
            </mat-slider>
          </td>
          <td><button mat-raised-button
                    (click)="syncToOtherBoats('Aggro')">Sync</button></td>
        </tr>
        <tr>
          <td class="label">Defense: ({{activeBoat.Defense}})</td>
          <td>
            <mat-slider [min]="0"
                        [max]="100"
                        [step]="10">
              <input matSliderThumb
                     [(value)]="activeBoat.Defense"
                     (valueChange)="update()">
            </mat-slider>
          </td>
          <td><button mat-raised-button
                    (click)="syncToOtherBoats('Defense')">Sync</button></td>
        </tr>
        <tr>
          <td class="label">Coverage: ({{activeBoat.Flag}})</td>
          <td>
            <mat-slider [min]="0"
                        [max]="100"
                        [step]="10">
              <input matSliderThumb
                     [(value)]="activeBoat.Flag"
                     (valueChange)="update()">
            </mat-slider>
          </td>
          <td><button mat-raised-button
                    (click)="syncToOtherBoats('Flag')">Sync</button></td>
        </tr>
        <tr>
          <td><button mat-raised-button
                    (click)="activeBoat.coverMode = 0; update()"
                    [color]="activeBoat.coverMode === 0 ? 'primary' : ''">Cover Flags</button></td>
          <td><button mat-raised-button
                    (click)="activeBoat.coverMode = 1; update()"
                    [color]="activeBoat.coverMode === 1 ? 'primary' : ''">Cover Tiles</button></td>
      </table>
    </div>

    <button *ngIf="(lobbySettings.turnTime.stream | async) === 65"
            mat-icon-button
            [color]="'accent'"
            [disabled]="!myBoat.isMe"
            [class.ready]="!myBoat.ready"
            id="hudReady"
            (click)="toggleReady()">
      <mat-icon>play_arrow</mat-icon>
    </button>
  </div>

  <div id="chat">
    <q-chat [disabled]="(es.open$ | async) || false"></q-chat>
  </div>
</div>
