<router-outlet></router-outlet>

<div id="replayControl"
     class="container">
  <button mat-icon-button
          (click)="prevTurn()"
          title="Previous turn">
    <mat-icon>skip_previous</mat-icon>
  </button>
  <button mat-icon-button
          (click)="togglePlay()">
    <mat-icon>{{ tickInterval ? 'pause' : 'play_arrow'}}</mat-icon>
  </button>
  <button mat-icon-button
          (click)="nextTurn()"
          title="Next turn">
    <mat-icon>skip_next</mat-icon>
  </button>

  <mat-slider [min]="0"
              [max]="messages.length-1"
              [value]="tick"
              (input)="playTo($event.value || 0)"></mat-slider>
</div>
