<q-lobby-wrapper></q-lobby-wrapper>
<div id="replayMenu"
     class="container"
     [qDrag]="handle"
     [bindToWindow]="true">
  <div #handle
       class="handle"></div>
  <q-replay-cadegoose [messages]="messages"
                      [tick]="tick"
                      [seed]="seed"
                      (pauseMatch)="pause()"
                      (playTo)="playTo($event)"></q-replay-cadegoose>
</div>

<div id="replayControl"
     class="">
  <button mat-icon-button
          (click)="prevTurn()"
          matTooltip="Previous turn">
    <mat-icon>skip_previous</mat-icon>
  </button>
  <button mat-icon-button
          (click)="togglePlay()">
    <mat-icon>{{ tickInterval ? 'pause' : 'play_arrow'}}</mat-icon>
  </button>
  <button mat-icon-button
          (click)="nextTurn()"
          matTooltip="Next turn">
    <mat-icon>skip_next</mat-icon>
  </button>

  <mat-slider [min]="0"
              [max]="messages.length-1">
    <input matSliderThumb
           [value]="tick"
           (input)="playTo(slider.valueAsNumber)"
           #slider>
  </mat-slider>
</div>
