#replayControl {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 95%;
  max-width: 900px;
  min-width: 320px;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  overflow-x: auto;
  background-color: rgba(66, 66, 66, 0.85);
  color: #eee;
  opacity: 0.5;
  transition: opacity 0.5s;

  display: flex;
  align-items: center;

  mat-slider {
    width: calc(100% - 170px);
  }

  &:hover {
    opacity: 1;
  }
}

#replayMenu {
  position: absolute;
  left: 10px;
  top: calc(50% - 220px);
  width: 170px;
  height: 400px;
  padding: 0;
  padding-top: 24px;
  text-align: center;
  border: 1px solid black;
  background-color: rgba(66, 66, 66, 0.85);
  color: #eee;
}

.handle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 24px;
  cursor: grab;
}
