.dismiss {
  display: flex;
  justify-content: flex-end;
}

.star mat-icon {
  color: gold;
  font-size: 16px;
}

.mat-chip-list .mat-chip {
  width: auto;
  min-width: 0;
}

.divider {
  margin-top: 5px;
}
