:host {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

div {
  display: inline-block;
  text-align: center;
  font-size: 11px;
  color: #eee;
}

mat-checkbox {
  height: 20px;
  top: -10px;
}

.cannons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30px;
  height: 67px;
}

mat-radio-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
}

.moveRadio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 37px;
}

// needed to squeeze the radio buttons in the small space
:host ::ng-deep {
  mat-radio-button div.mdc-form-field {
    transform: scale(0.6);
    --mat-radio-state-layer-size: 20px;
    margin-left: 4px;
  }
}

.move {
  position: relative;
  background-color: rgba(95, 94, 94, 0.8);
  width: 35px;
  height: 35px;
  border: 1px solid black;
  border-radius: 1px;
}

.move img {
  height: 100%;
  width: 100%;
}

.move1 {
  background: url("/assets/images/arrow1empty.png") center/cover;
}

.move2 {
  background: url("/assets/images/arrow2empty.png") center/cover;
}

.move3 {
  background: url("/assets/images/arrow3empty.png") center/cover;
}

.bombempty {
  background: url("/assets/images/cannonempty.png") 100% no-repeat;
  width: 24px;
  height: 24px;
  border: 1px solid black;
  border-radius: 12px;
}

.bombmove {
  background: url("/assets/images/cannon.png") center/cover;
}
