<mat-checkbox class="moveCheck"
              [(ngModel)]="auto"
              title="Auto"
              (change)="changeWantMove()">
</mat-checkbox>
<div class="cannons">
  <div class="bombempty"
       [draggable]="unusedTokens.shots > 0"
       (dragstart)="drag(6)"
       [class.bombmove]="unusedTokens.shots > 0"></div><br>
  <span class="cannontext">{{unusedTokens.shots}}X</span>
</div>
<mat-radio-group [(ngModel)]="wantMove"
                 (change)="changeWantMove()">
  <div>
    <mat-radio-button [style.paddingLeft]="'10px'"
                      [value]="1"
                      [disabled]="auto">
    </mat-radio-button>
    <br>
    <div class="move move1"
         [title]="tokenStrings[0]">
      <img [style.opacity]="unusedTokens.moves[0] ? 1 : 0"
           name="left"
           draggable="true"
           src="./assets/images/arrow1.png"
           (dragstart)="drag(1)">
    </div>
    <br>
    {{unusedTokens.moves[0]}}X
  </div>
  <div>
    <mat-radio-button [style.paddingLeft]="'10px'"
                      [value]="2"
                      [disabled]="auto">
    </mat-radio-button>
    <br>
    <div class="move move2"
         [title]="tokenStrings[1]">
      <img [style.opacity]="unusedTokens.moves[1] ? 1 : 0"
           name="forward"
           draggable="true"
           src="./assets/images/arrow2.png"
           (dragstart)="drag(2)">
    </div>
    <br>
    {{unusedTokens.moves[1]}}X
  </div>
  <div>
    <mat-radio-button [style.paddingLeft]="'10px'"
                      [value]="3"
                      [disabled]="auto">
    </mat-radio-button>
    <br>
    <div class="move move3"
         [title]="tokenStrings[2]">
      <img [style.opacity]="unusedTokens.moves[2] ? 1 : 0"
           name="right"
           draggable="true"
           src="./assets/images/arrow3.png"
           (dragstart)="drag(3)">
    </div>
    <br>
    {{unusedTokens.moves[2]}}X
  </div>
</mat-radio-group>
