<div *ngIf="ws.connected && stat.leadersOpen" id="leaders" class="container"
  [qdrag]="handle" bindToWindow>
  <div #handle class="handle"></div>
  <mat-icon class="close" (click)="stat.leadersOpen=false">close</mat-icon>
  <mat-icon class="refresh" (click)="stat.refreshLeaders()">refresh</mat-icon>
  <h2>{{stat.groupName}}</h2>
  <div id="selection">
    <table>
      <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Value</th>
        <th *ngFor="let c of stat.columns">{{c.title}}</th>
      </tr>
      <tr *ngFor="let row of stat.leaders; let i = index">
        <td>{{i+1}}</td>
        <td>
          <app-name [message]="row"></app-name>
        </td>
        <td>{{row.value}}</td>
        <td *ngFor="let c of stat.columns">{{row[c.property]}}</td>
      </tr>
    </table>
  </div>
</div>
