<div class="playerCount"
     (mouseover)="showTeams = true"
     (mouseleave)="showTeams = false">
  {{playerLength}}
  <div class="teamList"
       (click)="$event.stopPropagation()"
       [class.visible]="showTeams && teams.length">
    <table>
      <tr>
        <ng-container *ngFor="let team of teamImages; let i = index">
          <th *ngIf="teams[i]?.length">
            <img [src]="team.src"
                 [matTooltip]="team.title">
          </th>
        </ng-container>
      </tr>
      <tr>
        <ng-container *ngFor="let team of teams">
          <td *ngIf="team?.length">
            <q-name *ngFor="let p of team"
                    [message]="p"></q-name>
          </td>
        </ng-container>
      </tr>
    </table>
  </div>
</div>
