<div class="playerCount"
  (mouseover)="showTeams = true"
  (mouseleave)="showTeams = false">
  {{playerLength}}
  <div class="teamList"
    [class.visible]="showTeams && teams.length"
    (click)="$event.stopPropagation()">
    <table>
      <tr>
        @for (team of teamImages; track team; let i = $index) {
          @if (teams[i]?.length) {
            <th>
              <img [src]="team.src"
                [matTooltip]="team.title">
            </th>
          }
        }
      </tr>
      <tr>
        @for (team of teams; track team) {
          @if (team?.length) {
            <td>
              @for (p of team; track p) {
                <q-name
                [message]="p"></q-name>
              }
            </td>
          }
        }
      </tr>
    </table>
  </div>
</div>
