<q-lobby-wrapper></q-lobby-wrapper>

<div id="replayMenu"
  class="container"
  [qDrag]="handle"
  [bindToWindow]="true">
  <div #handle
  class="handle"></div>

  <mat-tab-group [(selectedIndex)]="tabIndex"
    (selectedIndexChange)="clickTurn()">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>turn_right</mat-icon>
      </ng-template>

      <div #turnTab>
        @for (turn of turns; track turn.index) {
          <button
            mat-button
            class="turn"
            [color]="turn === activeTurn ? 'primary' : undefined"
            (click)="clickTurn(turn)">
            Turn {{turn.turn}}<br>
            <div class="sinks">
              @for (team of turn.teams; track i; let i = $index; let odd = $odd) {
                <div
                  [class.right]="odd">
                  @for (sink of team.sinks; track $index) {
                    <mat-icon
                    [matTooltip]="sink.message">sailing</mat-icon>
                  }
                </div>
              }
            </div>
            <div class="points">
              @for (team of turn.teams; track i; let i = $index) {
                <div
                  [style.backgroundColor]="teamColors[i]"
                  [matTooltip]="'' + team.scoreChange"
                [style.width]="50 * team.scoreChange / maxScore+ 'px'"></div>
              }
            </div>
          </button>
        }
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>show_chart</mat-icon>
      </ng-template>

      <div #moveTab
        id="moveTab">
        @if (activeMove) {
          <p>Your move {{activeMove.movesString}} is {{activeMove.tier}} based on available options.</p>
          <p>Rating: {{activeMove.Score.toFixed(2)}}</p>
          <p>Shot Incline: {{(activeMove.ShotsHit - activeMove.ShotsTaken).toFixed(2)}}</p>
          <p>Point Incline: {{activeMove.PointGain.toFixed(2)}}</p>
          <p>Rocks Eaten: {{activeMove.RocksBumped.toFixed(2)}}</p>
          @if (missedShots.length) {
            <p
            class="alert">Missed shots ({{missedShots.length}}): {{missedShots.join(', ')}}</p>
          }
          <br>
            @if (activeMove.WreckedBy?.length; as wreckedBy) {
              <p>Moves that wreck you ({{wreckedBy}}):
              {{activeMove.wreckedByString.join(', ')}}</p>
            }
            @if (activeMove.Wrecks?.length; as wrecks) {
              <p>Moves that you wreck ({{wrecks}}):
              {{activeMove.wrecksString.join(', ')}}</p>
            }
            @if (activeMove.BlockedBy?.length; as blockedBy) {
              <p>Moves that block you ({{blockedBy}}):
              {{activeMove.blockedByString.join(', ')}}</p>
            }
            @if (activeMove.Blocks?.length; as blocks) {
              <p>Moves that you block ({{blocks}}):
              {{activeMove.blocksString.join(', ')}}</p>
            }
            <br>
              <p>Your best moves: {{bestMoves.score.join(', ')}}</p>
              <p>Your safest moves: {{bestMoves.safest.join(', ')}}</p>
              <p>Your coverage moves: {{bestMoves.points.join(', ')}}</p>
              <p>Your +shots moves: {{bestMoves.plusShots.join(', ')}}</p>
            } @else {
              <p>Enter boat moves then press the green arrow to analyze.</p>
            }
            <!--
            <button *ngFor="let move of moves"
              mat-button
              class="turn">
              Moves: {{move.Moves.join('')}}<br>
              Score: {{move.Score.toFixed(2)}}<br>
              Shot Incline: {{(move.ShotsHit - move.ShotsTaken).toFixed(2)}}<br>
              Point Incline: {{move.PointGain.toFixed(2)}}<br>
            </button> -->
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
