@import '../replay/cadegoose/cadegoose.component.scss';

.container.noselect {
  height: 50vh;
  min-height: 120px;
  max-height: 160px;
}

#replayMenu {
  position: absolute;
  left: 10px;
  top: calc(50% - 220px);
  width: 170px;
  height: 400px;
  padding: 0;
  padding-top: 24px;
  text-align: center;
  border: 1px solid black;
  background-color: rgba(66, 66, 66, 0.85);
  color: #eee;
}

.handle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 24px;
  cursor: grab;
}

p {
  font-size: 12px;
  margin: 0;
}

.alert {
  color: orange;
}

#moveTab p {
  margin: 8px;
  font-size: 12px;
}

@media only screen and (max-height: 350px) {
  .container {
    height: 40vh;
  }
  .move {
    height: 9vh;
  }
}
