<q-lobby-wrapper></q-lobby-wrapper>

<div id="replayMenu"
     class="container"
     [qDrag]="handle"
     [bindToWindow]="true">
  <div #handle
       class="handle"></div>

  <mat-tab-group [(selectedIndex)]="tabIndex" (selectedIndexChange)="clickTurn()">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>turn_right</mat-icon>
      </ng-template>

      <div #turnTab>
        <button *ngFor="let turn of turns"
                mat-button
                [color]="turn === activeTurn ? 'primary' : undefined"
                class="turn"
                (click)="clickTurn(turn)">
          Turn {{turn.turn}}<br>
          <div class="sinks">
            <div *ngFor="let team of turn.teams; let i = index; let odd = odd"
                 [class.right]="odd">
              <mat-icon *ngFor="let sink of team.sinks"
                        [title]="sink.message">sailing</mat-icon>
            </div>
          </div>

          <div class="points">
            <div *ngFor="let team of turn.teams; let i = index"
                 [style.backgroundColor]="teamColors[i]"
                 [title]="team.scoreChange"
                 [style.width]="50 * team.scoreChange / maxScore+ 'px'"></div>
          </div>
        </button>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>show_chart</mat-icon>
      </ng-template>

      <div #moveTab id="moveTab">
        <ng-container *ngIf="activeMove; else noActiveMove">
          <p>Your move {{activeMove.Moves}} is {{activeMove.tier}} based on available options.</p>
          <p>Rating: {{activeMove.Score.toFixed(2)}}</p>
          <p>Shot Incline: {{(activeMove.ShotsHit - activeMove.ShotsTaken).toFixed(2)}}</p>
          <p>Point Incline: {{activeMove.PointGain.toFixed(2)}}</p>
          <p>Rocks Eaten: {{activeMove.RocksBumped.toFixed(2)}}</p>
          <p *ngIf="missedShots.length" class="alert">Missed shots ({{missedShots.length}}): {{missedShots.join(', ')}}</p>
          <br>
          <p *ngIf="activeMove.WreckedBy?.length">Moves that wreck you ({{activeMove.WreckedBy.length}}): {{activeMove.WreckedBy.join(', ')}}</p>
          <p *ngIf="activeMove.Wrecks?.length">Moves that you wreck ({{activeMove.Wrecks.length}}): {{activeMove.Wrecks.join(', ')}}</p>
          <p *ngIf="activeMove.BlockedBy?.length">Moves that block you ({{activeMove.BlockedBy.length}}): {{activeMove.BlockedBy.join(', ')}}</p>
          <p *ngIf="activeMove.Blocks?.length">Moves that you block ({{activeMove.Blocks.length}}): {{activeMove.Blocks.join(', ')}}</p>
          <br>
          <p>Your best moves: {{bestMoves.score.join(', ')}}</p>
          <p>Your safest moves: {{bestMoves.safest.join(', ')}}</p>
          <p>Your coverage moves: {{bestMoves.points.join(', ')}}</p>
          <p>Your +shots moves: {{bestMoves.plusShots.join(', ')}}</p>
        </ng-container>
        <ng-template #noActiveMove>
          <p>Enter boat moves then press the green arrow to analyze.</p>
        </ng-template>
<!--         
        <button *ngFor="let move of moves"
                mat-button
                class="turn">
          Moves: {{move.Moves.join('')}}<br>
          Score: {{move.Score.toFixed(2)}}<br>
          Shot Incline: {{(move.ShotsHit - move.ShotsTaken).toFixed(2)}}<br>
          Point Incline: {{move.PointGain.toFixed(2)}}<br>
        </button> -->
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
