@import "./styles/theme.scss";

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(86, 86, 86);
  border: 2px solid #555555;
}

body {
  overflow: hidden;
  overscroll-behavior-y: none;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: black; // added for white bars on mobile
}

.mat-mdc-tooltip-panel {
  pointer-events: none;
}

button {
  padding: 3px 8px;
}

.noselect {
  user-select: none;
}

.hidden {
  display: none;
}

.container {
  border: 1px solid gray;
  border-radius: 20px;
  background-color: rgba(112, 123, 124, 0.85);
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

.error {
  max-width: 500px;
  margin: 8px auto;
  padding: 4px 8px;
  color: #f7dc6f;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.top {
  position: absolute;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 100;
}

html,
body {
  height: 100%;
}
