<div id="spadeTable">
  <div id="ourscore"
       *ngIf="lobby.scores">
    <p><span *ngIf="lobby.players[0]"
            [class.me]="lobby.players[0].sId === ws.sId">{{lobby.players[0].name}}</span>
      /
      <span *ngIf="lobby.players[2]"
            [class.me]="lobby.players[2].sId === ws.sId">{{lobby.players[2].name}}</span>
    </p>
    {{lobby.scores[0]}} / {{lobby.playTo}}
  </div>
  <div id="theirscore"
       *ngIf="lobby.scores">
    <p><span *ngIf="lobby.players[1]"
            [class.me]="lobby.players[1].sId === ws.sId">{{lobby.players[1].name}}</span>
      /
      <span *ngIf="lobby.players[3]"
            [class.me]="lobby.players[3].sId === ws.sId">{{lobby.players[3].name}}</span>
    </p>
    {{lobby.scores[1]}} / {{lobby.playTo}}
  </div>

  <q-card *ngFor="let card of lobby.played"
          [id]="'played'+card.position"
          class="played"
          [card]="card"></q-card>

  <q-last-trick *ngIf="lobby.lastTrick.length"
                [cards]="lobby.lastTrick">
  </q-last-trick>
  <q-spot [lobby]="lobby"></q-spot>
  <q-timer *ngIf="lobby.playing"
           (expire)="timeUp()"></q-timer>

  <div id="myHand">
    <q-card *ngFor="let card of cards; let i = index"
            [card]="card"
            (click)="click(card)"
            [class.valid]="card.valid"
            [class.selected]="card.selected">
    </q-card>
  </div>
</div>

<div class="container noselect"
     id="hud">
  <div id="chat">
    <q-chat [disabled]="(es.open$ | async) || false"></q-chat>
  </div>
</div>
