:host {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 40px 2% 0 2%;
  background: 0/cover url('/assets/background.jpg');
  overflow: auto;
}

#spadeTable {
  position: relative;
  height: calc(100% - 200px);
  width: 95%;
  margin: auto;
  max-width: 750px;
  min-width: 320px;
  background: center/cover url('/assets/table.jpg');
  border: 1px solid grey;
  border-radius: 20px;
  overflow: hidden;
  color: #eee;
  text-align: center;
  user-select: none;
}

#myHand {
  position: absolute;
  bottom: 2%;
  width: 100%;
  text-align: center;
  padding-right: 50px;
}

.me {
  color: aquamarine;
}

q-card {
  transform: translateY(0);
}

q-card.played {
  transition: .5s;
}

q-card.valid:hover {
  transform: translateY(-6px);
}

q-card.selected {
  transform: translateY(-12px) !important;
}

q-last-trick {
  position: absolute;
  bottom: 250px;
  left: 10%;
}

q-timer {
  position: absolute;
  bottom: 184px;
  right: 140px;
  width: 16px;
  height: 64px;
}

#ourscore, #theirscore {
  position: absolute;
  top: 12px;
  min-width: 100px;
}

#ourscore {
  left: 12px;
}

#theirscore {
  right: 12px;
}

.played {
  position: absolute;
  top: calc(50% - 40px);
  left: 50%;
}

#playedwest {
  transform: translate(-83px, -50%);
}

#playednorth {
  transform: translate(-36px, -114px);
}

#playedeast {
  transform: translate(10px, -50%);
}

#playedsouth {
  transform: translate(-36px, 0);
}

#hud {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  max-width: 750px;
  min-width: 320px;
  padding: 12px;
  z-index: 10;
}
