<div *ngFor="let m of maneuvers; let i = index"
     (click)="setWantToken(i)"
     [matTooltip]="m.title + ' - ' + (unusedTokens.maneuvers[i] || 0) + '%'"
     [class.want]="wantManeuver === i"
     [class]="m.class">
  <img *ngIf="(unusedTokens.maneuvers[i] || 0) > 0"
       class="maneuver"
       draggable="true"
       (dragstart)="dragManeuver(m.id)"
       [class.usable]="(unusedTokens.maneuvers[i] || 0) >= 100"
       [style.maxHeight]="(unusedTokens.maneuvers[i] || 0) + '%'"
       src="./assets/images/arrow{{m.id}}.png">
  <img *ngIf="(unusedTokens.maneuvers[i] || 0) > 100"
       class="maneuver"
       draggable="true"
       (dragstart)="dragManeuver(m.id + 1)"
       [class.usable]="(unusedTokens.maneuvers[i] || 0) >= 200"
       [style.maxHeight]="(unusedTokens.maneuvers[i] || 0) - 100 + '%'"
       src="./assets/images/arrow{{m.id + 1}}.png">
</div>
