.spot {
  position: absolute;
}

.spot mat-slider {
  width: 200px;
}

.busted {
  color: red;
}

.ready {
  color: yellow;
}

.name {
  background: rgba(66, 66, 66, .8);
  border-radius: 8px;
}

#west {
  top: calc(50% - 40px);
  left: 10%;
  transform: translateY(-50%);
}

#north {
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

#east {
  top: calc(50% - 40px);
  right: 10%;
  transform: translateY(-50%);
}

#south {
  bottom: 160px;
  left: 50%;
  transform: translateX(-50%);
}
