button {
  margin-right: 10px;
  margin-top: 2px;
  margin-left: 10px;
  background: rgb(199, 33, 33);
  max-width: 90px;
}

.filterButton {
  justify-content: center;
}

#maps {
  height: calc(100vh - 435px);
  min-height: 25vh;
}

q-map-card {
  display: block;
  height: 300px;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flex-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1px;
  flex: 1;
}

.search {
  flex: 1 1 auto;
}

.filter {
  justify-content: flex-end;
  padding-right: 5px;
  margin-top: 5px;
}

.shrink {
  flex-shrink:1;
}

.flex-item .button{
  margin-left: 20px;
}

.item{
  text-align: center;
}

::ng-deep .mat-chip-list-wrapper{
  margin: 5px !important;
}

#searchLabel {
  margin-right: 5px;
}

mat-tab{
  height: 100%;
  min-height: 200px;
}