@use "@angular/material" as mat;
@import "../../../styles/colors.scss";

:host {
  position: relative;
}

#maps {
  height: calc(100vh - 450px);
  min-height: 300px;
}

q-map-card {
  display: block;
  margin-top: 15px;
}

::ng-deep .selected mat-card {
  border: 2px solid mat.get-color-from-palette($accent);
}

#mapSearch {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-top: 16px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 12px;
}
