button {
  margin-right: 10px;
  margin-top: 2px;
  background: rgb(199, 33, 33);
}

#maps {
  height: calc(100vh - 400px);
}

q-map-card {
  display: block;
  height: 300px;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flex-item{
  margin-top: 10px;
  flex:1
}

.item{
  margin-top: 10px;
  text-align: center;
}

::ng-deep .mat-chip-list-wrapper{
  margin: 5px !important;
}

.star mat-icon {
  color: gold;
  font-size: 16px;
}