.item{
    margin:auto;
    margin-top:10px;
    width:100%;
    text-align: center;
}

button{
    margin-right: 10px;
    margin-top: 2px;
    background: rgb(199, 33, 33);
}

#container{
    overflow:hidden;
}

.card{
    margin:auto;
}

#maps{
    margin:auto;
    height: 800px;
    width: 100%;
}