<div class="flex">             
    <button mat-raised-button (click)="openFilterWindow()">Filter</button>
    <mat-form-field style="margin-top: 15px;">
      <mat-label>Sort by:</mat-label>
      <mat-select [(value)]="selectedSortOption"
                  (selectionChange)="sort($event.value)">
        <mat-option *ngFor="let option of sortList" [value]="option">{{option}}</mat-option>
      </mat-select>
    </mat-form-field>
</div>

<div class="flex-item">
  <span id="searchLabel">Search Map: </span>
  <input type="text" 
          placeholder="search by map name, user or tags..."
          (keyup.enter) = "filter()"
          [(ngModel)]="data">
  <button mat-raised-button (click)="filter()">Search</button>  
</div>   

<div class="item">
  <mat-chip-list>
    <mat-chip *ngFor="let tag of selectedFilters"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="removeTag(tag)">
              <ng-container *ngIf="+tag else string">
                <q-rating [rating]="+tag"
                          [forTags]="true"></q-rating>
              </ng-container>
              <ng-template #string>{{tag}}</ng-template>
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>

<div class="item">
  <button mat-raised-button
          (click)="selectMap(-1)"
          matTooltip="Random User Map">Random</button>
</div>

<cdk-virtual-scroll-viewport id="maps"
                             [itemSize]="300"
                             [minBufferPx]="400"
                             [maxBufferPx]="600">
  <q-map-card *cdkVirtualFor="let m of maplist"
              [map]="m"
              [setting]="setting"
              [generatedSeed] = "generatedSeed"
              (selectedMap)="selectMap($event)"></q-map-card>
</cdk-virtual-scroll-viewport>
