<div #background>
  <q-twod-render #renderer
    [speed]="graphicSettings.speed.value"
    [ctrlZoom]="advancedMapOpen"
    [setTile]="advancedMapOpen ? setTile.bind(this) : 0"
    [undo]="undo"
    [editor]="editor"
  [graphicSettings]="graphicSettings"></q-twod-render>
</div>
@if (advancedMapOpen) {
  <q-obstacles
    [map]="editor"
    [background]="background">
  </q-obstacles>
}

<div id="advancedMap"
  class="container"
  [hidden]="!advancedMapOpen"
  [qDrag]="handle"
  [bindToWindow]="true">
  <div #handle
  class="handle"></div>
  <q-advanced-map (seedChange)="updateSeed($event)"></q-advanced-map>
</div>

<q-mapinfo-hud [mapInfo]="mapInfo"></q-mapinfo-hud>
