<mat-card>
  <mat-card-header>
    <mat-card-title>BA Interface Test</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>Shift click the map to select the nearest boat.</p>
    <p>Ctrl click the map to paint multiple tiles in one click.</p>
    <p>Ctrl + z to undo</p>
    <p>Ctrl + y to redo</p>
    <hr>
    <p>Flag coverage lets the bot figure out the best way to balance coverage and risk. They will only consider flags
      selected for them.</p>
    <p>Tile coverage forces the bot to always end on the selected tiles (unless unexpected bump).</p>
    <p>The last clicked tile will have a blue outline. All boats with coverage on this tile will have a blue border in
      the boat list.</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button
            (click)="es.openMenu(false)">Close</button>
  </mat-card-actions>
</mat-card>
