<div *ngFor="let obj of clutter"
     class="clutter"
     [style.transform]="obj.transform">

  <div class="size{{obj.t}}"
       style="--speed: {{10/speed}};">
    <div class="shot"
         class="dir{{obj.dir}} dis{{obj.dis}}"></div>
    <div *ngIf="obj.dbl"
         class="dir{{obj.dir}} dis{{obj.dis}}"
         class="shot double"></div>
    <div class="smoke"></div>
  </div>
</div>

<img *ngIf="showIsland"
     id="island"
     src="/assets/images/alkaid_island.png">

<div *ngFor="let boat of boats; trackBy: trackBoatBy"
     class="boat team{{boat.team}}"
     [class.sameteam]="boat.team === myBoat.team"
     [style.opacity]="boat.opacity"
     [style.transform]="'translate(' + render(boat).coords?.x + 'px, ' + render(boat).coords?.y  + 'px)'">
  <div class="boatheader"
       *ngIf="boat.name || boat.isMe">
    <span class="boattitle"
          [class.isme]="boat.isMe">
      {{boat.renderName}}
    </span>

    <div class="movebar"
         [class.ready]="boat.ready">
      <div *ngFor="let move of boat.moves"
           class="movebarslice {{moveNames[move]}}">
      </div>
    </div>

    <div class="flags">
      <div *ngFor="let flag of render(boat).flags"
           [style.backgroundPositionX]="flag.offset"></div>
    </div>
  </div>

  <div [style.opacity]="boat.renderName === boat.title ? 1 : 0"
       [style.width]="boat.influence*50 + 'px'"
       [style.height]="boat.influence*50 + 'px'"
       class="influence"></div>

  <q-gu-boat-img [render]="render(boat)" (click)="clickBoat(boat)"
                 (mouseenter)="hoveredTeam = boat.team || 0"
                 (mouseleave)="hoveredTeam = -1"></q-gu-boat-img>
</div>
