<mat-tab-group [(selectedIndex)]="ss.tabIndex"
               mat-align-tabs="center">
  <mat-tab label="Lobby"
           *ngIf="ss.lAdminSettings.length">
    <mat-card>
      <h4>Lobby Owner Settings</h4>
      <div class="settings">
        <q-setting *ngFor="let s of ss.lAdminSettings"
                   [name]="s"></q-setting>
      </div>
    </mat-card>
  </mat-tab>

  <mat-tab label="Graphics">
    <mat-card>
      <div class="settings">
        <q-setting name="speed"></q-setting>
        <q-setting name="maxFps"></q-setting>
        <q-setting name="water"></q-setting>
        <q-setting name="showFps"></q-setting>
      </div>
    </mat-card>
  </mat-tab>

  <mat-tab label="Controls">
    <mat-card>
      <div class="settings">
        <q-setting name="kbControls"></q-setting>
        <q-setting name="lockAngle"></q-setting>
      </div>
    </mat-card>

    <mat-card>
      <q-key-binding *ngIf="kbs.activeBindings"></q-key-binding>
    </mat-card>
  </mat-tab>

  <mat-tab *ngIf="ws.user?.id"
           label="Account">
    <q-account></q-account>
  </mat-tab>
</mat-tab-group>
