<mat-tab-group [(selectedIndex)]="ss.tabIndex"
               mat-align-tabs="center">

  <mat-tab label="Sounds">
    <mat-card>
      <div class="settings">
        <q-setting name="soundMaster"></q-setting>
        <q-setting name="soundNotify"
                   (valueChange)="sound.play(Sounds.Notification)"></q-setting>
        <q-setting name="soundShip"
                   (valueChange)="sound.play(Sounds.CannonFireBig)"></q-setting>
        <q-setting name="soundAlert"
                   (valueChange)="sound.play(Sounds.BattleStart)"></q-setting>
      </div>
    </mat-card>
  </mat-tab>

  <mat-tab label="Graphics">
    <mat-card>
      <div class="settings">
        <q-setting name="speed"></q-setting>
        <q-setting name="maxFps"></q-setting>
        <q-setting name="water"></q-setting>
        <q-setting name="showFps"></q-setting>
        <q-setting name="mapScale"></q-setting>
        <q-setting name="renderMode"></q-setting>
      </div>
    </mat-card>
  </mat-tab>

  <mat-tab label="Controls">
    <mat-card>
      <div class="settings">
        <q-setting name="kbControls"></q-setting>
        <q-setting name="alwaysChat"></q-setting>
        <q-setting name="lockAngle"></q-setting>
      </div>
    </mat-card>

    <mat-card>
      <q-key-binding *ngIf="kbs.activeBindings"></q-key-binding>
    </mat-card>
  </mat-tab>

  <mat-tab *ngIf="ws.user?.id"
           label="Account">
    <q-account></q-account>
  </mat-tab>
</mat-tab-group>
