<mat-tab-group [(selectedIndex)]="ss.tabIndex"
               mat-align-tabs="center">
  <mat-tab label="Lobby">
    <p *ngIf="ss.lSettings.length === 0; else lobby"
       class="empty">
      This lobby does not have any settings for you.
    </p>
    <ng-template #lobby>
      <mat-card>
        <div class="settings">
          <q-setting *ngFor="let s of ss.lSettings"
                     [name]="s"></q-setting>
        </div>
      </mat-card>

      <mat-card *ngIf="ss.lAdminSettings.length">
        <h4>Lobby Owner Settings</h4>
        <div class="settings">
          <q-setting *ngFor="let s of ss.lAdminSettings"
                     [name]="s"></q-setting>
        </div>
      </mat-card>
    </ng-template>
  </mat-tab>

  <mat-tab label="Graphics">

  </mat-tab>

  <mat-tab label="Controls">

  </mat-tab>

  <mat-tab label="Account">
    <q-account></q-account>
  </mat-tab>
</mat-tab-group>
